button{
  border: none;
}
button.icon {
  background-color: inherit;
  min-width: 16px;
  min-height: 16px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
}
button.icon.delete-gr{
  background-image: url('../../assets/pic-btn-del-gray.svg');  
}
button.icon.delete{
  background-image: url('../../assets/pic-btn-del.svg');  
}
button.icon.edit{
  background-image: url('../../assets/pic-btn-edit.svg');  
}
button.icon.edit-w{
  background-image: url('../../assets/pic-btn-edit-w.svg');  
}


.edit-form .btns.size56 {
  gap: 8px;
  display: flex;
  button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    height: 56px;
    min-width: 56px;
    border-radius: 6px;
    padding: 6px;

    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    text-align: center;
  }

  button.save {
    background-color: #DB563B;
  }
  button.del {
    background-color: black;
  }
  button.cancel {
    background-color: #606A74;
  }

  button::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
  button.save::before {
    background-image: url('../../assets/pic-btn-save.svg');
  }
  button.del::before {
    background-image: url('../../assets/pic-btn-del.svg');
  }
  button.cancel::before {
    background-image: url('../../assets/pic-btn-cancel.svg');
  }

}

button.long{
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  &::before{
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 6px;
  }
  &.save{
    background-color: #DB563B;
    color: white;
    &::before{
      background-image: url('../../assets/pic-btn-save.svg');
    }
  }
}