/* .content{
  --header_menu: #4B66AD;
  --header_menu_text: #FFFFFF;
  --background: #F7F9FC;
  --background2: #FFFFFF;
  --background3: #83909e;
  --text: #212121;
  --text2: #606a74;
  --text3: #FFFFFF;
  --line: #E0E5EB;
  --accent: #db563b;
  --accent_text: #FFFFFF;
  --event_positive: #81dd7c;
  --event_positive_text: #FFFFFF;
  --event_negative: #fd7171;
  --event_negative_text: #FFFFFF;
  --event_neutral: #aab7c5;
  --event_neutral_text: #FFFFFF;
} */

