/* const */
body{
  --mat-option-selected-state-label-text-color: var(--accent,  #DB563B);
  --mat-option-label-text-line-height: 15px;
  --mat-option-label-text-size: 13px;

  --mat-menu-item-label-text-line-height:13px;
  --mat-menu-item-label-text-size:13px;

  --mat-table-header-container-height:48px;
  --mat-table-header-headline-line-height:13px;
  --mat-table-header-headline-size:13px;
}

/* components */
/* popap-analytics */
.popap-analytics .cross {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.popap-analytics .mat-mdc-dialog-content {
  border-top: 1px solid #9ca6b1;
  background-color: #F7F9FC;
}

/* MAT SELECT */
form mat-select.mat-mdc-select, /* для форм */
.filter .additional mat-select.mat-mdc-select { /* для доп фильтров */
  /* базовый дизайн мат селектора */
  background: #F7F9FC;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  .mat-mdc-select-trigger {
    border: 1px solid var(--line);
    border-radius: 6px;
    padding: 0 13px; margin: 0;
    box-sizing: border-box;
    height: 40px;
  } 
}
form .bg mat-select.mat-mdc-select {background: white;}
app-paginator mat-select.mat-mdc-select/* для пагинатора */{
  font-size: 13px;
  line-height: 15px;
  color: #606A74;
  .mat-mdc-select-trigger {
    box-shadow: 0px 2px 8px 0px rgba(36, 45, 67, 0.08);
    background: white;
    border-radius: 6px;
    padding: 0 13px; margin: 0;
    box-sizing: border-box;
    height: 40px;
  } 
}
/* стрелочка в мат селекторах */
mat-select .mat-mdc-select-arrow {
  background: url('../../assets/pic-select-arrow.svg') no-repeat;
  width: 10px; height: 10px;
  background-position: center;
  svg {display: none;}
}
mat-select[aria-expanded='true'] .mat-mdc-select-arrow {
  transform: scaleY(-1);
}

/* MAT OPTION */
mat-option.mat-mdc-option{
  min-height: auto;
  padding-top: 6px; 
  padding-bottom: 6px;
  .mat-mdc-option-pseudo-checkbox{
    display: none;
  }
}

/* MAT CHECKBOX */
mat-checkbox.mat-mdc-checkbox .mat-mdc-checkbox-ripple, 
mat-checkbox.mat-mdc-checkbox .mdc-checkbox__ripple,
mat-checkbox.mat-mdc-checkbox .mat-mdc-checkbox-touch-target,
mat-checkbox.mat-mdc-checkbox .mdc-checkbox__background {
  display: none; 
}

mat-checkbox.mat-mdc-checkbox{
  margin: 0;
  padding: 0;
  --mdc-checkbox-state-layer-size: 20px;
}
mat-checkbox.mat-mdc-checkbox input[type="checkbox"] {
  width: 20px; height: 20px;
  border: 1px solid #E0E5EB;
  background: #F7F9FC;
  display: block;
  opacity: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
mat-checkbox.mat-mdc-checkbox input[type="checkbox"]::after {
  content: '';
  display: block;
  width: 9px;
  background-color: var(--accent,  #DB563B);
  padding: 0;
  margin: auto 0;
}
/* mat-checkbox.mat-mdc-checkbox input[type="checkbox"].mdc-checkbox--selected::after {
  height: 9px;
} */
mat-checkbox.mat-mdc-checkbox-checked{
  label{
    font-weight: bold;
  }
  input[type="checkbox"].mdc-checkbox--selected::after {
    height: 9px;
  }
}
mat-checkbox.mat-mdc-checkbox input[type="checkbox"]:indeterminate::after {
  height: 2px;
}

.switcher .mdc-checkbox{
  width: 40px;
  height: 18px;
  flex: none;

}
mat-checkbox.mat-mdc-checkbox.switcher input[type="checkbox"] {
  width: 40px;
  height: 18px;
  border-radius: 8px;
  border: 1px solid #C3CCD6;
  justify-content: stretch;
}
mat-checkbox.mat-mdc-checkbox.switcher  input[type="checkbox"]::after {
  width: 16px;
  height: 10px;
  border-radius: 5px;
  margin: auto 3px;
  margin-left: 3px;
  background-color: #E0E5EB;
}
mat-checkbox.mat-mdc-checkbox.switcher input[type="checkbox"].mdc-checkbox--selected::after {
  margin-left: auto;
  background-color: var(--accent,  #DB563B);
}



/* если надо поменять местами чекбокс и текс добавляем класс reverse */
mat-checkbox.mat-mdc-checkbox.reverse{ 
  .mdc-form-field {flex-direction: row-reverse;}
}  

/* MAT MENU PANEL */
/* для попапа валют */
.mat-mdc-menu-panel.currencys-popap-menu {
  margin-top: 4px;
  margin-left: -15px;
  pointer-events: none;
  .mat-mdc-menu-content {
    padding: 0;
  }
}

/* .mat-mdc-checkbox .mdc-form-field .mdc-checkbox,
.mat-mdc-checkbox .mdc-form-field .mdc-label {
  display: none !important;
}
.checkbox-label .mat-mdc-checkbox{
  display: flex;
}
.mat-mdc-checkbox .mdc-form-field {
  cursor: pointer;
  vertical-align: top; position: relative;
  border: 1px solid #E0E5EB;
  background: #F7F9FC;
  width: 18px; height: 18px;
  display: flex; justify-content: center; align-items: center;
}
.mat-mdc-checkbox .mdc-form-field::after {
  content: "";
  display: block;
  background: #F7F9FC;
  width: 8px; height: 8px;
  margin: 0 ; padding: 0;
}
.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-form-field::after{
  content: "";
  display: block;
  background: var(--accent,  #DB563B);
  width: 8px; height: 8px;
  margin: 0; padding: 0;
}
.mat-mdc-checkbox.mat-mdc-checkbox-indeterminate .mdc-form-field::after {
  content: "";
  display: block;
  background: var(--accent,  #DB563B);
  width: 10px; height: 3px;
  margin: 0; padding: 0;
}
.mat-mdc-checkbox.mat-mdc-checkbox-disabled {
  opacity: 0.4;
} */

/* optgroup */
/* optgroup-label */
.mat-mdc-optgroup {
  --mat-optgroup-label-text-color: #606A74;
  --mat-optgroup-label-text-line-height: 10px;
  --mat-optgroup-label-text-size: 10px;
  
  text-transform: uppercase;  
  /* --mat-optgroup-label-text-tracking; */
  /* --mat-optgroup-label-text-weight; */  
  /* --mat-optgroup-label-text-font: */
}
