
.table-filter {
  margin: 0 20px;
  height: 82px;
  display: block;
  border: 1px solid #E0E5EB;
  border-bottom: 0;
}

.action-bar{
  position: absolute;
  top: 30px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  button{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border: 0;
  }
  button::before{
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: no-repeat 50% 50%;
    margin: 11px auto;
  }
  .edit::before{
    background-image:url(../../../../../../assets/pic-btn-edit-w.svg);
  }
  button.edit{
    background-color: #DB563B;
  }
  .dub::before{
    background-image:url(../../../../../../assets/pic-btn-double.svg);
  }
  .del::before{
    background-image:url(../../../../../../assets/pic-btn-del.svg);
  }
  button.del{
    background-color: #606A74;
  }
}

// .arrow-btn{
//   display: block;
//   .arrow-open{
//     width: 10px;
//     height: 6px;
//     background-image:url(../../../../../../assets/pic-select-arrow.svg);
//     margin: 0 auto;
//     display: block;

//   }
//   .arrow-close{
//     width: 10px;
//     height: 6px;
//     background-image:url(../../../../../../assets/pic-filter-arrow.svg);
//     margin: 0 auto;
//     display: block;
//   }
// }

  .arrow-open{
    width: 10px;
    height: 6px;
    background-image:url(../../../../../../assets/pic-select-arrow.svg);

    margin: 0 auto;
    cursor: pointer;
  }
  .arrow-close{
    width: 10px;
    height: 6px;
    background-image:url(../../../../../../assets/pic-filter-arrow.svg);
    margin: 0 auto;
    cursor: pointer;
  }

  .switch{
    width: 40px;
    display: block;
    margin: 0 auto;
  }
.checkbox-label{
  margin: 0 auto;
  display: block;
  width: 20px;
}

.pic-i{
  background-image:url(../../../../../../assets/pic-i-in-ring.svg);

  min-width: 16px;
  min-height: 16px;
}

.table-list{
  margin: 0 20px;
  .w64px{
    width: 64px;
    max-width: 64px;
  }
  .transport_type{
    div{
      width: 14px;
      height: 14px;
      background-position: center;
      margin: 0 auto;
    }
    .avia{
      background-image: url(../../../../../../assets/pic-transport-type-air.svg);
    }
  }
}
// расшир табл
tr{
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.table-list table tr:nth-child(even) td {
  background: #F7F9FC;
}
.table-list table tr:nth-child(odd) td {
  background: white;
}
.table-list table tr.example-expanded-row td {
  background: #F7F9FC;
}
tr.example-detail-row {
  height: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
}
.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;

  padding: 20px;
}
.example-element-block{
  background-color: white;
  width: 100%;
  border: #E0E5EB 1px solid;
  display: flex;
  flex-direction: column;
  color: #2C3640;
  .first_row{
    display: flex;
    .title{
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      margin-bottom: 40px;
      span{
        color: #606A74;
      }
    }
    .first_col{
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      width: 25%;
      border-right: #E0E5EB 1px solid;
      .cost_block{
        border-bottom: #E0E5EB 1px solid;
        padding: 40px;
        .cost{
          color: #DB563B;
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;

        }
      }
      .contractor_block{
        padding: 40px;
        .agent_block{
          .detailed{
            margin-top: 10px;
            color: #DB563B;
            font-weight: 400;
            font-size: 13px;
            line-height: 12px;
          }
        }
        .link_block{
          display: flex;
          flex-direction: column;
          gap: 16px;
          .pic{
            width: 16px;
            height: 16px;
          }
          .mail{background-image: url(../../../../../../assets/pic-card-mail.svg);}
          .msg{background-image: url(../../../../../../assets/pic-card-msg.svg);}
          .phone{background-image: url(../../../../../../assets/pic-card-phone.svg);}
        }
        .rating_block{
          .stars{
            display: flex;
            gap: 2px;
            .star_sel{
              display: flex;
              background-image: url(../../../../../../assets/pic-star-sel.svg);
              background-position: center;
              width: 20px;
              height: 18px;
            }
            .star_no-sel{
              display: flex;
              background-image: url(../../../../../../assets/pic-star.svg);
              background-position: center;
              width: 20px;
              height: 18px;
            }
          }
        }
        .pct_block{
          .flags{
            display: flex;
            gap: 18px;
            .red_flag{
              display: flex;
              background-image: url(../../../../../../assets/pic-flag-minus.svg);
              background-position: center;
              width: 20px;
              height: 18px;
            }
            .green_flag{
              display: block;
              background-image: url(../../../../../../assets/pic-flag-plus.svg);
              background-position: center;
              width: 20px;
              height: 18px;
            }
          }
        }
      }
    }
    .second_col{
      width: 25%;
      padding: 40px;
      border-right: #E0E5EB 1px solid;
      font-size: 15px;
      font-weight: 700;
      line-height: 14px;
      .items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .item{
          width: 50%;
        }
      }
      .items:last-child{
        margin-bottom: 0;
      }

    }
    .third_col{
      width: 50%;
      padding: 40px;
      font-size: 15px;
      font-weight: 400;
      line-height: 14px;
      .items{
        display: flex;
        justify-content: space-between;
        .label{
          margin: 10px 0 0 0;
          span{
            font-weight: 700;
            color: #4B66AD;
            width: fit-content;
          }
        }
        .item{
          margin-bottom: 20px;
          .name{
            display: flex;
          }
        }
        .last-item:last-child .item{
          margin-bottom: 0;
        }
        .on_block{
          width: 50%;
          .pic{
            margin-right: 10px;
            display: block;
            width: 12px;
            height: 12px;
            background-image: url(../../../../../../assets/pic-tick-in-ring.svg);
          }

        }
        .off_block{
          width: 50%;
          color: #606A74;
          .pic{
            margin-right: 10px;
            display: block;
            width: 12px;
            height: 12px;
            background-image: url(../../../../../../assets/pic-cross-in-ring.svg);
          }
        }
      }
    }
  }
  .second_row{
    border-top: #E0E5EB 1px solid;
    padding: 40px;
    .comment_block{
      height: 50px;
      width: 100%;
      .pic-i-grey{
        display: flex;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        color: white;
        background-color:#83909E;
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 5px;

      }
      .label{
        display: flex;
        align-content: baseline;
        flex-wrap: wrap;
        line-height: normal;
      }
      .comment{

      }
    }
  }
  .label{
    color: #606A74;
    font-size: 13px;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
// сабхеадер
.subheader{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #C3CCD6 solid;
}

.request-actions{
  display: flex;
  gap: 10px;
}
.request-actions button{
  display: block;
  padding: 9px 8px 7px;
  min-width: 64px;
  min-height: 56px;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 6px;
  border: 0;
}
.request-actions button:before {
  content: "";
  display: block;
  height: 20px;
  background: no-repeat 50% 50%;
  margin: 0;
  margin-bottom: 10px;
}
.request-actions button.del{
  background: #606A74;
  color: white;
}

.request-actions button.det:before{
  background-image: url(../../../../../../assets/pic-btn-detail.svg);
}
.request-actions button.edi:before{
  background-image: url(../../../../../../assets/pic-btn-edit.svg);
}
.request-actions button.dub:before{
  background-image: url(../../../../../../assets/pic-btn-double.svg);
}
.request-actions button.del:before{
  background-image: url(../../../../../../assets/pic-btn-del.svg);
}

.subtitle{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px;
}

.kp-none{
  background-color: white;
  color: black;
  margin: 20px;
  text-align: center;
  padding: 40px 0 40px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.rate-links{
  display: flex;
  gap: 10px;
}
.rate-links div{
  padding: 10px;

  color: #83909E;
  font-size: 15px;
  line-height: 14px;
  font-weight: 700;
  cursor: pointer;
}
.rate-links .table-active{
  color: black;
  background-color: white;
  border-bottom: 1px solid #DB563B;
}

// .info-block{
//   align-content: center;
// }

// .request .title{
//   font-size: 26px;
//   font-weight: 700;
//   line-height: 26px;
//   text-align: left;
//   margin-bottom: 9px;
// }
// .request .subtitle{
//   font-size: 13px;
//   font-weight: 400;
//   line-height: 13px;
//   text-align: left;
//   color: #606A74;
// }

// .request .info-block .title{
//   font-size: 13px;
//   font-weight: 400;
//   line-height: 13px;
//   text-align: left;
//   color: #606A74;
//   margin-bottom: 5px;
// }
// .request .info-block .subtitle{
//   font-size: 15px;
//   font-weight: 700;
//   line-height: 15px;
//   text-align: left;
//   color: #2C3640;
//   margin: 0;
// }





