<form class="edit-form" [formGroup]="rateForm">
  <div class="form-block">
    <!--<div class="form-row">
      <div class="form-item-layout">

        <div class="form-item" style="width: 150px; flex-grow: 0;">
          <div class="form-label">Стоимость товаров, {{requestChar}}</div>
          <div class="form-data">
            <input type="text" [value]="currentRequest.cargo_cost" readonly>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">Подрядчик:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="contractor_name"
              [matAutocomplete]="contractor"

            >
            <mat-autocomplete #contractor="matAutocomplete" >
              <mat-option (onSelectionChange)="onContratorChange(contractor)" *ngFor="let contractor of filterContractor()" [value]="contractor.name">{{contractor.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">Город:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="city_id"
              [matAutocomplete]="city_id"
              (keyup)="getArrivalPoinst($event)"
            >
            <mat-autocomplete #city_id="matAutocomplete" [displayWith]="displayFn_CityId.bind(this)" >
              <mat-option *ngFor="let point of pointList" [value]="point.id">{{point.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>

        <ng-container *ngTemplateOutlet="formItemSelector; context: { label: 'Вид рейса:', control: 'point_action', data: pointActionList }"></ng-container> -->

        <!-- <div class="form-item" style="width: 100px;">
          <div class="form-label">Currecy: </div>
          <div class="form-data">
            <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="currency">
                <mat-option *ngFor="let currency of currencyList;" [value]="currency.id" >{{ currency.code }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>

    </div>-->

    <div class="table-form charges-block" style="display: flex;">
      <table style="border-collapse: collapse; width: 100%;">
        <thead>
          <tr>
            <th>
              <div class="td-block" >
                <div class="column"
                >
                </div>
              </div>
            </th>
            <th>
              <div class="td-block" >
                <div class="column"
                  *ngFor="let field of fields"
                >
                {{field}}
                </div>
              </div>
            </th>
            <th>
              <div class="td-block" >
                <div class="column"
                >
                Примечание
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody formArrayName="values">
          <ng-container
            *ngFor="let chargeValue of charges.controls;
            let i = index;"
            [formGroupName]="i"
          >
            <tr>
              <td>
                <div class="td-block" >
                  <div class="column">
                    <label>
                      <input type="checkbox" formControlName="select">
                      <i></i>
                    </label>
                  </div>
                </div>
              </td>
              <td>
                <div class="td-block" >
                  <div class="column">
                    {{chargeValue.value.title}}
                  </div>
                  <div class="column">
                    <input
                      type="text"
                      formControlName="contractor_id"
                      [matAutocomplete]="contractor"
                    >
                    <mat-autocomplete #contractor="matAutocomplete" [displayWith]="displayFn_contractor.bind(this)">
                      <mat-option *ngFor="let contractor of filteredContractors(chargeValue)" [value]="contractor.id">{{contractor.name}}</mat-option>
                    </mat-autocomplete>
                  </div>
                  <div class="column">
                    <input
                      type="text"
                      formControlName="city_id"
                      [matAutocomplete]="city_id"
                    >
                    <mat-autocomplete #city_id="matAutocomplete" [displayWith]="displayFn_city.bind(this)">
                      <mat-option *ngFor="let contractor of filteredCitys(chargeValue)" [value]="contractor.id">{{contractor.name}}</mat-option>
                    </mat-autocomplete>
                  </div>

                  <div class="column">
                    <mat-form-field appearance="outline" class="ui-select">
                      <mat-select formControlName="point_action_id">
                        <mat-option *ngFor="let point of pointActionList;" [value]="point.id" >{{ point.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="column">
                    <input type="number" formControlName="price"
                      (ngModelChange)="chargeValue.value.multiplier?calck_procent(chargeValue):calck_multiplication(chargeValue)"
                    >
                    <!-- <div class="char">{{chargeValue.value.multiplier?'%':returnRateChar(chargeValue)}}</div> -->
                  </div>
                  <div class="column">
                    <div *ngIf="chargeValue.value.multiplier" class="char">%</div>
                    <mat-form-field *ngIf="!chargeValue.value.multiplier" appearance="outline" class="ui-select">
                      <mat-select formControlName="currency">
                        <mat-option *ngFor="let currency of currencyList;" [value]="currency.id" >{{ currency.code }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="column">
                    <input type="number" formControlName="count"
                      [readonly]="chargeValue.value.multiplier"
                      (ngModelChange)="chargeValue.value.multiplier?'':calck_multiplication(chargeValue)"
                    >
                    <div class="char">{{chargeValue.value.multiplier?requestChar:chargeValue.value.multiplier_name}}</div>
                  </div>
                  <div class="column">
                    <input type="number" readonly formControlName="cost">
                    <div class="char-mini">{{chargeValue.value.multiplier?requestChar:returnRateChar(chargeValue)}}</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="td-block" >
                  <div class="column">
                    <input type="text" formControlName="comment">
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>

      </table>

      <!-- <div class="charge_on">
        В ставку включено
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;" class="w100">
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field" class="w100">
            <div class="charge w100">
              <ng-template
                [ngSwitchCase]="chargeModel.field_name"
                *ngFor="let chargeModel of chargesShema; let j = index;"
              >
                <ng-container [ngSwitch]="chargeModel.multiplier">
                  <label>
                    <input type="checkbox" formControlName="select">
                    <i></i>
                    {{chargeModel.title}}
                  </label>

                  <ng-template [ngSwitchCase]="'percent_of_cargo_cost'">
                    <span class="unit l">
                      <input type="number" formControlName="price" (ngModelChange)="calck_procent(chargeValue)" >%
                    </span>
                    <div class="cross"></div>
                    <span class="unit m">
                      <input type="number" formControlName="value" readonly>{{requestChar}}
                    </span>
                    <div class="equal">═</div>
                    <span class="unit s">
                      <input type="number" formControlName="cost" readonly>{{requestChar}}
                    </span>
                  </ng-template>

                  <ng-template [ngSwitchDefault]>
                    <span class="unit l">
                      <input type="number" formControlName="price" (ngModelChange)="calck_multiplication(chargeValue)">{{rateChar?rateChar:'?'}}/{{chargeModel.multiplier_name}}
                    </span>
                    <div class="cross"></div>
                    <span class="unit m">
                      <input type="number" formControlName="value" (ngModelChange)="calck_multiplication(chargeValue)">{{chargeModel.multiplier_name}}
                    </span>
                    <div class="equal">═</div>
                    <span class="unit s">
                      <input type="number" formControlName="cost" readonly>{{rateChar?rateChar:'?'}}
                    </span>
                  </ng-template>

                </ng-container>

              </ng-template>

            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="form-row" >
      <div class="form-item" style="margin-bottom: 20px; width: 100px;">
        <div class="form-label">Сумма:</div>
        <div class="form-data">
          <input type="number" [value]="returnRateCost()" readonly>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Примечание:</div>
        <div class="form-data">
          <input type="text" formControlName="comment">
        </div>
      </div>

    </div>
  </div>

  <div style="display: flex;justify-content: end; gap: 10px;">
    <button class="btn-close-dialog" (click)="onCancelBtnClick()">
      <span class="icon-btn-close-dialog"></span>
      Отмена
    </button>
    <button type="submit" class="btn-save-rates" (click)="rateSave()">
      <span class="icon-btn-save-rates"></span>
      Сохранить
    </button>
  </div>

</form>

<ng-template #formItemSelector let-label="label" let-control="control" let-data="data">
  <div class="form-item" [formGroup]="rateForm">
    <div class="form-label">{{label}}</div>
    <div class="form-data">
      <mat-form-field appearance="outline" class="ui-select">
        <mat-select [formControlName]='control'>
          <mat-option
            *ngFor="let i of data;"
            [value]="i.id"
          >
            {{ i.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>

