<div class="content">
  <div class="user-module">
    <div class="auth-bg">

      <div class="auth-form">
        <div class="hdr">
          <span class="logo"></span>
          <span class="sep"></span>
          <span class="back" [routerLink]="['/register']">Проверка кода</span>
        </div>
        <div class="fm-body">
          <form [formGroup]="checkForm" (ngSubmit)="doCheck()">

            <div class="form-row inline sp">
              <div class="form-item">
                <div class="form-label">Введите проверочный код:</div>
                <div class="form-input"><input type="text" name="code" value="" placeholder="—"></div>
              </div>
              <div class="form-item">
                <div class="form-label">ХЭШ:</div>
                <div class="form-input"><input type="text" name="uid" value="{{ uid }}" placeholder="—"></div>
              </div>
            </div>

            <div class="form-row inline">

              <div class="form-item">
                <span class="desc">Если у вас еще нет доступа к системе,<br> пройдите быструю регистрацию:</span>
              </div>

              <div class="form-item">
                <input type="submit" style="display: none">
                <span class="btn alt" (click)="doCheck()">Подвердить</span>
              </div>
              <div class="form-item"></div>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>
</div>
