<div class="content">
  <div class="user-module">
    <div class="auth-bg">

      <div class="auth-form">
        <div class="hdr">
          <span class="logo"></span>
          <span class="sep"></span>
          <span class="back" [routerLink]="['/register']">Проверка кода</span>
        </div>
        <div class="fm-body">
          <form [formGroup]="checkForm" (ngSubmit)="doCheck()">
            <div class="form-row inline sp">
              Для проверки актуальности Вашего адреса электронной почты был выслан проверочный код.
              Введите полученный код в поле ниже.<br>
              Если письмо не получено и его нет в спаме, то обратитесь к администрации ресурса.
            </div>

            <div class="form-row inline sp">
              <div class="form-item">
                <div class="form-label">Введите проверочный код:</div>
                <div class="form-input"><input type="text" formControlName="code" value="" placeholder="—"></div>
              </div>

              <div class="form-item">
                <input type="submit" style="display: none">
                <span class="btn alt" (click)="doCheck()">Подвердить</span>
              </div>
            </div>

            <div class="form-row inline">
              <p *ngIf="remainingTime !== 0">Отправить проверочный код код еще раз, через {{ formattedTime }}</p>
              <p *ngIf="remainingTime === 0" (click)="reSendCode()" style="cursor: pointer; color: #DB563B;">Отправить код повторно</p>

              <!-- <div class="form-item">

              </div>

              <div class="form-item">

              </div>
              <div class="form-item"></div> -->
            </div>

            <button type="submit" style="display: none;">Submit</button>
          </form>
        </div>
      </div>

    </div>

  </div>
</div>
