//стили для фильтра-период в мейн фильтрах
.main mat-date-range-input .mat-date-range-input-separator-hidden{
  opacity: 1 !important;
  margin: 0 2px 0 0;
  color: #606A74;
}
.main .border-on .mat-date-range-input-separator{
  color: #DB563B;
}
.main .data .mat-date-range-input-container input {
  display: block;
  font-size: 13px;
}
.main .data .mat-date-range-input {
  height: 12.5px;
  margin-right: 5px;
}
.main .data .mat-date-range-input-container {
  height: 12.5px;
}
.main .data .mat-date-range-input-start-wrapper{
  width: 66px;
  height: 12.5px;
  overflow: inherit;
  line-height: 13px;
}
.main .data .mat-date-range-input-end-wrapper{
  width: 66px;
  height: 12.5px;
  line-height: 13px;
}
.main .data .mat-date-range-input-separator{
  height: 12.5px;
  margin: 0 2px 0 1px;
}
.main .data .mat-date-range-input input{
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 13px;
  line-height: 13px;
  cursor: pointer;

  height: 12.5px;
}

div.mat-calendar-body-cell-content{
  border-radius: 6px;
}

div.mat-calendar-body-selected,.mat-calendar-body-cell.selected .mat-calendar-body-cell-content{
  background: #DB563B;
}
.mat-calendar-body-in-range::before {
  background: #83909E;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: gray;
}

//стили для кнопки шаблон для импорта
.hoverr {
  display: flex;
}

.placer .template {
  visibility: hidden;   /* Скрывает элемент изначально */
  opacity: 0;           /* Элемент скрыт */
  max-width: 0;         /* Начальная ширина 0 */
  margin-left: 0;       /* Начальный отступ */
  overflow: hidden;     /* Обрезает все, что выходит за пределы */
  transition: opacity 2s ease, max-width 1s ease, margin-left 1s ease, visibility 0s 1s;
  text-wrap: nowrap;
}

.hoverr:hover .template {
  visibility: visible;  /* Элемент становится видимым */
  opacity: 1;           /* Элемент становится прозрачным */
  max-width: 200px;     /* Ширина становится 200px */
  margin-left: 24px;    /* Отступ слева */
  transition: opacity 2s ease, max-width 1s ease, margin-left 1s ease, visibility 0s 0s;
}

//стили для фильтров селекторов(в зависимости от места разный дизайн)
//в доп.фильтрах
.additional .w100{
  min-width: 100%;
}
.additional .select-filter-main {
  display: none;
}
.additional mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline > * {
  background: white;
}
//в основ.фильтрах
.main .select-filter-additional {
  display: none;
}
.main .mat-mdc-select-value-text{
  font-size: 13px;
  line-height: 13px;

}
.main .value-selected .mat-mdc-select-value-text{
  color: #DB563B;

}
// .main .mat-select-arrow{
//   color: #DB563B;

// }
.main .mat-select {
  font-family: 'regular', 'arial', 'sans-serif';
}

//
.placer .search-filter{
  display: none;
}





// .mat-checkbox.testclass label span{
//   display: none !important;
// }

// .mat-checkbox.testclass label {
//   cursor: pointer;
//   display: inline-block;
//   vertical-align: top;
//   position: relative;
//   border: 1px solid #E0E5EB;
//   background: #F7F9FC;
//   width: 18px;
//   height: 18px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .mat-checkbox.testclass label::after {
//   content: "";
//   display: block;
//   background: #F7F9FC;
//   width: 8px;
//   height: 8px;
//   margin: 0 ;
//   padding: 0;
// }

// .mat-checkbox.testclass.mat-checkbox-checked label::after{
//   content: "";
//   display: block;
//   background: #DB563B;
//   width: 8px;
//   height: 8px;
//   margin: 0 ;
//   padding: 0;

// }

// .mat-checkbox.testclass.mat-checkbox-indeterminate label::after{
//   content: "";
//   display: block;
//   background: #DB563B;
//   width: 10px;
//   height: 3px;
//   margin: 0 ;
//   padding: 0;
// }

//перевод запросов
.edit-form .ru .form-block .form-row .form-item input{
  background: transparent;
}

.edit-form .ru .form-block .form-row .form-item textarea{
  background: transparent;
}

.edit-form .en .form-block .form-row .form-item .bg{
  background: #F7F9FC;
  border: 1px solid #E0E5EB;
}

.edit-form .en .form-block .form-row .form-item .form-label{
  display: flex;
  justify-content: space-between;
}

.edit-form .en .form-block .form-row .form-item .form-label span{
  font-weight: 900;
  display: flex;
}
.edit-form .en .form-block .form-row .form-item .form-label span::before{
  display: flex;
  justify-content: center;
  margin-right: 3px;

  content: '';
  background: url(../../assets/pic-triangle-warning.svg) no-repeat ;
  width: 10px;
  height: 10px;
  position: relative;
}

.edit-form .ru .form-block .form-row .form-block-title{
  color: #606A74;
}

//мат диалог

h1.mat-dialog-title{
  font-size: 26px;
  line-height: 30px;
  color: #4b66ad;
  text-decoration: none;
}

.mat-dialog-actions button.save{
  background: #DB563B;
  color: #fff;
}
.mat-dialog-actions button.download{
  background: #4b66ad;
  color: #fff;
}
.mat-dialog-actions button.cancel{
  background: #606A74;
  color: #fff;
}


//выравниваю высоту заголовков подстолбцов в таблицах
.table-list .td-block-line {
  max-height: 50%;
}

//выравниваю стрелочку сортировки
.sort-dir-asc::after {
  left: 2px;
}
.sort-dir-desc::after {
  left: 2px;
}


//
.edit-form .radio-btn input:checked .radio-btn{
  border: red solid 1px;
}

.radio-btn :checked + span {
  border-color: #DB563B;
}

.table-list .mat-mdc-table{
  background-color: #83909E;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
