<div class="form-item-layout">
  <div class="form-item">
    <div class="form-block-sub-title">Прикрепить документы:</div>
    <div class="file-list">
      <div  *ngFor="let doc of documents">
        <span>{{ doc.file_name }}</span>
        <span class="del"></span>
      </div>
    </div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <span class="btn add-file" (click)="fileUpload.click()">Прикрепить файл</span>
  </div>
  <div class="form-item">
    <div class="form-label">Ссылка на файл:</div>
    <div class="form-data">
      <input type="text" name="documents_path">
    </div>
  </div>
</div>
