<div class="example-element-block">

  <div class="first_row">

    <div class="first_col" [ngSwitch]="detailsMethod">
      <!-- <ng-content select="[test1]"></ng-content> -->
      <div class="cost_block" *ngIf="!costClass">
        <div class="cost">{{rate?.total_cost_text}}</div>
        <div *ngIf="detailsMethod=='other'" style="color: #2C3640;">
          <div style="font-weight: 700; font-size: 22px; line-height: 26px;">Другие</div>
          <div style="margin-top: 10px; font-weight: 400; font-size: 13px; line-height: 12px;">Выбранно {{rate?.values?.length}} услуги</div>
        </div>
      </div>
      <div class="cost_block_black" *ngIf="costClass" style="min-width: 25%;">
        <div *ngIf="detailsMethod==='customs'" class="cost">До границы: <span> {{rate?.total_cost_text}}</span></div>
        <div *ngIf="detailsMethod==='point'" class="cost">Склад (СВХ): <span> {{rate?.total_cost_text}}</span></div>
        <div *ngIf="detailsMethod==='transporter'" class="cost">Вывоз: <span> {{rate?.total_cost_text}}</span></div>
        <div *ngIf="detailsMethod==='other'" class="cost">Другие: <span> {{rate?.total_cost_text}}</span></div>
        <!-- <div class='percent'>{{percent | number:'1.0-0'}}% <span>от итоговой ставки</span></div> -->
        <div class='percent'>{{rate?.cost_percent_of_total}}% <span> от итоговой ставки</span></div>
      </div>
      <ng-template [ngSwitchDefault]>
        <div class="contractor_block" >
          <div style="display: flex; justify-content: space-between;">
            <div class="agent_block">
              <!-- <div class="label">{{detailsMethod==='transporter'?'Подрядчик:':'Агент авиалинии:'}}</div> -->
              <div class="label">Подрядчик:</div>
              <!-- <div>{{detailsMethod==='transporter'?rate.contractor.name:rate?.carrier?.name}}</div> -->
              <div>{{rate.contractor?.name}}</div>
              <!-- <div class="detailed">Подробнее  ></div> -->
              <a [href]="'#/pages/contractor/edit/' + (rate.contractor?.id?rate.contractor.id:rate.contractor_id)"  target="_blank" class="detailed">Подробнее  ></a>
            </div>
            <div class="link_block">
              <div class="pic msg"></div>
              <div class="pic phone"></div>
              <div class="pic mail"></div>

            </div>
          </div>
          <div style="display: flex; justify-content: space-between; margin-top: 40px;">
            <div class="rating_block">
              <div class="label">Рейтинг в системе:</div>
              <div class="stars" *ngIf="rate.contractor.rating_nps">
                <div class="star_sel" *ngFor="let i of [].constructor(rate?.contractor?.rating_nps)"></div>
                <div class="star_no-sel"*ngFor="let i of [].constructor(10 - rate.contractor.rating_nps)"></div>
              </div>
              <div class="stars" *ngIf="!rate.contractor.rating_nps">
                <div class="star_no-sel"*ngFor="let i of [].constructor(10)"></div>
              </div>
              <div>{{rate.contractor.rating_nps ? rate.contractor.rating_nps : 0}}/10 NPS</div>
            </div>
            <div class="pct_block">
              <div class="label">% выигранных торгов:</div>
              <div class="flags">
                <div class="red"><span class="red_flag"></span>{{rate?.contractor?.trade_fail_percent}}</div>
                <div class="green"><span class="green_flag"></span>{{rate?.contractor?.trade_success_percent}}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'point'">
        <div class="airport_block">
          <div class="label">Аэропорт:</div>
          <div class="data">
            {{rate?.point?.name}}
            <!-- <button class="btn-map-blue"></button> -->
            <a class="btn-map-blue"
              title="Open dispatch address in Google maps"
              href="https://www.google.com/maps/search/?api=1&amp;query={{rate.point.name}},"
              target="_blank">
            </a>
            <button class="btn-globe-blue"></button>
          </div>
          <div class="details" *ngIf="rate.point.svh_address">{{rate.point.svh_address}}</div>

          <!-- <iframe
            width="100%"
            height="450"
            frameborder="0"
            style="border:0"
            [src]="yandexMapUrl(rate?.point?.name)"
            allowfullscreen>
          </iframe> -->
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'other'">
        <div class="contractor_block" style="gap: 30px; display: flex; flex-direction: column;">
          <div style="display: flex; justify-content: space-between;" *ngFor="let item of rate?.values">
            <div class="agent_block">
              <div class="label">Подрядчик:</div>
              <div>{{item.contractor?.name}}</div>
              <a [href]="'#/pages/contractor/edit/' + (item.contractor?.id?item.contractor.id:item.contractor_id)"  target="_blank" class="detailed">Подробнее  ></a>
            </div>
            <div class="link_block">
              <div class="pic msg"></div>
              <div class="pic phone"></div>
              <div class="pic mail"></div>
            </div>
          </div>

        </div>
      </ng-template>

    </div>

    <div class="second_col" *ngIf="detailsMethod!='other'">
      <div class="title">Данные по ставке</div>
      <div class="items">
        <ng-container *ngFor="let i of rate.summary_data">
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: i.name, data: i.value, isFullWidth: i.wide_row }"></ng-container>
        </ng-container>
      </div>
    </div>

    <!-- <div class="second_col" [ngSwitch]="detailsMethod">
      <ng-template [ngSwitchCase]="'customs'">
        <div class="title">Данные по ставке</div>
        <div class="items">
          <ng-container *ngFor="let i of rate.summary_data">
            <ng-container *ngTemplateOutlet="rateDataItem; context: { label: i.name, data: i.value }"></ng-container>
          </ng-container>
        </div>

        <div class="items">
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Транзитный срок:', data: rate?.transit_time_text +' дн.' }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Ставка до:', data: rate?.contractor.trade_success_count?rate?.contractor.trade_success_count:'Не предоставлена' }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Авиалиния:', data: rate?.carrier.name}"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Маршрут:', data: rate?.route_name }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Плотность груза (кг/м3):', data: rate?.request?.cargo_places_density }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Оплачиваемый вес (кг):', data: rate?.request?.cargo_places_paid_weight }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Кол-во мест:', data: rate?.request?.cargo_places_count }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Вес брутто, кг:', data: rate?.request?.cargo_places_weight }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Свободные места:', data: rate?.nearest_flight_text }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Дни вылета:', data: rate?.departure_schedule_text?.join(', ').toUpperCase() }"></ng-container>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'point'">
        <div class="title">Данные по ставке</div>
        <div class="items">
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Оплачиваемый вес (кг):', data: rate?.request?.cargo_places_paid_weight}"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Фактический вес (кг):', data: rate?.request?.cargo_places_weight }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Кол-во мест:', data: rate?.request?.cargo_places_count}"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Объем (м3):', data: '???' }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'График работы (будни):', data: '???'}"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'График работы (вых.):', data: '???' }"></ng-container>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'transporter'">
        <div class="title">Данные по ставке</div>
        <div class="items">
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Фактический вес (кг):', data: rate?.request?.cargo_places_weight }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Оплачиваемый вес (кг):', data: rate?.request?.cargo_places_paid_weight }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Дни вылета:', data: rate?.departure_schedule_text?.join(', ').toUpperCase()}"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Срок:', data: '????' }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Авиалиния:', data: rate?.departure_schedule_text?.join(', ').toUpperCase()}"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Объем (м3):', data: '????' }"></ng-container>
          <ng-container *ngTemplateOutlet="rateDataItem; context: { label: 'Маршрут:', data: rate?.route_name }"></ng-container>
        </div>
      </ng-template>
    </div> -->

    <div class="third_col"  [ngSwitch]="detailsMethod" [style]="detailsMethod=='other'?'width:80%':''">

      <ng-template [ngSwitchDefault]>
        <div class="title">В ставку включено <span>/ не включено</span></div>
        <div class="charges">
          <!-- <div *ngFor="let item of sort(rate?.values)" class="charge" [ngClass]="item.select?'on':'off'"> -->
          <div *ngFor="let item of rate?.values" class="charge" [ngClass]="item.select?'on':'off'">
            <div class="name"><span class="pic"></span>{{item.name}}</div>
            <div class="label" *ngIf="rate.rate_type!=='nodetail'">{{item.select?'Включено:':'Не включено'}} <span *ngIf="item.select">{{item.cost_text}}</span></div>
          </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'transporter'">
        <div class="title">В ставку включено</div>
        <div class="paths head">
          <div>Тип ТС</div>
          <div style="flex-grow: 1;">Маршрут</div>
          <div>Срок, дн.</div>
          <div style="flex-grow: 2;">Примечание</div>
          <div>Ставка, руб.</div>
        </div>

        <div class="paths" *ngFor="let item of rate?.values">
          <div>{{item.kind.name}}</div>
          <div style="flex-grow: 1;">{{item.arrival_city?.name}}-{{item.departure_city?.name}}</div>
          <div>{{item.days_min}}-{{item.days_max}}</div>
          <div style="flex-grow: 2;">{{item?.comment}}</div>
          <div>{{item.amount}}</div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'other'">
        <div class="title">Данные по выбранным услугам</div>
        <div class="table-list no-resize charges-block" style="display: flex;">
          <table style="border-collapse: collapse;" class="other_charges">
            <thead>
              <tr>
                <th>
                  <div class="td-block" >
                    <div class="column"
                      *ngFor="let field of [
                        'Наименнование услуги',
                        'Подрядчик',
                        'Город',
                        'Вид прайса',
                        'Стоимость',

                        'Ед.Изм.',
                        'Итого',
                        'Примечание'
                      ];"
                    >
                    {{field}}
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chargeValue of rate.values;let i = index;">
                  <td>
                    <div class="td-block" >
                      <div class="column">
                        {{chargeValue.name}}
                      </div>
                      <div class="column">
                        {{chargeValue.contractor.name}}
                      </div>
                      <div class="column">
                        {{chargeValue.city_name}}
                      </div>
                      <div class="column">
                        {{chargeValue.point_action}}
                      </div>
                      <div class="column">
                        {{chargeValue.price_text}}
                      </div>
                      <div class="column">
                        {{chargeValue.count_text}}
                      </div>
                      <div class="column">
                        {{chargeValue.cost_text}}
                      </div>
                      <div class="column">
                        {{chargeValue.comment}}
                      </div>
                    </div>
                  </td>
                </tr>

            </tbody>

          </table>
        </div>

      </ng-template>

      <ng-content select="[test2]"></ng-content>

    </div>

  </div>

  <div class="second_row" *ngIf="rate.comment">
    <div class="comment_block">
      <div class="label">
        <span class="pic-i-grey">i</span>Примечание:
      </div>
      <div class="comment">{{ rate?.comment }}</div>
    </div>
  </div>

  <!-- <div class="action-bar">
    <button class="edit"></button>
    <button class="dub"></button>
    <button class="del"></button>
  </div> -->

</div>


<ng-template #rateDataItem let-label="label" let-data="data" let-isFullWidth="isFullWidth">
  <div [class]="isFullWidth?'item w100':'item '" >
    <div class="label">{{label}}</div>
    <div>{{data}}</div>
  </div>
</ng-template>


