<!-- <div class="filter extend" style="display: flex; justify-content: space-between; flex-direction: row;"> -->
<div class="filter extend">

  <div class="base main">

    <app-universal-filter
      class="item"
      *ngFor="let control of filterService.searchFilterSchema?.main"
      [filterControl]="control">
    </app-universal-filter>

    <app-universal-filter [ngClass]="isBiddingMode ? '' : 'dn' "
      class="item"
      *ngFor="let control of filterService.searchFilterSchema?.header"
      [filterControl]="control">
    </app-universal-filter>

    <div class="item" [ngClass]="{'open': showMore}" *ngIf="filterService.hasAdditional">
      <div>
        <div class="title">&nbsp;</div>
        <div class="data">
          <span class="addition-filter" (click)="toggleMore()">Дополнительно</span>
        </div>
      </div>
    </div>

    <div class="item func" >
      <div>
        <span class="btn apply" (click)="filterService.apply()"><span>Применить</span></span>
        <span class="btn reset" (click)="filterService.reset()"><span></span></span>
      </div>
    </div>

    <div class="item func trade-btn" *ngIf="isBiddingMode && quantityContractors! >0" >
      <div>
        <span class="btn apply"><span>Начать торги ({{quantityContractors}})</span></span>
      </div>
    </div>

  </div>

  <div class="add show additional" [ngClass]="{'hidden': !showMore}">

    <div class="row">
      <app-universal-filter
        class="item w1"
        *ngFor="let control of filterService.searchFilterSchema?.additional?.slice(0,4)"
        [filterControl]="control">
      </app-universal-filter>
    </div>

    <div class="row">
      <app-universal-filter
        class="item w1"
        *ngFor="let control of filterService.searchFilterSchema?.additional?.slice(4)"
        [filterControl]="control">
      </app-universal-filter>
    </div>

  </div>



</div>

