.filter .row .w1 {
  width: 1px;
}

.main .search-box{
  display: none;
}

.filter .main .trade-btn{
  border-left: 0;
  margin-left: auto;
}
.filter .main .trade-btn .btn.apply:before {
  background-image:url(../../../assets/pic-btn-trade.svg);
}

.dn.item{
  display: none;
}


