<ng-container [ngSwitch]="filterControl.form">
  <app-checkbox-filter *ngSwitchCase="'checkbox'" [filterControl]="$any(filterControl)"></app-checkbox-filter>
  <app-checkbox-filter *ngSwitchCase="'checkbox_reset'" [filterControl]="$any(filterControl)"></app-checkbox-filter>
  <app-autocomplete-filter *ngSwitchCase="'autocomplete'" [filterControl]="$any(filterControl)"></app-autocomplete-filter>
  <app-text-filter *ngSwitchCase="'text'" [filterControl]="$any(filterControl)"></app-text-filter>
  <app-period-filter *ngSwitchCase="'period'" [filterControl]="$any(filterControl)"></app-period-filter>
  <app-select-filter *ngSwitchCase="'select'" [filterControl]="$any(filterControl)"></app-select-filter>
</ng-container>