<app-editor-header [title]="title" (save)="save()" (remove)="remove()" [isEditMode]="isEditMode"  [name]="nameForHeader" [backLink]="'contractor'"></app-editor-header>

<form class="edit-form" [formGroup]="contractorForm">
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">

        <div class="form-data form-item torg">
          <label>
            <input type="checkbox" formControlName="allow_trade">
            <i> </i>
            <span>Участник торгов</span>
          </label>
        </div>

        <div class="form-item">
          <div class="form-label"></div>
          <div class="form-data">
          </div>
        </div>




        <div class="form-item">
          <div class="form-label">
            Вид подрядчика:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'type_id'}"></ng-container>
          </div>
          <div class="form-data">
            <ng-select formControlName="type_id" class="custom" bindLabel="name" bindValue="id" [items]="contractorTypes" (change)="onContractorTypeChange($event)"></ng-select>
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'type_id'}"></ng-container>
          </div>
        </div>

        <!-- <div class="form-item">
          <div class="form-label">Вид подрядчика: <span class="req">•</span></div>
          <div class="form-data">
            <input matInput type="text" formControlName="type_id" [matAutocomplete]="type_id">
            <mat-autocomplete #type_id="matAutocomplete" [displayWith]="displayFn_TypeId.bind(this)">
              <mat-option *ngFor="let option of filteredContractorTypes" [value]="option.id">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="contractorForm.controls['type_id'].hasError('required')">
              Это поле обязательно
            </mat-error>
          </div>
        </div> -->

        <div class="form-item">
           <div class="form-label">
            язык общения:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'language_id'}"></ng-container>
          </div>
           <div class="form-data">
            <ng-select formControlName="language_id" class="custom" bindLabel="name" bindValue="id" [items]="[{name:'Английский',id:'en'},{name:'Русский',id:'ru'}]"></ng-select>
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'language_id'}"></ng-container>
            <!-- <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="language_id" panelClass="panel-class-name">
                <mat-option value="en">Английский</mat-option>
                <mat-option value="ru">Русский</mat-option>
              </mat-select>
              <ng-container *ngTemplateOutlet="inputError; context: { field: 'language_id'}"></ng-container>
            </mat-form-field> -->
           </div>
         </div>



        <!-- <div class="form-item">
          <div class="form-label">агент: </div>
          <div class="form-data">
            <input appearance="outline" class="ui-select"
              type="text"
              formControlName="carrier_name"
              [matAutocomplete]="auto"
              (ngModelChange)="onChange($event)"
              placeholder="—" >
            <mat-autocomplete  #auto="matAutocomplete">
              <mat-option class="" *ngFor="let customer of transportCarrier;" [value]="customer.name" (click)="onTransportCarrierChange(customer)">{{ customer.name }}</mat-option>
            </mat-autocomplete>
          </div>
        </div> -->

      </div>

    </div>
    <div class="form-row">
      <input type="hidden" formControlName="id">

      <div class="form-item-layout">

          <div class="form-item">
            <div class="form-label">
              Наименование подрядчика:
              <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'name'}"></ng-container>
            </div>
            <div class="form-data">
              <input type="text" name="name" formControlName="name" placeholder="—">
              <ng-container *ngTemplateOutlet="inputError; context: { field: 'name'}"></ng-container>
            </div>
          </div>

          <div class="form-item">
            <div class="form-label">
              Идентификатор (ИНН, Rec № и пр.):
              <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'ind'}"></ng-container>
            </div>
            <div class="form-data">
              <input type="text" name="ind" formControlName="ind" placeholder="—">
              <ng-container *ngTemplateOutlet="inputError; context: { field: 'ind'}"></ng-container>
            </div>
          </div>

          <div class="form-item">
            <div class="form-label">
              Страна нахождения:
              <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'country_id'}"></ng-container>
            </div>
            <div class="form-data">
              <ng-select formControlName="country_id" class="custom" bindLabel="name" bindValue="id" [items]="countries" (change)="onCountryChange($event)"></ng-select>
              <!-- <input matInput type="text" formControlName="country_id" [matAutocomplete]="country_id" >
              <mat-autocomplete #country_id="matAutocomplete" [displayWith]="displayFn_CountryId.bind(this)">
                <mat-option *ngFor="let option of filteredCountries" [value]="option.id" (click)="onCountryChange(option.id)">
                  {{option.name}}
                </mat-option>
                <mat-option *ngIf="filteredCountries.length==0" disabled >Стран нет</mat-option>
              </mat-autocomplete> -->
              <ng-container *ngTemplateOutlet="inputError; context: { field: 'country_id'}"></ng-container>
            </div>
          </div>

         <!-- <div class="form-item">
           <div class="form-label">Страна нахождения: <span class="req">•</span></div>
           <div class="form-data">
             <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="country_id" (valueChange)="onCountryChange($event)">
                <mat-option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['country_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
           </div>
         </div> -->

        <div class="form-item">
        <div class="form-label">
          город:
          <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'city_id'}"></ng-container>
        </div>
          <div class="form-data">
            <ng-select formControlName="city_id" class="custom" bindLabel="name" bindValue="id" [items]="filteredCitys" (change)="onCityChange($event)"></ng-select>
            <!-- <input matInput type="text" formControlName="city_id" [matAutocomplete]="city_id" >
            <mat-autocomplete #city_id="matAutocomplete" [displayWith]="displayFn_CityId.bind(this)">
              <mat-option *ngFor="let option of filteredCitys" [value]="option.id">
                {{option.name}}
              </mat-option>
              <mat-option *ngIf="filteredCitys.length==0" disabled >Городов нет</mat-option>
            </mat-autocomplete> -->
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'city_id'}"></ng-container>
          </div>
        </div>

         <!-- <div class="form-item">
          <div class="form-label">город: <span class="req">•</span></div>
           <mat-form-field appearance="outline" class="ui-select">
             <mat-select formControlName="city_id">
               <mat-option *ngFor="let city of cities;" [value]="city.id">{{ city.name }}</mat-option>
             </mat-select>
             <mat-error *ngIf="contractorForm.controls['city_id'].hasError('required')">
               Это поле обязательно
             </mat-error>
           </mat-form-field>
         </div> -->

      </div>



      <div class="form-item-layout">
        <div class="form-item w50">
          <div class="form-label">
            адрес:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'address'}"></ng-container>
          </div>
          <div class="form-data">
            <input type="text" name="address" formControlName="address" placeholder="—">
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'address'}"></ng-container>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">
            общий телефон:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'phone'}"></ng-container>
          </div>
          <div class="form-data">
            <input type="text" name="phone" formControlName="phone" placeholder="—" appPhoneMask>
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'phone'}"></ng-container>
          </div>
        </div>

        <div class="form-item">
          <div class="form-label">
            сайт компании:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'web'}"></ng-container>
          </div>
          <div class="form-data">
            <input type="text" name="web" formControlName="web" placeholder="—">
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'web'}"></ng-container>
          </div>

        </div>
      </div>

      <div class="form-item-layout">

        <div class="form-item">
          <div class="form-label">
            Тип подрядчика:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'counterparty_id'}"></ng-container>
          </div>
          <div class="form-data">
            <ng-select formControlName="counterparty_id" class="custom" bindLabel="name" bindValue="id" [items]="counterpartys"></ng-select>
            <!-- <input matInput type="text" formControlName="counterparty_id" [matAutocomplete]="counterparty_id" >
            <mat-autocomplete #counterparty_id="matAutocomplete" [displayWith]="displayFn_CounterpartyId.bind(this)">
              <mat-option *ngFor="let option of filteredCounterpartys" [value]="option.id">
                {{option.name}}
              </mat-option>
              <mat-option *ngIf="filteredCounterpartys.length==0" disabled >Типов нет</mat-option>
            </mat-autocomplete> -->
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'counterparty_id'}"></ng-container>
          </div>
        </div>

        <!-- <div class="form-item">
          <div class="form-label">агент: <span class="req">•</span></div>
          <div class="form-data">
            <input matInput type="text" formControlName="carrier_id" [matAutocomplete]="carrier_id">
            <mat-autocomplete #carrier_id="matAutocomplete" [displayWith]="displayFn_CarrierId.bind(this)">
              <mat-option *ngFor="let option of filteredTransportCarrier" [value]="option.id">
                {{ option.full_name }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div> -->

        <div class="form-item">
          <div class="form-label">
            агент:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'carrier_id'}"></ng-container>
          </div>
          <div class="form-data">
            <ng-select formControlName="carrier_id" class="custom" bindLabel="full_name" bindValue="id"
              [closeOnSelect]="false"
              [multiple]="true"
              [items]="transportCarrier"
              [placeholder]="contractorForm.value.carrier_id?.length>0
                ? 'Выбранно эл.: ' + contractorForm.value.carrier_id.length
                : '' "
            >
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear"></ng-template>
            </ng-select>
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'carrier_id'}"></ng-container>
          </div>
        </div>

         <!-- <div class="form-item">
           <div class="form-label">вид подрядчика: <span class="req">•</span></div>
           <div class="form-data">
            <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="type_id">
                <mat-option *ngFor="let type of contractorTypes; let i=index" [value]="i+1">{{ type.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['type_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
           </div>
         </div> -->




        <!-- <div class="form-item">
          <div class="form-label">Тип контрагента: <span class="req">•</span></div>
          <div class="form-data">
           <mat-form-field appearance="outline" class="ui-select">
             <mat-select formControlName="counterparty_id">
               <mat-option *ngFor="let type of counterpartys;"  [value]="type.id">{{ type.name }}</mat-option>
             </mat-select>
             <mat-error *ngIf="contractorForm.controls['counterparty_id'].hasError('required')">

               Это поле обязательно
             </mat-error>
           </mat-form-field>
          </div>
        </div> -->

         <div class="form-item">
           <div class="form-label">
            членство в ассоциациях:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'association_id'}"></ng-container>
          </div>
           <div class="form-data">
            <ng-select formControlName="association_id" class="custom" bindLabel="name" bindValue="id" [items]="associations" [multiple]="true"
              [placeholder]="contractorForm.value.carrier_id?.length>0
                ? 'Выбранно эл.: ' + contractorForm.value.association_id.length
                : '' "
                [closeOnSelect]="false"
              >
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear"></ng-template>
            </ng-select>
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'association_id'}"></ng-container>
            <!-- <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="association_id" multiple>
                <mat-select-trigger>
                  {{ assocAsText }}
                </mat-select-trigger>
                <mat-option *ngFor="let assoc of associations" [value]="assoc.id">{{assoc.name}}</mat-option>
              </mat-select>

            </mat-form-field> -->
           </div>
         </div>

        <div class="form-item">
          <div class="form-label">
            система налогообложения:
            <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'tax_id'}"></ng-container>
          </div>
          <div class="form-data">
            <ng-select formControlName="tax_id" class="custom" bindLabel="name" bindValue="id" [items]="taxSystems"></ng-select>
            <!-- <input matInput type="text" formControlName="tax_id" [matAutocomplete]="tax_id" >
            <mat-autocomplete #tax_id="matAutocomplete" [displayWith]="displayFn_TaxId.bind(this)">
              <mat-option *ngFor="let option of filteredTaxs" [value]="option.id">
                {{option.name}}
              </mat-option>
              <mat-option *ngIf="filteredTaxs.length==0" disabled >Типов нет</mat-option>
            </mat-autocomplete> -->
            <ng-container *ngTemplateOutlet="inputError; context: { field: 'tax_id'}"></ng-container>
          </div>
        </div>
      </div>

         <!-- <div class="form-item">
           <div class="form-label">система налогообложения: <span class="req">•</span></div>
           <div class="form-data">
            <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="tax_id">
                <mat-option *ngFor="let taxSystem of taxSystems" [value]="taxSystem.id">{{ taxSystem.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="contractorForm.controls['tax_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
           </div>
        </div>
       </div> -->

    </div>

    <div class="form-row sep" *ngIf="contractorForm.value.allow_trade">
      Формат отправки запроса:
      <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'request_format_id'}"></ng-container>
      <label *ngFor="let format of requestFormats">
        <input type="radio" formControlName="request_format_id" [value]="format.id">
        <i></i>
        <span>{{ format.name }}</span>
      </label>
      <ng-container *ngTemplateOutlet="inputError; context: { field: 'request_format_id'}"></ng-container>
    </div>

    <div class="form-row" >
      <div class="form-item" style="width: 100px;">
        <div class="form-label">
          Валюта предоставления ставок
          <ng-container *ngTemplateOutlet="inputLabelReq; context: { field: 'currency'}"></ng-container>
        </div>
        <div class="form-data">
        <ng-select formControlName="currency" class="custom" bindLabel="code" bindValue="id" [items]="currencyList"></ng-select>
        <ng-container *ngTemplateOutlet="inputError; context: { field: 'currency'}"></ng-container>
        <!-- <mat-form-field appearance="outline" class="ui-select">
          <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of currencyList" [value]="currency.id">{{currency.code}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        </div>
      </div>
    </div>
  </div>

  <div class="form-block-title">Рейтинг</div>
  <div class="form-block">

    <div class="form-row-sm">
      <div class="title">Рейтинг в системе:</div>
      <app-rating name="rating_nps" formControlName="rating_nps"></app-rating>
      <div class="link">
        <a href="#">Подробнее</a>
      </div>
    </div>
    <div class="form-row-sm">
      <div class="title">Моя оценка подрядчика:</div>
      <app-rating name="user_rating_nps" formControlName="user_rating_nps"></app-rating>
      <div class="link">
        <a href="#">Подробнее</a>
      </div>
    </div>
    <div class="form-row-sm">
      <div class="title">Отзывы по работе с подрядчиком:</div>
      <div class="data flags">
        <span class="plus">{{ contractor.review_positive_count }}</span>
        <span class="minus">{{ contractor.review_negative_count }}</span>
        <span class="neutral">{{ contractor.review_neutral_count }}</span>
      </div>
      <div class="link"><a href="#">Подробнее</a></div>
    </div>
    <div class="form-row-sm">
      <div class="title">Всего выполнено перевозок:</div>
      <div class="data">{{contractor.order_count}}</div>
      <div class="link"><a href="#">Подробнее</a></div>
    </div>
    <div class="form-row-sm">
      <div class="title"> % выигранных торгов:</div>
      <div class="data flags">
        <span class="win">{{contractor.trade_success_count}}</span>
        <span class="fail">{{contractor.trade_fail_count}}</span>
      </div>
      <div class="link"><a href="#">Подробнее</a></div>
    </div>
  </div>


  <div formArrayName="contacts">
  <div class="user-item" *ngFor="let contact of contacts.controls; let i=index">
    <div class="form-block-title">Контактное лицо №{{i + 1}}<span class="btn v del" (click)="removeContact(i)">Удалить</span></div>
    <app-contact-editor [homeCountryId]="contractorForm.controls['country_id'].value" [countries]="countries" [formControlName]="i"></app-contact-editor>
  </div>

  <div class="user-item">
    <div class="form-block-title">Контактное лицо №{{contacts.length + 1}}<span class="btn v add" (click)=addContact()>Добавить</span></div>
  </div>
  <mat-error *ngIf="contacts.errors?.['required'] && (contractorForm.touched || contractorForm.dirty)">
    Требуется хотя бы одно контактное лицо.
  </mat-error>
  </div>

  <div class="hdr ftr">
    <div class="title">
    </div>
    <div class="fn">
      <button class="btn v save" (click)="save()"><span>сохранить</span></button>
      <button class="btn v del" *ngIf="isEditMode" (click)="remove()"><span>Удалить</span></button>
      <button class="btn v cancel" (click)="goBack()"><span>отмена</span></button>
    </div>
  </div>

</form>


<ng-template #inputError let-field="field">
  <mat-error *ngIf="contractorForm.controls[field].hasError('required') && contractorForm.controls[field].touched">
    Это поле обязательно
  </mat-error>
</ng-template>

<ng-template #inputLabelReq let-field="field">
  <span *ngIf="contractorForm.controls[field].hasError('required')" class="req">•</span>
</ng-template>
