input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.w50{
  width: 50%;
}

.form-block-title{
padding-top: 0;
}

.edit-form .form-item {
  flex-grow: 1;
}

.edit-form.title{
  margin: 20px auto;
  color: black;
  font-size: 28px;
  line-height: 29px;
  font-weight: 900;
}
.edit-form .title{
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 40px;
  font-size: 22px;
  line-height: 23px;
}


.gr{
  background-color: #C3CCD6;
}

.bl{
  background-color: #4B66AD;
}

.form-block{
  border: none;
}

.ru .form-block{
  border: 4px solid #C3CCD6;
  border-top: none;
  border-right: none;
}

.en .form-block{
  border: 4px solid #4B66AD;
  border-top: none;
}

button{
  border: none;
}

.btn.v.go:before {
  background-image: url(../../../../assets/pic-btn-send-white.svg);
}

// .form-block input[type="number"] {
//   font-family: 'regular', 'arial', 'sans-serif';
//   background: #F7F9FC;
//   border: 1px solid #E0E5EB;
//   color: #2C3640;
//   font-size: 15px;
//   line-height: 15px;
//   border-radius: 6px;
//   width: 100%;
//   box-sizing: border-box;
//   padding: 11px 6px 9px;
// }

.form-block textarea {
  padding: 11px 6px 9px;
  text-wrap: nowrap;
}
textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
