.w190px{
  width: 190px;
}

.td-block .kso-block{
  display: flex;
  padding: 0 ;
  justify-content: center;
}

.kso-item{
  width: 8px;
  height: 28px;
  background-color: #81DD7C;
  margin-left: 2px;
}
.red{
  background-color: #FD7171;
}

.kso-item:first-child{
  margin-left: 0;
}



