<div class="subheader">
  <div class="placer">
    <a (click)="goBack()" class="title">
      {{ title }}
      <div class="req-fields" *ngIf="!isEditMode">Обязательные поля: <span class="req">•</span> </div>
      <div class="req-fields" *ngIf="isEditMode">{{ name }}</div>
    </a>
    <div class="div"></div>
    <div class="fn">
      <span class="btn v save" (click)="onSave()"><span>сохранить</span></span>
      <span class="btn v del" *ngIf="isEditMode" (click)="onRemove()"><span>Удалить</span></span>
      <span class="btn v cancel" (click)="goBack()"><span>отмена</span></span>
    </div>
  </div>
</div>