th.setting {
  position: relative;
}

td.setting {
  text-align: center;
}

.setting-link {
  width: 100%;
  height: 100%;
  background: #606A74 url("../../../../assets/pic-dot-white-h.svg") center no-repeat;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}


.link-edit {
  background: url('../../../../assets/pic-btn-edit.svg') no-repeat center center;
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
}


.subheader .placer .filter-item .search-filter{
  display: none;
}

.request .title{
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  margin-bottom: 9px;
}
.request .subtitle{
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  color: #606A74;
}

.color-r{
  color: #DB563B;
}

.info-block{
  align-content: center;
}

.request .info-block .title{
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  color: #606A74;
  margin-bottom: 5px;
}
.request .info-block .subtitle{
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  color: #2C3640;
}
