.test{
  background: #F7F9FC;
  border: 1px solid #E0E5EB;
  color: #2C3640;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 13px 9px;
}

.subheader .search-filter{
  display: none;
}

