<table class="t1">
  <tbody>
    <tr>
      <th class="name">
        <div *ngIf="type === 'export'">Отправление из {{homeCountry.name_from}}
          <span [ngPlural]="destCountries.length">
            <ng-template ngPluralCase="=0"></ng-template>
            <ng-template ngPluralCase="=1">в одну страну</ng-template>
            <ng-template ngPluralCase="=2">в две страны</ng-template>
            <ng-template ngPluralCase="few">в {{destCountries.length}} страны</ng-template>
            <ng-template ngPluralCase="many">в {{destCountries.length}} стран</ng-template>
            <ng-template ngPluralCase="other">в {{destCountries.length}} стран</ng-template>
          </span>:
        </div>
        <div *ngIf="type === 'import'">Отправление в {{homeCountry.name_to}}
          <span [ngPlural]="destCountries.length">
            <ng-template ngPluralCase="=0"></ng-template>
            <ng-template ngPluralCase="=1">из одной страны</ng-template>
            <ng-template ngPluralCase="=2">из двух стран</ng-template>
            <ng-template ngPluralCase="few">из {{destCountries.length}} стран</ng-template>
            <ng-template ngPluralCase="many">из {{destCountries.length}} стран</ng-template>
            <ng-template ngPluralCase="other">из {{destCountries.length}} стран</ng-template>
          </span>:
        </div>
        <input type="text" placeholder="Добавить страну или регион..." matInput [(ngModel)]="country" (ngModelChange)="doFilter($event)"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="addCountry()">
          <mat-option *ngFor="let country of filteredCountries" [value]="country">
            {{country.name}}
          </mat-option>
        </mat-autocomplete>
      </th>
      <th class="all bg s e">
        <div class="l">Все виды</div>
        <label>
          <mat-checkbox class="show-all" [checked]="allChecked()" [indeterminate]="!allComplete()" (change)="allChange($event)"></mat-checkbox>
          <i></i>
        </label>
      </th>
      <th *ngFor="let kind of kinds" [ngClass]="kind.classes">
        <div class="l"><span class="ico" [ngClass]="kind.type"></span><span>{{kind.name}}</span></div>
        <label>
          <mat-checkbox class="show-all" [checked]="allCheckedForKind(kind.kind)" [indeterminate]="!allCompleteForKind(kind.kind)"
            (change)="allChangeForKind(kind.kind, $event)"></mat-checkbox>
          <i></i>
        </label>
      </th>
    </tr>

    <tr class="row" *ngFor="let country of destCountries; let i = index">
      <td class="name">
        <div>
          <span>{{ country.name }}</span>
          <span class="del" (click)="removeCountry(country.id)"></span>
        </div>
      </td>
      <td class="bg s e">
        <label>
          <mat-checkbox class="show-all" [checked]="allCheckedForCountry(country.id)" [indeterminate]="!allCompleteForCountry(country.id)"
            (change)="allChangeForCountry(country.id, $event)"></mat-checkbox>
          <i></i>
        </label>
      </td>
      <td *ngFor="let kind of kinds" [ngClass]="kind.classes">
        <label>
          <mat-checkbox class="show-all" [checked]="checkedForCountryAndKind(country.id, kind.kind)"
            (change)="changeForCountryAndKind(country.id, kind.kind, $event)"></mat-checkbox>
          <i></i>
        </label>
      </td>
    </tr>
  </tbody>
</table>
