<table class="t1">
  <tbody>
    <tr>

      <th class="name pm0">
        <div class="table-header">
          <div class="tab-title"> Направления:</div>

          <label class="tab-subtitles">
            <div class="subtitle">Страна отправления</div>
            <div class="subtitle">Страна назначения</div>

          </label>
        </div>
      </th>

      <th class="all bg ">
        <div class="l">Все виды</div>
        <label>
          <mat-checkbox
            class="show-all testclass"
            [checked]="allChecked()"
            [indeterminate]="!allComplete()"
            (change)="allChange($event)">
          </mat-checkbox>
          <i></i>
        </label>
      </th>

      <!-- <th *ngFor="let kind of kinds" [ngClass]="kind.classes"> -->
      <th *ngFor="let kind of kinds" [ngClass]="setClassIcon(kind)">
        <div class="l">
          <span class="ico" [ngClass]="setClassIcon(kind)"></span>
          <span>{{kind.name}}</span>
        </div>
        <label>
          <!-- <mat-checkbox
            class="show-all testclass"
            [checked]="allCheckedForKind(kind.kind)"
            [indeterminate]="!allCompleteForKind(kind.kind)"
            (change)="allChangeForKind(kind.kind, $event)">
          </mat-checkbox> -->
          <mat-checkbox
            class="show-all testclass"
            [checked]="allCheckedForKind(kind.id)"
            [indeterminate]="!allCompleteForKind(kind.id)"
            (change)="allChangeForKind(kind.id, $event)">
          </mat-checkbox>
          <i></i>
        </label>
      </th>

    </tr>

    <tr class="row" *ngFor="let direction of directions; let i = index">
      <td>

        <div class="dir-block">
          <!-- <mat-form-field appearance="outline" class="ui-select mw50 "> -->
            <ng-select style="width: 100%; margin-right: 10px;" required (change)="valueChanged()" [(ngModel)]="direction.direction_departure" class="custom" bindLabel="name" bindValue="id" [items]="countries"></ng-select>
            <!-- <mat-select [(ngModel)]="direction.direction_departure" class="border-none">
              <mat-option [value]="0">-- Не выбрано --</mat-option>
              <mat-option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</mat-option>
            </mat-select> -->
          <!-- </mat-form-field> -->
           <ng-select style="width: 100%; margin-right: 10px;" required (change)="valueChanged()" [(ngModel)]="direction.direction_arrival" class="custom" bindLabel="name" bindValue="id" [items]="countries"></ng-select>

          <!-- <mat-form-field appearance="outline" class="ui-select mw50">
            <mat-select [(ngModel)]="direction.direction_arrival">
              <mat-option [value]="0">-- Не выбрано --</mat-option>
              <mat-option *ngFor="let country of countries;" [value]="country.id">{{ country.name }}</mat-option>
            </mat-select>
          </mat-form-field> -->

          <span class="btn-del" (click)="removeDirection(i)"></span>
        </div>

      </td>

      <td class="bg s e">
        <label>
          <mat-checkbox class="show-all testclass"
            [checked]="allCheckedForCountry(i)"
            [indeterminate]="!allCompleteForCountry(i)"
            (change)="allChangeForCountry(i, $event)">
          </mat-checkbox>
          <i></i>
        </label>
      </td>

      <td *ngFor="let kind of kinds" [ngClass]="setClassIcon(kind)">
        <label>
          <!-- <mat-checkbox
            class="show-all testclass"
            [checked]="checkedForCountryAndKind(i, kind.kind)"
            (change)="changeForCountryAndKind(i, kind.kind, $event)">
          </mat-checkbox> -->
          <mat-checkbox
            class="show-all testclass"
            [checked]="checkedForCountryAndKind(i, kind.id)"
            (change)="changeForCountryAndKind(i, kind.id, $event)">
          </mat-checkbox>
          <i></i>
        </label>
      </td>

    </tr>
  </tbody>
</table>

<div class="user-item">
  <div class="form-block-title">
    <span class="btn v add" (click)=addDirection()>Добавить</span>
  </div>
</div>
