.mw50{
  max-width: 45%;
}
.t1 th.name {
  padding: 0;
}

.t1 th.name .dir-block{
  display: flex;
  justify-content: space-between;

  padding-left: 0px;
}

.border-b{
  border-bottom: 1px solid #9ca6b1;
}

.border-r{
  border-right: 1px solid #9ca6b1;
  padding-right: 2px;
  padding-bottom: 5px;
}

.qwer{
  display: flex;
  margin: 0;
  padding: 0;
}

.btn-del{
  display: flex;
  min-width: 16px;
  min-height: 16px;
  background: url(../../../../assets/pic-btn-del-gray.svg) no-repeat 50% 50%;
  cursor: pointer;
  margin: 1px 5px 0 0;
}

.dir-block{
  display: flex;
  justify-content: space-between;
  max-width: 330px;
}

.t1 th.name .mp0{
  margin: 0;
  padding: 0;

  width: 45%;

  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
}

.t1 th.name .border-r{
  border-right: 1px solid #9ca6b1;
  padding-right: 3px;
  padding-bottom: 27px;
}

.t1 th.name .qwer{
  margin: 0;
  padding: 0;

  height: 50%;

}

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #DB563B !important;
  // width: 50%;
  // height: 50%;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #DB563B !important;
}
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-ripple.mat-accent .mat-checkbox-background {
  background-color: #DB563B !important;
}












