.main-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 8px rgba(36, 45, 67, 0.08);
}

.main-table.hide-header th {
  padding: 0px;
}

.main-table.hide-header th * {
  display: none;
}

.main-table th {
  background: #83909E;
  border-left: 1px solid #83909E;
  text-align: left;
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  padding: 18px 24px 16px;
}

.main-table th.column-sortable {}

.main-table th.column-sortable .sorting-indicator {}

.main-table td {
  background: #fff;
  border: 1px solid #E0E5EB;
  padding: 12px 24px 10px;
  border-right: 0;
  border-left: 0;
}

.main-table td.col {
  border: 1px solid #E0E5EB;
}

.main-table td.min {
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.main-table td:first-child {
  border-left: 1px solid #E0E5EB;
}

.main-table td:last-child {
  border-right: 1px solid #E0E5EB;
}

.main-table td.right {
  text-align: right;
}

.main-table td.center {
  text-align: center;
}

.main-table .odd>td {
  background: #F7F9FC;
}

.main-table .link-pic {
  display: inline-block;
  width: 36px;
  height: 36px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
}

.main-table .link-pic.no-text {
  font-size: 0;
}

.main-table .link-edit {
  background: url('../../../../assets/pic-btn-edit.svg') no-repeat center center;
}

.main-table .link-del {
  background: url('../../../../assets/pic-btn-del-gray.svg') no-repeat center center;
}

.main-table .fn-link {}

.main-table .link-txt:before {
  content: "TXT";
  color: #DB563B;
  font-size: 11px;
  line-height: 11px;
  margin-top: 13px;
  display: inline-block;
}

.main-table .link-pdf:before {
  content: "PDF";
  color: #DB563B;
  font-size: 11px;
  line-height: 11px;
  margin-top: 13px;
  display: inline-block;
}

.main-table .link-show {
  font-size: 0;
  background: url('../../../../assets/pic-btn-show.svg') no-repeat center center;
}

.main-table .link-hide {
  font-size: 0;
  background: url('../../../../assets/pic-btn-show.svg') no-repeat center center;
  opacity: 0.2;
}

.main-table .link-view {
  background: url('../../../../assets/pic-btn-show.svg') no-repeat 0 2px;
  display: inline-block;
  padding-left: 24px;
  text-decoration: none;
  color: #2C3640;
}