.settings {
  display: flex;
  flex-grow: 1;
}

.settings .left {
  width: 320px;
  flex-shrink: 0;
}

.settings .settings-page {
  flex-grow: 1;
  padding: 20px 20px 20px;
}

.settings .settings-page .table-footer {
  padding: 20px 0 0;
}

.side-menu {
  background: var(--header_menu, #4B66AD);
  color: var(--header_menu_text, #FFFFFF );
}

.side-menu a {
  color: var(--header_menu_text, #FFFFFF );
  text-decoration: none;
}

.side-menu .menu-group {
  border-bottom: 1px solid #5B77C1;
}

.side-menu .group-name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.side-menu .group-name .ico {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}



.side-menu .group-name .name {
  flex-grow: 1;
}

.side-menu .group-name .chevron {
  width: 56px;
  height: 56px;
  background: url('../../../../assets/settings-arrow-down.svg') no-repeat center center;
}

.side-menu .menu-group.open {
  // background: var(--header_menu, #5B77C1);
  // filter: brightness(80%);
  
}

.side-menu .menu-group.open .group-name .ico {}

.side-menu .menu-group.open .group-name .ico svg path {
  fill: #fff;
}

.side-menu .menu-group.open .group-name .chevron {
  transform: rotate(180deg);
}

.side-menu .menu-group.open .group-name+.group-items {
  display: block;
}

.side-menu .group-items {
  /*display: none;*/
  padding: 0 0 7px 48px;
}

.side-menu .menu-item {
  display: block;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 10px 7px 8px;
  border-radius: 6px 0 0 6px;
  cursor: pointer;
}

.side-menu .menu-item+.menu-item {
  margin-top: 3px;
}

.side-menu .menu-item.open {
  background: var(--background, #fff );
  color: var(--header_menu, #4B66AD);
}

.menu-group {
  .ico{ opacity: 0.5 };
  &.open { 
    border-bottom: 1px solid #4B66AD; background: color-mix(in srgb, var(--header_menu) 83%, black);
    .ico{opacity: 1} 
  };
}
.settings-common { background-image: url('../../../../assets/settings-menu/general-settings.svg'); }//общие настройки
.settings-company-structure { background-image: url('../../../../assets/settings-menu/organization-structure.svg'); }//структура организаций
.settings-directory { background-image: url('../../../../assets/settings-menu/directories.svg'); }//справочник
.settings-table-filter{ background-image: url('../../../../assets/settings-menu/pic-filter-w.svg'); }//фильтры на формах
.settings-system{ background-image: url('../../../../assets/settings-menu/system.svg'); }//система
