<div class="form-item-layout">
  <div class="form-item">
    <ng-content select="[subtitle]"></ng-content>
    <div class="file-list">
      <div *ngFor="let doc of filteredDocuments">
        <span>{{ doc.file_name }}</span>
        <span class="del" (click)="confirmRemove(doc)"></span>
      </div>
    </div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <span class="btn add-file" (click)="fileUpload.click()">Прикрепить файл</span>
  </div>
</div>

<ng-template #removeDialogRef let-data>
  <h1 mat-dialog-title>Удалить прикрепленный документ</h1>
  <div mat-dialog-content>
    Вы действительно хотите удалить прикрепленный документ <b>{{ data.file_name }}</b> ?
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Да</button>
    <button mat-button mat-dialog-close>Нет</button>
  </div>
</ng-template>
