<div class="subheader">
  <div *ngIf="!orderPage" class="title">{{titles.title}}</div>

  <div class="title" *ngIf="orderPage">Перевозки</div>
  <div class="title" *ngIf="orderPage">Документы</div>

  <div class="btns-file">

    <!-- <button [routerLink]="['add']" class="file-btn add-link"> -->
    <button *ngIf="!addPopap" [routerLink]="orderPage?['/order/add']:['add']" class="file-btn add-link">
      <div class="new-icon add-link" style="--icon-color:var(--accent, #DB563B);"></div>
      <span>Новый {{titles.subtitle}}</span>
    </button>

    <button *ngIf="addPopap" (click)="onOpenPopapAdd()" class="file-btn add-link">
      <div class="new-icon add-link" style="--icon-color: var(--accent, #DB563B);"></div>
      <span>Новый {{titles.subtitle}}</span>
    </button>

    <button *ngIf="importMetods" (click)="selectFileToImport()" type="button" class="file-btn import">
      <div class="new-icon import" style="--icon-color: var(--accent, #DB563B);"></div>
      <span>Импорт данных</span>
    </button>

    <button (click)="confirmTemplateFileDownload()" type="button" class="file-btn export hover">
      <div class="new-icon export" style="--icon-color: var(--accent, #DB563B);"></div>
      <span>Шаблон для импорта</span>
    </button>

    <button *ngIf="importMetods" (click)="confirmTableFileDownload()" type="button" class="file-btn export">
      <div class="new-icon export" style="--icon-color: var(--accent, #DB563B);"></div>
      <span>Экспорт данных</span>
    </button>

    <button *ngIf="orderPage" (click)="openPopapAnalytics()" type="button" class="file-btn analytics"><!-- TODO: ошибка свг  -->
      <div></div>
      <span>Аналитика</span>
    </button>

    <input class="ui-file-input"
      type="file"
      [accept]="xlsxMimeType"
      #file
      (change)="selectFileToImportChange()"
    />
  </div>

  <app-universal-filter style="margin-left: auto;"
    *ngFor="let control of filterService.searchFilterSchema?.header"
    [filterControl]="control"
  >
  </app-universal-filter>
</div>

<ng-template #exportDialogRef let-data>
  <h1 mat-dialog-title>Экспорт</h1>
  <div mat-dialog-content>
    {{data}}
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Да</button>
    <button mat-button mat-dialog-close>Нет</button>
  </div>
</ng-template>

<ng-template #importDialogRef let-data>
  <h1 mat-dialog-title>Импорт</h1>
  <div mat-dialog-content>
    Импортировать данные о запросах из файла {{data.name}} ?
  </div>
  <div mat-dialog-content>
    <p *ngIf="data.res.error">{{ data.res.error.text }}</p>
    <p *ngIf="data.res.insert">{{ data.res.insert.text }}</p>
    <p *ngIf="data.res.update">{{ data.res.update.text }}</p>
  </div>
  <div mat-dialog-actions align="end">
    <button style="background: var(--accent,  #DB563B); color: #fff;"
      mat-button
      [mat-dialog-close]="1"
      *ngIf="data.res.insert || data.res.update"
      >
      Сохранить данные
    </button>
    <button style="background: var(--header_menu, #4B66AD); color: #fff;"
      mat-button
      [mat-dialog-close]="2"
      >
      Скачать файл с результатами обработки
    </button>
    <button style="background: #606A74; color: #fff;"
      mat-button
      mat-dialog-close
      >
      ОТМЕНА
    </button>
  </div>
</ng-template>
