
<form (ngSubmit)="onSubmit()" [formGroup]="form"> 
  <div class="form-block">
    <div class="form-row">
      <div class="form-block-sub-title">Логотип вашей компании</div>
      <div class="info">Файл изображения должен быть не меньше 200 точек по высоте, ширина будет масштабирована автоматически. Доступные форматы: .PNG, .SVG, .JPG, .BMP, .GIF. Загруженное изображение появится в левом верхнем углу экрана слева от главного меню.</div>
      <div class="logo-input">
        <input type="text" #fileNameInput readonly>
        <!-- <button type="button" class="new-icon edit" appIconColor="var(--accent)" [style.--icon-s]="'16px'" (click)="fileInput.click()"></button>
        <button type="button" class="new-icon delet-gr" appIconColor="var(--background3)" [style.--icon-s]="'16px'" (click)="clearFile()"></button> -->
        <button type="button" class="new-icon edit s16px" style="--icon-color: var(--accent, #DB563B)"  (click)="fileInput.click()"></button>
        <button type="button" class="new-icon delet s16px" style="--icon-color: var(--background3, #83909E)" (click)="clearFile()"></button>
      </div>
      <input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)" accept="image/*">
    </div>
    
    <div class="form-row">
      <div class="form-block-sub-title">Использование брендовых цветов</div>
      <div class="info">Выберите оттенки для акцентных объектов в интерфейсе системы исходя из вашей фирменной цветовой гаммы. Миниатюры макетов ниже показывают в реальном времени, как система будет выглядеть с новыми цветами.</div>
      
      <div class="brending-menu" >
        <div class="pages">
          <div class="page" *ngFor="let p of pageTypes" 
            (click)="currentPageType=p" 
            [ngStyle]="{'background-color': currentPageType==p?'var(--background2)':'var(--background)', 'color': currentPageType==p?'var(--text)':'var(--text)','margin-bottom': currentPageType==p?'-1px':''}"
          >
          {{p}}
          </div>
        </div>
        <div class="btns">
          <button type="button" (click)="undo()" [disabled]="!canUndo" style="color: var(--accent, #DB563B);">
            <div class="new-icon back s16px" style="--icon-color: var(--accent, #DB563B)"></div>
            Отменить действие
          </button>
          <button type="button" (click)="redo()" [disabled]="!canRedo" style="color: var(--background3, #83909E);">
            <div class="new-icon repeat s16px" style="--icon-color: var(--background3, #83909E)"></div>
            Повторить действие
          </button>
          <button type="button" (click)="returnOriginalColors()" [disabled]="isColorsEqual(originalColors, form.value.branding_colors)" style="color: var(--accent, #DB563B);">
            <div class="new-icon cancel s14px" style="--icon-color: var(--accent, #DB563B)"></div>
            Вернуться к исходному
          </button>
        </div>
      </div>

      <div class="brending-form" >
        <div class="demo">
          <iframe [style]="{'display': currentPageType=='Таблица'?'':'none'}" [src]="tableLink" scrolling="no" frameborder="0" [appIframeStyle]="getCssVariablesString()" title="Демо таблица"></iframe>
          <iframe [style]="{'display': currentPageType=='Форма'?'':'none'}" [src]="formLink" scrolling="no" frameborder="0" [appIframeStyle]="getCssVariablesString()" title="Демо форма" style="pointer-events: none;"></iframe>
          <!-- <app-header [style]="getCssVariablesString()"></app-header>
          <app-request [style]="getCssVariablesString()"></app-request> -->
        </div>
        <div class="inputs" formGroupName="branding_colors">
          <div class="form-item input" *ngFor="let col of colors;let i = index">
            <div class="form-label">{{col.name}}</div>
            <app-color-picker-standart [formControlName]="col.id" [standartColor]="col.color"></app-color-picker-standart>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <button class="long" type="submit" style="background-color: var(--accent, #DB563B); color: var(--accent_text, #FFFFFF);">
        <div class="new-icon save s16px" style="--icon-color: var(--accent_text, #FFFFFF)"></div>
        Сохранить изменения
      </button>
    </div>
  </div>
</form>









