.form-block .table-form input, .form-block .table-form input[readonly]{
  background-color: #fff;
}
.column{
  position: relative;
  .calendar{
    width: 15px; 
    height: 15px; 
    background-image: url(../../../../assets/pic-btn-calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute; 
    bottom: 11.5px; 
    right: 20px;
    cursor: pointer;
  }
}

.table-form:last-child table:last-child{
  thead{
    display: none;
  }
  tbody{
    border-top: 1px solid #e0e5eb;
  }
}

button.add-event{
  border-radius: 6px;
  padding: 6px;
  width: fit-content;
  margin: 10px 0 10px auto;
  background-color: var(--accent,  #DB563B);
  color: white;
}

// .form-block table .column input{
//     padding: 11px 8px 9px;
// }