<app-editor-header
  [title]="title"
  (save)="onClickSubmitForm()"
  [isEditMode]="isEditMode"
  (remove)="onClickDeletOrder()"
>
</app-editor-header>

<form [formGroup]="orderForm" class="edit-form" (submit)="onClickSubmitForm()">
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Статус:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="status_id"
              [matAutocomplete]="status"
            >
            <mat-autocomplete #status="matAutocomplete" [displayWith]="displayFn_Contractor.bind(this)">
              <mat-option *ngFor="let contractor of filteredContractorList" [value]="contractor.id">{{contractor.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Запрос:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="request_id"
              [matAutocomplete]="request"
            >
            <mat-autocomplete #request="matAutocomplete" >
              <mat-option *ngFor="let opt of filteredRequestList" [value]="opt.id">{{opt.id}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Подрядчик:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="contractor_id"
              [matAutocomplete]="contractor"
            >
            <mat-autocomplete #contractor="matAutocomplete" [displayWith]="displayFn_Contractor.bind(this)">
              <mat-option *ngFor="let contractor of filteredContractorList" [value]="contractor.id">{{contractor.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Клиент:</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="customer_id"
              [matAutocomplete]="customer"
            >
            <mat-autocomplete #customer="matAutocomplete" [displayWith]="displayFn_Customer.bind(this)">
              <mat-option *ngFor="let opt of filteredCustomerList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-block-title">Транспорт</div>
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Вид перевозки :</div>
          <div class="form-data">
            <mat-select formControlName="transport_kind_id">
              <mat-option 
                (click)="onTransportKindChange()" 
                *ngFor="let opt of transportList;" 
                [value]="opt.id">{{ opt.name }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Номер документа :</div>
          <div class="form-data">
            <input type="text" formControlName="doc_tc_number"> 
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Трек номер груза :</div>
          <div class="form-data">
            <input type="text" formControlName="track_tc"> 
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Трек номер SVH :</div>
          <div class="form-data">
            <input type="text" formControlName="track_svh"> 
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="form-block-title">Направления</div>
  <div class="form-block">
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Страна отправления :</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="departure_country_id"
              [matAutocomplete]="departure_country_id"
            >
            <mat-autocomplete #departure_country_id="matAutocomplete" [displayWith]="displayFn_Country.bind(this)">
              <mat-option (click)="onDepartureCountryChange(opt)" *ngFor="let opt of filteredDepartureCountryList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="form-item">
          <div class="form-label">Город отправления :</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="departure_city_id"
              [matAutocomplete]="departure_city_id"
            >
            <mat-autocomplete #departure_city_id="matAutocomplete" [displayWith]="displayFn_City.bind(this)">
              <ng-container *ngFor="let opt of filteredDepartureCityList">
                <mat-option 
                  *ngIf="orderForm.value.departure_country_id?orderForm.value.departure_country_id == opt.country_id:true" 
                  (click)="onDepartureCityChange(opt)"  
                  [value]="opt.id">{{opt.name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>
            <!-- <mat-autocomplete #departure_city_id="matAutocomplete" [displayWith]="displayFn_City.bind(this)">
              <mat-option (click)="onDepartureCityChange(opt)" *ngFor="let opt of filteredDepartureCityList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete> -->
          </div>
        </div>
        <div class="form-item">
          <ng-container *ngIf="filteredDeparturePointList">
            <div class="form-label">Аэропорт вылета :</div>
            <div class="form-data">
              <mat-select formControlName="departure_point_id">
                <mat-option *ngFor="let opt of filteredDeparturePointList;" [value]="opt.id">{{ opt.name }}</mat-option>
              </mat-select>
            </div>
          </ng-container>
          
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-item-layout">
        <div class="form-item">
          <div class="form-label">Страна прибытия :</div>
          <div class="form-data">
            <input
              type="text"
              formControlName="arrival_country_id"
              [matAutocomplete]="arrival_country_id"
            >
            <mat-autocomplete #arrival_country_id="matAutocomplete" [displayWith]="displayFn_Country.bind(this)">
              <mat-option (click)="onArrivalCountryChange(opt)" *ngFor="let opt of filteredArrivalCountryList" [value]="opt.id">{{opt.name}}</mat-option>
            </mat-autocomplete>
          </div>
        </div>
          <div class="form-item">
            <div class="form-label">Город прибытия :</div>
            <div class="form-data">
              <input
                type="text"
                formControlName="arrival_city_id"
                [matAutocomplete]="arrival_city_id"
              >
              <mat-autocomplete #arrival_city_id="matAutocomplete" [displayWith]="displayFn_City.bind(this)">
                <ng-container *ngFor="let opt of filteredArrivalCityList">
                  <mat-option 
                    *ngIf="orderForm.value.arrival_country_id?orderForm.value.arrival_country_id == opt.country_id:true" 
                    (click)="onArrivalCityChange(opt)"  
                    [value]="opt.id">{{opt.name}}
                  </mat-option>
                </ng-container>
                <!-- <mat-option (click)="onArrivalCityChange(opt)" *ngFor="let opt of filteredArrivalCityList" [value]="opt.id">{{opt.name}}</mat-option> -->
              </mat-autocomplete>
            </div>
          </div>
          <div class="form-item">
            <ng-container *ngIf="filteredArrivalPointList">
              <div class="form-label">Аэропорт вылета :</div>
              <div class="form-data">
                <mat-select formControlName="arrival_point_id">
                  <mat-option *ngFor="let opt of filteredArrivalPointList;" [value]="opt.id">{{ opt.name }}</mat-option>
                </mat-select>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
  </div>
  <div class="form-block-title">Статус и события</div>
  <div class="form-block" style="display: flex; justify-content: space-between;">
    <div class="table-form" style="width: 49%;">
      <table>
        <thead>
          <tr><th>
            <div class="td-block">
              <div class="column" style="width: 30%;">Статус</div>
              <div class="column" style="width: 120px">Планируемая дата</div>
              <div class="column" style="width: 120px;">Фактическая дата</div>
              <div class="column" style="width: 15%;">Задержка</div>
              <div class="column" style="width: 40px;"></div>
            </div>
          </th></tr>
        </thead>
        <tbody formArrayName="statuses">
          <ng-container
              *ngFor="let status of statuses.controls;
              let i = index;"
              [formGroupName]="i"
            >
              <tr><td>
                <div class="td-block">
                  <div class="column" style="width: 30%;">{{status.value.name}}</div>
                  <div class="column" style="width: 120px;">
                    <input type="text" formControlName="scheduled_date" [matDatepicker]="picker1">
                    <mat-datepicker #picker1></mat-datepicker>
                    <div class="calendar" (click)="picker1.open()"></div>
                  </div>
                  <div class="column" style="width: 120px;">
                    <input (click)="onClickDoneDate(status)" (dblclick)="onDblClickDoneDate(status)" type="text" formControlName="done_date" [matDatepicker]="picker2" [readonly]="status.value.scheduled_date==''">
                    <mat-datepicker [disabled]="status.value.scheduled_date==''" #picker2></mat-datepicker>
                    <div class="calendar" (click)="picker2.open()"></div>
                  </div>
                  <div class="column" style="width: 15%;">
                    <input type="text" readonly [value]="returnDateDifference(status.value.scheduled_date, status.value.done_date)">
                  </div>
                  <div class="column" style="width: 40px;">
                    <label class="checkbox-label">
                      <mat-checkbox class="testclass"
                        [checked]="status.value.scheduled_date!='' && status.value.done_date!=''"
                        (change)="onClickStatusCheckbox(status)"
                        [disabled]="status.value.scheduled_date==''"
                      >
                      </mat-checkbox>
                    </label>
                  </div>
                </div>
              </td></tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="table-form" style="width: 49%; display: flex; flex-direction: column;">
      <table>
        <thead>
          <tr>
            <th style="width: 130px;"><div class="td-block" ><div class="column" >Дата</div></div></th>
            <th style="width: 64%;"><div class="td-block"><div class="column">Событие</div></div></th>
            <th style="width: 40px;"><div class="td-block"><div class="column"></div></div></th>
          <tr>
        </thead>
        <tbody formArrayName="events">
          <ng-container
            *ngFor="let event of sortEvents;
            let i = index;"
            [formGroupName]="i"
          >
              <tr *ngIf="isDatePassed(event.value.date)">
                <td style="max-width: 130px;">
                  <div class="td-block" >
                    <div class="column" >
                      <input type="text" formControlName="date" [matDatepicker]="picker3">
                      <mat-datepicker #picker3></mat-datepicker>
                      <div class="calendar" (click)="picker3.open()"></div>
                    </div>
                  </div>
                </td>
                <td style="width: 64%;">
                  <div class="td-block">
                    <div class="column">
                      <input type="text" formControlName="text">
                    </div>
                  </div>
                </td>
                <td style="width: 40px">
                  <div class="td-block">
                    <div class="column">
                      <button type="button" class="icon delete-gr" (click)="onClickDeleteEvent(i)"></button>
                    </div>
                  </div>
                </td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <button type="button" class="add-event" (click)="onClickAddEvent()">Добавить событие</button>
      <div style="margin-bottom: 10px;">Предыдущие события</div>
      <table>
        <thead>
          <tr>
            <th style="width: 130px;"><div class="td-block" ><div class="column" >Дата</div></div></th>
            <th style="width: 64%;"><div class="td-block"><div class="column">Событие</div></div></th>
            <th style="width: 40px;"><div class="td-block"><div class="column"></div></div></th>
          <tr>
        </thead>
        <tbody formArrayName="events">
          <ng-container
              *ngFor="let event of sortEvents;
              let i = index;"
              [formGroupName]="i"
            >
              <tr *ngIf="!isDatePassed(event.value.date)">
                <td style="width: 130px;">
                  <div class="td-block">
                    <div class="column" style="width: 120px;">
                      <input type="text" formControlName="date" [matDatepicker]="picker3">
                      <mat-datepicker #picker3></mat-datepicker>
                      <div class="calendar" (click)="picker3.open()"></div>
                    </div>
                  </div>
                </td>
                <td style="width: 64%;">
                  <div class="td-block">
                    <div class="column">
                      <input type="text" formControlName="text">
                    </div>
                  </div>
                </td>
                <td style="width: 40px;">
                  <div class="td-block">
                    <div class="column">
                      <button class="icon delete-gr" (click)="onClickDeleteEvent(i)"></button>
                    </div>
                  </div>
                </td>
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="btns size56" style="margin:20px 0 20px auto; width: fit-content;">
    <button class="save" type="submit">Сохранить</button>
    <button class="del" type="button" (click)="onClickDeletOrder()" *ngIf="isEditMode">Удалить</button>
    <button class="cancel" type="button" (click)="onClickCancelForm()">Отмена</button>
  </div>

</form>
