// .drag-handle {
//   cursor: move;
//   padding: 8px;
//   background: #f5f5f5;
//   border-radius: 4px;
//   display: inline-block;
//   user-select: none;

//   &:hover {
//     background: #e0e0e0;
//   }
// }

// .draggable-row {

    
// //   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  
//   &:not(.cdk-drag-placeholder) {
//     background: white;


//   }
// }

// .cdk-drag-preview {
//   box-sizing: border-box;
//   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
//               0 8px 10px 1px rgba(0, 0, 0, 0.14),
//               0 3px 14px 2px rgba(0, 0, 0, 0.12);
//   background: white;
//   opacity: 0.9;
// }

// .cdk-drag-placeholder {
//   opacity: 0.3;
//   background: #ccc;

// }

// .cdk-drag-animating {
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }


.flex-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #e0e0e0;
  
  overflow: hidden;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.flex-row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  &.no-active_filter{
    background: #F7F9FC;
  }
  
  &:last-child {
    border-bottom: none;
  }
  
  &.header {
    background-color: #83909E;
    color: white;
  }
  
  .flex-cell:nth-child(1){width: 20%;}
  .flex-cell:nth-child(2){width: 35%;}
  .flex-cell:nth-child(3){width: 20%;}
  .flex-cell:nth-child(4){width: 20%;}
  .flex-cell:nth-child(5){width: 10%;}
  .flex-cell:nth-child(6){min-width: 40px;}
  
}

.flex-cell {
  // flex: 1;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  min-height: 48px;
  box-sizing: border-box;
}
.body .flex-cell.border{
  border-left: 1px solid #E0E5EB;
  border-right: 1px solid #E0E5EB ;
}

.draggable-row {
  background: white;
  // cursor: move;
  // &:hover {
  //   background-color: #fafafa;
  // }
  &.cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  &.cdk-drag-placeholder {
    opacity: 0;
  }
  &.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.drag-handle {
  cursor: move;
  color: #666;
  display: flex;
  &:hover {
    color: #333;
  }

  .move-icon {
    background-image: url(../../../../../../assets/pic-btn-matrix.svg);
    width: 14px;
    height: 14px;
    display: block;
    margin-right: 5px;
  }
}