// app-request-details{
//   height: 100%;
// }
// .request-details-component{
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   max-height: calc(100vh - 56px);
// }


  

app-header, app-table-sunheader-file, app-editor-header, .subheader.component{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
app-table-sunheader-file, app-editor-header, .subheader.component{
  .subheader{
    border-top: 1px solid #4B66AD;
  }
  top: 56px;
}
app-request-details .subheader.component{
  border-top: 1px solid #4B66AD;
}

app-request, app-contractor, app-client{
  app-table-filter{
    position: sticky;
    top: 114.5px;
    left: 0;
    right: 0;
    z-index: 100;
    .filter{
      background-color: #f7f9fc;
      border-bottom: 1px solid #E0E5EB;
    }
  }
}


app-settings{
  min-height: 100vh;
}

// .header,.subheader{
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1000;
// }
// .subheader{
//   top: 56px;
//   border-top: 1px solid #4B66AD;
// }
// .content{
//   margin-top: 115px;
//   .user-module{
//     padding-top: 12px;
//   }
// }
// app-request-editor, app-contractor-editor, app-client-editor{
//   margin-top: 40px;  
// }


table .column{
  box-sizing: border-box;
  flex-grow: 1;
}
ng-scrollbar.ng-scrollbar  {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: #6200ee;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-border-radius: 4px;
}
.scrollbar-control{
  background-color: red;
}
table a.link{
  color: rgba(0, 0, 0, 0.87);
}


.table-form{
  --mat-table-background-color:#83909E;
  .table{
    width: 100%;
  }
}

table th .td-block-line{
  background-color: #83909E;
  .column{
    position: relative;
  }
  .resize-handle{
    top: 0;
    bottom: -1px;
  }
}
table .mdc-data-table__header-cell {
  overflow: visible;
}
.table-list .td-block .column {
  position: relative;
}

.table-list{
  .resize-handle{
    position: absolute;
    right: -1.5px;
    width: 3px;
    top: -9px;
    bottom: -7px;
    background-color: inherit;
    cursor: col-resize;
    pointer-events: none;
    z-index: 10;
  }
 .resize-handle_end {
    cursor: col-resize;
    position: absolute;
    left: -2px;
    width: 3px;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;
  }
}
.table-list.resize {
  .resize-handle, .resize-handle_end{
    background-color: #DB563B;
    pointer-events: all;
  }
  .resize-handle_end::before,.resize-handle::before{
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    top: 7px;
    bottom: 7px;
    background-color: #DB563B;
    border-radius: 3px;
  }
  table thead .column{
    overflow: visible;
  }
}

button{
  cursor: pointer;
}

.mat-mdc-dialog-container form.edit-form{
  margin: 20px auto;
  // width: 98%;
}

.no-layout {
  display: contents;
}
// td.vertically .td-block{
//   flex-direction: column;
//   align-items: flex-start;
// }


.loader {
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex; justify-content: center; align-items: center;
  z-index: 10000;
}
.cdk-overlay-container mat-snack-bar-container.mdc-snackbar.centered-snackbar {
  margin-top: 50vh;
}

//TABLEs
.table-list thead .column{
  height: 36px;
}
.table-list tbody .column {
  overflow: hidden;
}

.table-list .td-block .column{
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
// mat-selects and mat-options in table
.table-list .mat-mdc-select {
  .mat-mdc-select-trigger{
    padding: 0;
  }
  background-color: inherit;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  max-width: 150px;

  // .mat-mdc-select-trigger { padding: 0; }
  // .mat-mdc-select-value-text { text-wrap: auto; }
}
// .table-list .td-block .column mat-select.mat-mdc-select {
//   background-color: inherit;
//   border: none;
//   font-weight: 400;
//   font-size: 13px;
//   line-height: 16px;

//   .mat-mdc-select-trigger { padding: 0; }
//   .mat-mdc-select-value-text { text-wrap: auto; }
// }






//mat-form-field
// mat-form-field.mat-mdc-form-field.mat-form-field-appearance-outline .mdc-text-field--outlined {
//   background-color: #F7F9FC; /* фон */
//   border-radius: 4px; /* скругление углов */
// }

// mat-form-field.mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper{ display: none;}
// mat-form-field.mat-mdc-form-field .mdc-notched-outline__leading,
// mat-form-field.mat-mdc-form-field .mdc-notched-outline__notch,
// mat-form-field.mat-mdc-form-field .mdc-notched-outline__trailing {
//   border: none !important; /* Убираем рамки */
// }

// mat-form-field.mat-mdc-form-field .mat-mdc-form-field-infix{ height: 40px;}
// mat-form-field.mat-mdc-form-field{
//   background: #F7F9FC;
//   box-shadow: 0 2px 8px rgba(36, 45, 67, 0.08);
// }

// mat-form-field.mat-mdc-form-field {
//   font-family: 'regular', 'arial', 'sans-serif';
//   background: #F7F9FC;
//   border: 1px solid #E0E5EB;
//   color: #2C3640;
//   font-size: 15px;
//   line-height: 15px;
//   border-radius: 6px;
//   width: 100%;
//   box-sizing: border-box;
//   padding: 11px 13px 9px;
// }


mat-form-field.mat-mdc-form-field {
  //background: #F7F9FC; border: 1px solid #E0E5EB; border-radius: 6px; width: 100%; height: 40px; box-sizing: border-box; padding: 11px 13px 9px;
  width: 100%; height: 40px;
  .mat-mdc-text-field-wrapper,
  .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex,
  .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
    margin: 0; padding: 0; height: 100%;
  }
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border: none !important; /* Убираем рамки */
  }
}


// //mat-select filter
// .filter .main mat-select.mat-mdc-select{
//   border: none;
//   height: 12px;
//   .mat-mdc-select-trigger {
//     padding: 0;
//   }
// }
// //mat-select paginator
// app-paginator mat-select.mat-mdc-select {
//   background-color: white;
//   box-shadow: 0px 2px 8px 0px rgba(36, 45, 67, 0.08);
//   border: none;
  
//   font-weight: 400;
//   font-size: 13px;
//   line-height: 12px;
//   color: #606A74;
//   width: auto;
//   min-width: 165px;


// }












// // .mat-mdc-checkbox {
// //   cursor: pointer;
// //   display: inline-block;
// //   vertical-align: top;
// //   border: 1px solid #E0E5EB;  /* Рамка чекбокса */
// //   background: #F7F9FC;  /* Фон чекбокса */
// //   width: 18px;  /* Ширина чекбокса */
// //   height: 18px;  /* Высота чекбокса */
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// // }

// /* Скрываем галочку */
// .mat-mdc-checkbox-checked .mdc-checkbox__checkmark-path {
//   display: none !important;
// }


// // .mat-mdc-checkbox .mdc-form-field{
// //   display: none;
// // }

// .mat-mdc-checkbox-checked .mdc-form-field .mdc-checkbox {
//   content: "";
//   position: absolute;
//   width: 9px;   /* Ширина квадрата */
//   height: 9px;  /* Высота квадрата */
//   top: 50%;     /* Центрирование по вертикали */
//   left: 50%;    /* Центрирование по горизонтали */
//   transform: translate(-50%, -50%);  /* Центрируем элемент */
//   background-color: black;  /* Цвет квадрата */
//   border-radius: 0;  /* Убираем скругление, чтобы квадрат был угловым */
// }

// /* Позиционирование квадрата */


// .mat-mdc-checkbox-checked .mdc-checkbox__background::after {
//   content: "";
//   position: absolute;
//   width: 9px;   /* Ширина квадрата */
//   height: 9px;  /* Высота квадрата */
//   top: 50%;     /* Центрирование по вертикали */
//   left: 50%;    /* Центрирование по горизонтали */
//   transform: translate(-50%, -50%);  /* Центрируем элемент */
//   background-color: black;  /* Цвет квадрата */
//   border-radius: 0;  /* Убираем скругление, чтобы квадрат был угловым */
// }

// /* Рамка и фон чекбокса при наведении */
// .mat-mdc-checkbox:hover .mdc-checkbox__background {
//   background-color: #E0E5EB; /* Цвет фона при наведении */
// }

// .mat-mdc-checkbox .mdc-checkbox__background {
//   background-color: #4CAF50 !important; /* Зеленый фон */
// }

// .mat-mdc-checkbox-checked .mdc-checkbox__checkmark-path {
//   stroke: black !important; /* Белая галочка */
// }

// .mat-mdc-checkbox:hover .mdc-checkbox__background {
//   opacity: 0.6 !important;
// }

// .mat-mdc-checkbox {
//   --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38); /* Цвет иконки для выбранного чекбокса в disabled состоянии */
//   --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38); /* Цвет иконки для невыбранного чекбокса в disabled состоянии */
//   --mdc-checkbox-selected-checkmark-color: #fff; /* Цвет галочки в выбранном чекбоксе */
//   --mdc-checkbox-selected-focus-icon-color: blue; /* Цвет иконки выбранного чекбокса при фокусе */
//   --mdc-checkbox-selected-hover-icon-color: #DB563B; /* Цвет иконки выбранного чекбокса при наведении */
//   --mdc-checkbox-selected-icon-color: #DB563B; /* Цвет иконки для выбранного чекбокса */
//   --mdc-checkbox-selected-pressed-icon-color: #DB563B; /* Цвет иконки выбранного чекбокса при нажатии */
//   --mdc-checkbox-unselected-focus-icon-color: #212121; /* Цвет иконки для невыбранного чекбокса при фокусе */
//   --mdc-checkbox-unselected-hover-icon-color: #212121; /* Цвет иконки для невыбранного чекбокса при наведении */
//   --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54); /* Цвет иконки для невыбранного чекбокса */
//   --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54); /* Цвет иконки для невыбранного чекбокса при нажатии */
//   --mdc-checkbox-selected-focus-state-layer-color: #DB563B; /* Цвет слоя фокуса для выбранного чекбокса */
//   --mdc-checkbox-selected-hover-state-layer-color: #DB563B; /* Цвет слоя наведения для выбранного чекбокса */
//   --mdc-checkbox-selected-pressed-state-layer-color: #DB563B; /* Цвет слоя нажатия для выбранного чекбокса */
//   --mdc-checkbox-unselected-focus-state-layer-color: black; /* Цвет слоя фокуса для невыбранного чекбокса */
//   --mdc-checkbox-unselected-hover-state-layer-color: black; /* Цвет слоя наведения для невыбранного чекбокса */
//   --mdc-checkbox-unselected-pressed-state-layer-color: black; /* Цвет слоя нажатия для невыбранного чекбокса */
// }




