.table-list .td-block .column {
  position: relative;
}

.resize-handle_end {
  display: block;
  background-color: #ccc;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: -36px;
  bottom: -50px;
  /* height: 56px; */
  width: 3px;
  z-index: 100;
  // background-color: #DB563B;
  background-color: #E0E5EB;
}

.table-list table .td-block .column{
  // min-width: 50px;
  // flex-grow: 0;
}

.table-list.resize table td, .table-list.resize table th{
  border-left: none;
  // .td-block{
  //   width: fit-content;
  // }
}
