<div class="client-component">
<app-table-sunheader-file
  [titles]="{title:'Клиенты',subtitle:'клиент'}"
  [importMetods]="importMetods"
  (export)="exportFile()"
  (exportTemplate)="exportFileTemplate()"
>
</app-table-sunheader-file>

<app-table-filter></app-table-filter>

<div class="table-list" [class]="isResizeColumnMode?'resize':''" >
  <table class="sticky-header" mat-table [dataSource]="rows" multiTemplateDataRows [style]="isTableFixedWidth?'width:100%;max-width:100%':''">

    <ng-container *ngFor="let col of columnsData;let colIndex=index"
      [matColumnDef]="col.column"
      [ngSwitch]="col.column"
    >
      <!-- стандартный шаблон -->
      <ng-template [ngSwitchDefault]>
        <th mat-header-cell *matHeaderCellDef [style.minWidth]="col.width" [class]="col.class">
          <div [class]="!col.title?'td-block':'td-block-column'">
            <div *ngIf="col.title" class="td-block-title">
              {{col.title}}
            </div>
            <div [class]="!col.title?'no-layout':'td-block-line'">
              <ng-container *ngFor="let miniCol of col.items;let miniColIndex=index">
                <div class="column" *ngIf="miniCol.title"
                  [style.width]="miniCol.width"
                  [class]="miniCol.class"
                >
                  <div class="col-content"
                    [ngClass]="getSortClass(miniCol.field)"
                    [attr.title]="getColTitle(miniCol.field)"
                    (click)="sort(miniCol.field)"
                  >
                    {{miniCol.title}}

                  </div>
                  <div class="resize-handle"
                    *ngIf="miniColIndex !== col.items.length - 1"
                    (mousedown)="startResize($event, miniCol,columnsData[colIndex])"
                  >
                  </div>
                </div>
                <div class="resize-handle_end"
                  *ngIf="(miniColIndex == col.items.length - 1) && colIndex!==0"
                  (mousedown)="startResize($event, columnsData[colIndex-1].items[columnsData[colIndex-1].items.length-1],columnsData[colIndex-1])"
                >
                </div>
              </ng-container>
            </div>
          </div>

        </th>

        <td mat-cell *matCellDef="let item" [style.minWidth]="col.width" [class]="col.class">
          <div class="td-block" >
            <div class="column"
              *ngFor="let miniCol of col.items"
              [style.width]="miniCol.width"
              [class]="miniCol.class"
              [ngSwitch]="miniCol.field"
            >
              <ng-template [ngSwitchDefault]>
                <div class="col-content">{{ getVal(item,miniCol.field) }}</div>
              </ng-template>
              <ng-template [ngSwitchCase]="'test'">test</ng-template>
            </div>

          </div>
        </td>
      </ng-template>
      <!--настройки(сылка на редактирование) -->
      <ng-template [ngSwitchCase]="'settings'">
        <th mat-header-cell *matHeaderCellDef class="setting">
          <div class="setting-link" [matMenuTriggerFor]="menu"></div>
          <mat-menu #menu="matMenu">
            <button class="table-settings" *ngIf="isResizeColumnMode" mat-menu-item (click)="onCancelColumnWidth()">Отменить изменения</button>
            <button class="table-settings" *ngIf="isResizeColumnMode" mat-menu-item (click)="onSaveColumnWidth()">Сохранить изменения</button>
            <button class="table-settings" *ngIf="!isResizeColumnMode" mat-menu-item (click)="updateColumnSize()">Редактирование размера колонок</button>
            <button class="table-settings" *ngIf="!isTableFixedWidth" mat-menu-item (click)="onResetColumnWidth()">Вернуть значения по умолчанию</button>
          </mat-menu>
          <div class="resize-handle_end"
            (mousedown)="startResize($event, columnsData[colIndex-1].items[columnsData[colIndex-1].items.length-1],columnsData[colIndex-1])"
          >
          </div>
        </th>
        <td mat-cell *matCellDef="let client" class="setting">
          <a class="link-pic link-edit ico ico-pencil fn-link" [routerLink]="['edit', client.id]" title="Редактировать"></a>
        </td>
      </ng-template>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="column;"></tr>
    <tr mat-row *matRowDef="let row; columns: column;"></tr>

  </table>
</div>

<app-paginator
  [total]="total"
  [count]="count"
  [start]="start"
  [limits]="limits"
  (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)">
</app-paginator>
</div>
