
<table class="main-table fix-head table-4e6cc9770d169fc6e17fab7fb0968f9b">
  <thead>
    <tr>
      <th class="col column-sortable" [attr.title]="getColTitle('name')" (click)="sort('name')" [ngClass]="getSortClass('name')">
        <span>Название<span class="sorting-indicator"></span></span>
      </th>
      <th style="width: 40px;">
        <span></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of rows; odd as isOdd" [ngClass]="{'odd': isOdd}">
      <td class="col">{{ group.name }}</td>
      <td class="col min">
        <a class="link-pic link-edit ico ico-pencil fn-link" [routerLink]="[group.id]" title="Редактировать"></a>
        <span class="link-pic link-del ico ico-cross2 fn-link" title="Удалить" (click)="confirmRemove(group)"></span>
      </td>
    </tr>
  </tbody>
</table>
<app-paginator [total]="total" [count]="count" [start]="start" [limits]="limits" (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)"></app-paginator>

<ng-template #removeDialogRef let-data>
  <h1 mat-dialog-title>Удалить группу клиентов</h1>
  <div mat-dialog-content>
    Вы действительно хотите удалить группу клиентов <b>{{ data.name }}</b> ?
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Да</button>
    <button mat-button mat-dialog-close>Нет</button>
  </div>
</ng-template>
