.form-item-layout-col{
  font-family: 'regular', 'arial', 'sans-serif';
  color: #606A74;
  outline: none;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.label{
  margin-top: 25px;
}

