gfdgdfg
<table class="main-table fix-head table-98a02492513816a6438bbd36fc9458a2">
  <thead>
    <tr>
      <th class="col column-sortable" [attr.title]="getColTitle('fio')" (click)="sort('fio')" [ngClass]="getSortClass('fio')">
        <span>Ф.И.О.<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable" [attr.title]="getColTitle('company_name')" (click)="sort('company_name')" [ngClass]="getSortClass('company_name')">
        <span>Организация<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable" [attr.title]="getColTitle('department_name')" (click)="sort('department_name')" [ngClass]="getSortClass('department_name')">
        <span>Подразделение<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable" [attr.title]="getColTitle('position_name')" (click)="sort('position_name')" [ngClass]="getSortClass('position_name')">
        <span>Должность<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable" [attr.title]="getColTitle('phone')" (click)="sort('phone')" [ngClass]="getSortClass('phone')">
        <span>Телефон<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable" [attr.title]="getColTitle('email')" (click)="sort('email')" [ngClass]="getSortClass('email')">
        <span>E-mail<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable" [attr.title]="getColTitle('birth_date')" (click)="sort('birth_date')" [ngClass]="getSortClass('birth_date')">
        <span>Дата рожд.<span class="sorting-indicator"></span></span>
      </th>
      <th class="right" style="width: 80px;">
        <span></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of rows; odd as isOdd; trackBy: trackById" [ngClass]="{'odd': isOdd}">
      <td class="col">{{ employee.name_f }} {{ employee.name_i }} {{ employee.name_o }}</td>
      <td>{{ employee.company_name }}</td>
      <td>{{ employee.department_name }}</td>
      <td>{{ employee.position_name }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.birth_date | date}}</td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide" title="Показывать">Нет</span>
        <a class="link-pic link-edit ico ico-pencil fn-link" [routerLink]="[employee.id]" title="Редактировать"></a>
        <span class="link-pic link-del ico ico-cross2 fn-link" (click)="confirmRemove(employee)" title="Удалить"></span>
      </td>
    </tr>
  </tbody>
</table>
<app-paginator [total]="total" [count]="count" [start]="start" [limits]="limits" (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)"></app-paginator>

  <ng-template #removeDialogRef let-data>
    <h1 mat-dialog-title>Удалить сотрудника</h1>
    <div mat-dialog-content>
      Вы действительно хотите удалить сотрудника <b>{{ data.name_f }} {{ data.name_i }} {{ data.name_o }}</b> ?
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Да</button>
      <button mat-button mat-dialog-close>Нет</button>
    </div>
  </ng-template>
