<table class="main-table fix-head table-98a02492513816a6438bbd36fc9458a2">
  <thead>
    <tr>
      <th class="col column-sortable"
        data-href="/erp/settings/employee?sort_field=name&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>Ф.И.О.<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable"
        data-href="/erp/settings/employee?sort_field=count_position&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>Организация<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable"
        data-href="/erp/settings/employee?sort_field=department_id&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>Подразделение<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable"
        data-href="/erp/settings/employee?sort_field=position_id&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>Должность<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable"
        data-href="/erp/settings/employee?sort_field=phone&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>Телефон<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable"
        data-href="/erp/settings/employee?sort_field=email&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>E-mail<span class="sorting-indicator"></span></span>
      </th>
      <th class="column-sortable"
        data-href="/erp/settings/employee?sort_field=birth_date&amp;sort_order=asc&amp;ajax_load=table%2Ctable_function"
        title="сортировать по убыванию">
        <span>Дата рожд.<span class="sorting-indicator"></span></span>
      </th>
      <th class="right" style="width: 80px;">
        <span></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col">Программист</td>
      <td></td>
      <td>Административное</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=1&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=1&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=1&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr class="odd">
      <td class="col">string string string</td>
      <td></td>
      <td>Общий</td>
      <td>tester1555</td>
      <td>string</td>
      <td></td>
      <td></td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=324&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=324&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=324&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr>
      <td class="col">Фамилия Имя Отчество</td>
      <td></td>
      <td>Общий</td>
      <td>tester1555</td>
      <td>string</td>
      <td></td>
      <td>2000-01-02</td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=325&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=325&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=325&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr class="odd">
      <td class="col">Ф И О</td>
      <td></td>
      <td>Общий</td>
      <td>tester1555</td>
      <td>1112233</td>
      <td></td>
      <td>2022-05-25</td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=326&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=326&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=326&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr>
      <td class="col">Андропов Евгений</td>
      <td></td>
      <td>Административное</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=334&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=334&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=334&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr class="odd">
      <td class="col">Программист1</td>
      <td></td>
      <td>Административное</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=335&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=335&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=335&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr>
      <td class="col">Программист1</td>
      <td></td>
      <td>Административное</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=336&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=336&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=336&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
    <tr class="odd">
      <td class="col">asdas</td>
      <td></td>
      <td>Административное</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="col min right"><span class="link-pic ajax notext fn-link link-hide"
          data-href="/erp/settings/employee?id=337&amp;act=switch_show&amp;show=1" title="Показывать">Нет</span><a
          class="link-pic link-edit ico ico-pencil fn-link" href="/erp/settings/employee?id=337&amp;act=edit"
          title="Редактировать"></a><span class="link-pic link-del ico ico-cross2 fn-link"
          data-href="/erp/settings/employee?id=337&amp;act=del" onclick="return delConfirm(this, 'Удалить?');"
          title="Удалить"></span></td>
    </tr>
  </tbody>
</table>
<app-paginator [total]="total" [count]="count" [start]="start" [limits]="limits" (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)"></app-paginator>