<div class="edit-form title">Rate Request # {{id}}</div>

<form class="edit-form" [formGroup]="requestForm">
  <div class="form-block">

    <div class="form-row df">
      <div class="form-col">

        <div class="form-col-title">Route os Transportation</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Dispatch</div>
            <div class="form-data">
              <div style="width: 100%;">{{request.departure_text}}</div>
            </div>
            <button (click)="copyDispatchText()" >Copy</button>
            <button >On map</button>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Destination</div>
            <div class="form-data">
              <div>{{request.arrival_text}}</div>
            </div>
            <button (click)="copyDestinationText()" >Copy</button>
            <button >On map</button>
          </div>
        </div>

      </div>
      <div class="form-col">

        <div class="form-col-title">Cargo Details</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Type of cargo:</div>
            <div class="form-data">
              <div>{{requestEn.cargo_type_name}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Cargo name:</div>
            <div class="form-data">
              <div>{{requestEn.cargo_description}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Cargo readiness:</div>
            <div class="form-data">
              <div>{{request.cargo_readiness}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Incoterms</div>
            <div class="form-data">
              <div>{{request.incoterms_name}} {{request.incoterms_city_name}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Details total:</div>
            <div class="form-data">
              <div>{{request.cargo_text}} </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-col">
        <div class="form-col-title">Dimensions</div>
        <textarea>{{requestEn.cargo_dimensions}}</textarea>
      </div>

    </div>

    <div class="form-row">
      <div class="form-row-title">Comment</div>
      <div>{{requestEn.comment}}</div>
    </div>

    <div class="form-row">
      <div class="form-row-title">Attached Files</div>
      <div class="form-item-layout wrap">

        <div class="file-box"
          *ngFor="let documentsFile of request.documents_file;"
          (click)="getFile(documentsFile.id)"
        >
          {{documentsFile.file_name}}
        </div>

        <div class="file-box"
          *ngFor="let cargoFile of request.cargo_file;"
          (click)="getFile(cargoFile.id)"
        >
          {{cargoFile.file_name}}
        </div>

        <!-- <input class="ui-file-input"
          type="file"
          [accept]="xlsxMimeType"
          #file /> -->



      </div>

    </div>

    <!-- <div class="form-row bg ">

      <div class="form-item-layout mb40px">
        <div class="form-row-title">Rates</div>

        <label class="radio">
          <input type="radio" [value]="true">
          <i></i>
          <span>With Details</span>
        </label>

        <label class="radio">
          <input type="radio" [value]="false">
          <i></i>
          <span>With single Amount</span>
        </label>

      </div>

      <div class="rate_labels">
        <div *ngFor="let rate of rates.controls; let i=index">
          <div class="rate_label" (click)="indexRateChange(i)" [ngClass]="{'active-rate':i===test}"> Rate</div>
        </div>

        <button class="btn-add-rate" (click)="addRate()">Add Rate</button>
        <button class="btn-dup-rate" (click)="duplicateRate()">Duplicate Rate</button>
        <button class="btn-dup-rate" (click)="removeRate(test)">Delete Rate</button>
      </div>

    </div> -->

    <div class="form-row rate" formArrayName="rates">
      <div *ngFor="let rate of rates.controls; let i=index">
        <!-- <app-rate-editor
          *ngIf="i===test"
          [formControlName]="i"
          [requestKindId]="request.transport_kind_id">
        </app-rate-editor> -->

        <app-rate-editor
          (removeRate)="removeRate(i)"
          (addRate)="addRate()"
          (indexRateChange)="indexRateChange($event)"
          (duplicateRate)="duplicateRate()"
          [ngClass]="{'dn':i!==test}"
          [formControlName]="i"
          [requestKindId]="request.transport_kind_id"
          [rates]="requestForm.value.rates"
          [test]="test"
        >
        </app-rate-editor>
      </div>

    </div>



    <div class="form-row bg">
      <button type="submit">Send Rates</button>
    </div>


  </div>
</form>
