// .cargo-info{
//   flex-grow: 1;
//   border: solid red 1px;
// }

.df{
  display: flex;
}

.form-col{
  flex-grow: 1;
  border-right: 1px solid #C3CCD6;
  margin: -40px 0 -40px 0;
  width: 0;
  max-width: 381px;
  padding: 40px;
}
.form-col:first-child{
  margin-left: -40px;
}
.form-col:last-child{
  margin-right: -40px;
  border-right: 0;
}



.form-block .form-col .form-block-sub-title + .form-item-layout {
  margin-top: 25px;
}

.form-col textarea{
  background: none;
  height: 150px;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 30px;
  resize: none;
}

.form-col .form-col-title{
  color: #4B66AD;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 25px;
}

.form-row .form-row-title{
  color: #2C3640;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 25px;
}
.form-row .color-blue{
  color: #4B66AD;
}

.file-box{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  height: 15px;
  padding: 10px 10px;
  margin-right: 5px;
  margin-bottom: 15px;
  color: #DB563B;
  text-wrap: nowrap;
  cursor: pointer;
}
.file-box:hover{
  opacity: 0.7;
}

.wrap{
  flex-wrap: wrap;
}

.radio{
  margin-left: 20px;
  margin-bottom: 25px;
}

// .form-row .mat-tab-group {
//   margin: 0 -40px;
//   max-width: 1142px ;
// }

// .form-row .mat-tab-header{
//   padding-left: 40px;
//   padding-right: 250px;
// }

// .form-row .mat-tab-label{
//   border: 1px solid #C3CCD6;
//   border-bottom: 0;
//   border-right: 0;
// }
// .form-row .mat-tab-label:last-child{
//   border-right: 1px solid #C3CCD6;
// }

// .form-row .mat-tab-body-wrapper{
//   padding: 40px;
//   background-color: white;
//   margin-bottom: -40px;
// }

// .form-row .mat-ink-bar{
//   display: none;
// }

// .form-row .mat-tab-label:focus:not(.mat-tab-disabled) {
//   opacity: 1;
//   background-color: white;
// }

// .form-row .mat-tab-label-active{
//   background-color: white;
//   opacity: 1;
// }

.rate_labels{
  height: 40px;
  margin-bottom: -40px;
  display: flex;
}

.rate_label{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100px;
  border-right: 1px solid #C3CCD6;
  border-top: 1px solid #C3CCD6;
}
.rate_label:first-child{
  border-left: 1px solid #C3CCD6;
}

.active-rate{
  background-color: white;
}

.btn-add-rate{
  background-color: #DB563B;
  border: none;
  width: 100px;
  height: 80%;
  margin: 5px;
  border-radius: 6px;
  color: white;
}

.btn-dup-rate{
  width: 100px;
  height: 80%;
  background-color: #4B66AD;
  border: none;
  margin: 5px;
  margin-left: 0;
  border-radius: 6px;
  color: white;
}

.kg{
  display: flex;
  align-items: center;
  gap: 5px;
}

.rate .form-item-layout{

}



.included-fees{
  width: 65%;
}

.list-charges{
  width: 35%;
}

.dn{
  display: none;
}




.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #DB563B;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #DB563B;
}


.mat-calendar-body-cell.selected
{
  background-color:#DB563B;
  border-radius: 6px;

}
.drop-calendar
{
  width:30rem
}



.mat-menu-panel{
  width: 206px;
}






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
.form-block input[type="number"], .form-block select {
  font-family: 'regular', 'arial', 'sans-serif';
  background: #F7F9FC;
  border: 1px solid #E0E5EB;
  color: #2C3640;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 7px 9px;
}

.form-block input[type="number"][readonly], .form-block select[readonly], .form-block textarea[readonly] {
  background: transparent;
  border: 1px dashed #C3CCD6;
  color: #2C3640;
}

.charges{
  display: flex;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #E0E5EB;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E5EB;
}

.charges-values{
  // width: 125px;
  flex-grow: 0;

}
// .charges-values:last-child{
//   width: 80px;
// }
.charges-values .values-input{
  max-width: 75px;
}
// .charges-values .values-input:first-child{
//   margin-right: 0px;
// }

.charges-values .form-data{
  font-size: 13px;
  line-height: 13px;
  display: flex;
  text-wrap: nowrap;
  align-items: baseline;
}

.input-box{
  display: flex;
  align-items: baseline;

}

.cross{
  background-image: url(../../../../assets/pic-btn-cancel-black.svg);
  // background-image: url(../../../../assets/pic-btn-copy.svg);
  // background-image: url(../../../../assets/pic-btn-map.svg);

  background-size: contain;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

.br{
  border-right: 1px solid #E0E5EB;
  padding-right: 10px;
  margin-right: 10px;
}
.unit{
  width: 45px;
  display: block;
  margin-left: 5px;
}

.btn-save-rates{
  background-color: #DB563B;
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: white;
  display: flex;
  width: 120px;
}
.icon-btn-save-rates{
  background-image: url(../../../../assets/pic-btn-send-white.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 5px;
}

.btn-copy{
  background-image: url(../../../../assets/pic-btn-copy.svg);
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  color: #DB563B;
  width: 70px;
}

.btn-map{
  background-image: url(../../../../assets/pic-btn-map.svg);
  background-repeat: no-repeat;
  background-color: white;
  border: none;
  color: #DB563B;
  width: 90px;
  text-decoration: none;
  display: flex;
  padding-left: 18px;

}

.calendar-icon{
  background-image: url(../../../../assets/pic-btn-calendar.svg);
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.calendar{
  background: #F7F9FC;
  border: 1px solid #E0E5EB;
  color: #2C3640;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  width: 206px;
  box-sizing: border-box;
  padding: 11px 13px 9px;
  height: 39.88px;
  display: flex;

}
.calendar-value{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 100%;
}

.departure-schedule mat-form-field.mat-form-field-appearance-outline .mat-select-arrow {
  background: url(../../../../assets/pic-btn-calendar.svg) no-repeat;
  width: 15px;
  height: 15px;
}

.form-block .form-data.total input[type="number"][readonly], .form-block .form-data.total span{
  color:red;
  border:none;
  font-size: 20px;
  font-weight: bold;
  
}
.form-block .form-data.total input[type="number"]{
  font-size: 20px;
  font-weight: bold;

}




