<div class="logo-box">
  <div>

  </div>
</div>

<div class="edit-form title">
  Rate Request # {{request?.id}}
  <div class="time-add">
    Date:
    <span>{{request?.time_add}}</span>
  </div>
</div>

<form class="edit-form" [formGroup]="requestForm">
  <div class="form-block">

    <div class="form-row df">
      <div class="form-col">

        <div class="form-col-title">Route of Transportation</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Dispatch</div>
            <div class="form-data">
              <div>
                {{request?.departure_country_name}},
                {{request?.departure_city_name}},
                {{request?.departure_address}}
              </div>
              <div class="transport-point">{{request?.departure_point_name}}</div>
            </div>

            <div class="copy-map">
              <button (click)="copyDispatchText()" class="btn-copy">Copy</button>
              <a class="btn-map"
                title="Open dispatch address in Google maps"
                href="https://www.google.com/maps/search/?api=1&amp;query={{request?.departure_country_name}},{{request?.departure_city_name}},{{request?.departure_address}},{{request?.departure_point_name}}"
                target="_blank">
                On map
              </a>
            </div>

          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Destination</div>
            <div class="form-data">
              <div>
                {{request?.arrival_country_name}},
                {{request?.arrival_city_name}},
                {{request?.arrival_address}}
              </div>
              <div class="transport-point">{{request?.arrival_point_name}}</div>
            </div>
            <div class="copy-map">
              <button (click)="copyDestinationText()" class="btn-copy">Copy</button>
              <a class="btn-map"
                title="Open destination address in Google maps"
                href="https://www.google.com/maps/search/?api=1&amp;query={{request?.arrival_country_name}},{{request?.arrival_city_name}},{{request?.arrival_address}},{{request?.arrival_point_name}}"
                target="_blank"
                > On map
              </a>
            </div>

          </div>
        </div>

      </div>

      <div class="form-col">

        <div class="form-col-title">Cargo Details</div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Type of cargo:</div>
            <div class="form-data">
              <div>{{request?.cargo_type_name}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Cargo name:</div>
            <div class="form-data">
              <div>{{request?.cargo_description}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item" *ngIf="request?.cargo_readiness">
            <div class="form-label">Cargo readiness:</div>
            <div class="form-data">
              <div>{{request?.cargo_readiness}}</div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-label">Incoterms</div>
            <div class="form-data">
              <div>{{request?.incoterms_name}} {{request?.incoterms_city_name}}</div>
            </div>
          </div>
        </div>

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Details total:</div>
            <div class="form-data">
              <div class="details-total">
                {{request?.cargo_places_count}}<span> pcs </span>
                <span class="space">/</span>
                {{request?.cargo_places_volume}}<span> m<sup class="sup">3</sup></span>
                <span class="space">/</span>
                {{request?.cargo_places_weight}}<span> kg</span>
                <span class="space">/</span>
                {{request?.cargo_places_density  | number:'1.0-1'}}<span> kg/m<sup class="sup">3</sup></span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-item-layout" *ngIf="request?.cargo_condition_carriage">
          <div class="form-item">
            <div class="form-label">Conditions of carriage:</div>
            <div class="form-data">
              <div>{{request?.cargo_condition_carriage}} </div>
            </div>
          </div>
        </div>

      </div>

      <div class="form-col" style="display: flex; flex-direction: column;">
        <div class="form-col-title">Dimensions</div>
        <textarea readonly style="border: none; flex-grow: 1;">{{request?.cargo_dimensions}}</textarea>
      </div>

    </div>

    <div class="form-row" *ngIf="request?.comment">
      <div class="form-row-title">Comment</div>
      <div class="comment">{{request?.comment}}</div>
    </div>

    <div class="form-row" *ngIf="request?.documents_file?.length>0 || request?.cargo_file?.length>0">
      <div class="form-row-title">Attached Files</div>
      <div class="form-item-layout wrap">
        <div class="file-box"
          *ngFor="let documentsFile of request?.documents_file;"
          (click)="getFile(documentsFile.id)"
        >
          {{documentsFile?.file_name}}
        </div>

        <div class="file-box"
          *ngFor="let cargoFile of request?.cargo_file;"
          (click)="getFile(cargoFile.id)"
        >
          {{cargoFile?.file_name}}
        </div>
      </div>
    </div>

    <div class="form-row rate" formArrayName="rates">
      <div *ngFor="let rate of rates.controls; let i=index" >
        <app-rate-editor
          (removeRate)="removeRate(i)"
          (addRate)="addRate()"
          (indexRateChange)="indexRateChange($event)"
          (duplicateRate)="duplicateRate()"
          [ngClass]="{'dn':i!==currentRateNumber}"
          [formControlName]="i"
          [requestKindId]="request.transport_kind_id"
          [rates]="requestForm.value.rates"
          [currentRateNumber]="currentRateNumber"
          [chargeModel]="chargeModel"
          [weight]="request.cargo_places_paid_weight"
          [request]="request"
          [currency]="currencyList"
        >
        </app-rate-editor>
      </div>
    </div>

    <div class="form-row bg" style="display: flex;justify-content: end;">
      <button type="submit" class="btn-save-rates" (click)="saveRequestRates()">
        <span class="icon-btn-save-rates"></span>
        Send Rates
      </button>
    </div>

  </div>
</form>
