<form [formGroup]="placeForm">
  <div class="form-item-layout">

    <div class="form-item" *ngIf="currentRequestFormat===2">
      <div class="form-data">
        <mat-form-field appearance="outline" class="ui-select">
          <mat-select formControlName="cargo_package_id">
            <mat-option *ngFor="let cargoPackage of cargoPackages;" [value]="cargoPackage.id">{{ cargoPackage.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="placeForm.value.cargo_package_id==='' && placeForm.controls['cargo_package_id'].touched || placeForm.value.cargo_package_id==='' && isFormSubmitted">Это поле обязательно</mat-error>
      </div>
    </div>

    <div class="form-item" *ngIf="currentRequestFormat===2">
      <div class="form-data">
        <mat-form-field appearance="outline" class="ui-select">
          <mat-select formControlName="stacking">
            <mat-option *ngFor="let staking of stakingArr;" [value]="staking.value">{{ staking.text }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-item">
      <div class="form-data"><input type="text" name="length" formControlName="length" placeholder="—" required (ngModelChange)="onCalkTotalVolumeAndWeight()"></div>
    </div>
    <div class="form-item">
      <div class="form-data"><input type="text"  name="width" formControlName="width" placeholder="—" required (ngModelChange)="onCalkTotalVolumeAndWeight()"></div>
    </div>
    <div class="form-item">
      <div class="form-data"><input type="text"  name="height" formControlName="height" placeholder="—" required (ngModelChange)="onCalkTotalVolumeAndWeight()"></div>
    </div>
    <div class="form-item">
      <div class="form-data"><input type="text"  name="weight" formControlName="weight" placeholder="—" required (ngModelChange)="onCalkTotalVolumeAndWeight()"></div>
    </div>
    <div class="form-item">
      <div class="form-data"><input type="text" name="count" formControlName="count" placeholder="—" required (ngModelChange)="onCalkTotalVolumeAndWeight()"></div>
    </div>
    <div class="form-item">
      <div class="form-data"><input type="text" name="volume" formControlName="volume"  placeholder="—" required readonly ></div>
    </div>
    <div class="form-item">
      <div class="form-data"><input type="text" name="total_weight" formControlName="total_weight" placeholder="—" required readonly ></div>
    </div>
    <div class="form-item">
      <button (click)="onDeletePlace()">удалить</button>
    </div>

  </div>
</form>



