<div class="subheader">
  <app-request-info-block [request]="currentRequest"></app-request-info-block>
  <div class="request-actions">
    <button class="det" (click)="onDetailsRequestBtnClick()" [style.border]="isExpandedRequestInfo?'1px solid #DB563B':''">Детали</button>
    <button class="edi" (click)="onEditRequestBtnClick()">Правка</button>
    <button class="dub" (click)="onDubRequestBtnClick()">Дубль</button>
    <button class="del" (click)="onDeleteRequestBtnClick()">Удалить</button>
  </div>
</div>

<div class="expanded-request-info" *ngIf="isExpandedRequestInfo">
  <div class="block" *ngFor="let item of expandedRequestInfoItems">
    <div class="field">{{item.field}}</div>
    <div class="data">{{currentRequest[item.data]}}</div>
  </div>
</div>

<div class="subtitle">Коммерческие предложения: 0</div>
<div class="kp-none">Коммерческих предложений нет</div>

<div style="display: flex; align-items: center;">
  <div class="subtitle">Ставки: 5/8</div>
  <div class="rate-links">
    <div (click)="onTableMethodChange('final')" [ngClass]="detailsMethod==='final'? 'table-active':'' ">Итоговые</div>
    <div (click)="onTableMethodChange('customs')" [ngClass]="detailsMethod==='customs'? 'table-active':'' ">До границы</div>
    <div (click)="onTableMethodChange('point')" [ngClass]="detailsMethod==='point'? 'table-active':'' ">Склад (СВХ)</div>
    <div (click)="onTableMethodChange('transporter')" [ngClass]="detailsMethod==='transporter'? 'table-active':'' ">Вывоз</div>
  </div>
</div>

<app-table-filter
  class="table-filter"
  [isBiddingMode]="isBiddingMode"
  [isRateDetailsMode]="isRateDetailsMode"
  [quantityContractors]="quantityContractors"
  (saveBidding)="saveContractorSelectRequest()"
  >
    <div class="detail-btn" *ngIf="isRateDetailsMode">
      <button class="add" (click)="onAddRateBtnClick()"><span style="text-wrap: nowrap" >+ СТАВКА</span></button>
      <button class="dub" (click)="onDubSelectRateBtnClick()">ДУБЛЬ</button>
      <button class="bid" (click)="onBidSelectRateBtnClick()">ТОРГИ</button>
      <button class="del" (click)="onDelSelectRateBtnClick()">УДАЛИТЬ</button>
    </div>
</app-table-filter>

<div class="table-list">
  <table mat-table [dataSource]="rows" multiTemplateDataRows>
    <ng-container *ngFor="let col of columnsData"
      [matColumnDef]="col.column"
      [ngSwitch]="col.column"
    >
      <!-- обычные элементы табл -->
      <ng-template [ngSwitchDefault]>
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <div class="td-block">
            <div class="column"
              *ngFor="let miniCol of col.items"
              [style.width]="miniCol.width"
              [class]="miniCol.class"
            >
              {{miniCol.title}}
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block">
            <div class="column"
              *ngFor="let miniCol of col.items"
              [style.width]="miniCol.width"
              [class]="miniCol.class"
            >
              {{ getVal(item,miniCol.field) }}
            </div>
          </div>
        </td>
      </ng-template>
      <!-- select столбец -->
      <ng-template [ngSwitchCase]="'select'">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <label class="checkbox-label">
            <mat-checkbox class="testclass"
              [indeterminate]="isCheckboxHeaderTableIndeterminate()"
              [checked]="isCheckboxHeaderTableChecked()"
              (change)="onCheckboxHeaderTableChange($event)"
            >
            </mat-checkbox>
          </label>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block">
            <label class="checkbox-label" *ngIf="col.column==='select'">
              <mat-checkbox class="testclass"
                [checked]="isCheckboxBodyTableChecked(item.id)"
                (change)="onCheckboxBodyTableChange(item.id,$event)"
              >
              </mat-checkbox>
            </label>
          </div>
        </td>
      </ng-template>
      <!-- checked столбец -->
      <ng-template [ngSwitchCase]="'checked'">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <div class="td-block">КП</div>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block">
            <label class="switch outer" *ngIf="col.column==='checked'">
              <input type="checkbox"  [checked]="item.selected" (change)="onCommercialOfferChange(item)" >
              <div class="switcher">
                <span class="bg"></span>
                <span class="thumb"></span>
              </div>
            </label>
          </div>
        </td>
      </ng-template>
      <!-- details столбец -->
      <ng-template [ngSwitchCase]="'details'">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <div class="setting-link"></div>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block" style="cursor: pointer;" (click)="onOpenDetailsRateBtnClick(item)">
            <div class="column">
              <div [ngClass]="expandedElement===item?'arrow-close':'arrow-open'"></div>
            </div>
          </div>
        </td>
      </ng-template>

    </ng-container>

    <!-- РАСШИРЕННАЯ СТРОКА -->
    <ng-container matColumnDef="expandedDetail" >
      <td mat-cell *matCellDef="let element" [attr.colspan]='column?.length' [ngSwitch]="detailsMethod">

        <div class="example-element-detail" *ngIf="element===expandedElement">
          <ng-template [ngSwitchDefault]>
            <app-rate-info-row [rate]="expandedElement" [detailsMethod]="detailsMethod">
              <ng-container test2 *ngTemplateOutlet="rateActions"></ng-container>
            </app-rate-info-row>
          </ng-template>
          <ng-template [ngSwitchCase]="'final'">
            <div class="costs">
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'Итоговая ставка:', sum:expandedElement.total_cost_text   }">
              </ng-container>
              ≈
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'До границы:', sum: expandedElement.custom?.total_cost_text }">
              </ng-container>
              +
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'Склад (СВХ):', sum: expandedElement.storage.total_cost_text }">
              </ng-container>
              +
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'Вывоз:', sum: expandedElement.delivery.total_cost_text }">
              </ng-container>
            </div>

            <app-rate-info-row [rate]="expandedElement.custom" [detailsMethod]="'customs'" [costClass]="'final'">
              <ng-container test2 *ngTemplateOutlet="rateActions"></ng-container>
            </app-rate-info-row>
            <app-rate-info-row [rate]="expandedElement.storage" [detailsMethod]="'point'" [costClass]="'final'">
              <ng-container test2 *ngTemplateOutlet="rateActions"></ng-container>
            </app-rate-info-row>
            <app-rate-info-row [rate]="expandedElement.delivery" [detailsMethod]="'transporter'" [costClass]="'final'">
              <ng-container test2 *ngTemplateOutlet="rateActions"></ng-container>
            </app-rate-info-row>
          </ng-template>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="column"></tr>
    <tr mat-row *matRowDef="let element; columns: column;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
</div>

<app-paginator
  [total]="total"
  [count]="count"
  [start]="start"
  [limits]="limits"
  (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)">
</app-paginator>

<ng-template #rateСustomsDialogRef let-data>
  <app-rate-add-customs
    [rate]="data"
    [chargesShema]="schemaCharges"
    [weight]="currentRequest.cargo_places_paid_weight"
    [requestId]="currentRequest.id"
    [transportKindId]="currentRequest.transport_kind_id"
    [cityId]="currentRequest.arrival_city_id">
  </app-rate-add-customs>
</ng-template>

<ng-template #ratePointDialogRef let-data>
  <app-rate-add-point
    [rate]="data"
    [chargesShema]="schemaCharges"
    [weight]="currentRequest.cargo_places_paid_weight"
    [requestId]="currentRequest.id"
    [transportKindId]="currentRequest.transport_kind_id"
    [cityId]="currentRequest.arrival_city_id">
  </app-rate-add-point>
</ng-template>

<ng-template #rateTransporterDialogRef let-data>
  <app-rate-add-transporter
    [rate]="data"
    [chargesShema]="schemaCharges"
    [weight]="currentRequest.cargo_places_paid_weight"
    [requestId]="currentRequest.id"
    [transportKindId]="currentRequest.transport_kind_id"
    [cityId]="currentRequest.arrival_city_id">
  </app-rate-add-transporter>
</ng-template>

<ng-template #dialogRef let-data>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>{{data.message}}</div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Да</button>
    <button mat-button mat-dialog-close>Нет</button>
  </div>
</ng-template>

<ng-template #costRateBox let-label="label" let-sum="sum">
  <div class="cost">
    <div class="label">{{label}}</div>
    <div class="sum">{{sum}}</div>
  </div>
</ng-template>

<ng-template #rateActions>
  <div class="action-bar" >
    <button class="edit" (click)="onEditRateBtnClick()"></button>
    <button class="dub" (click)="onDubSingleRateBtnClick()"></button>
    <button class="del" (click)="onDelSingleRateBtnClick()"></button>
  </div>
</ng-template>
