<div class="subheader">
  <app-request-info-block [request]="currentRequest"></app-request-info-block>
  <div class="request-actions">
    <button class="det" (click)="onDetailsRequestBtnClick()" [style.border]="isExpandedRequestInfo?'1px solid #DB563B':'1px solid white'">Детали</button>
    <button class="edi" (click)="onEditRequestBtnClick()">Правка</button>
    <button class="dub" (click)="onDubRequestBtnClick()">Дубль</button>
    <button class="del" (click)="onDeleteRequestBtnClick()">Удалить</button>
  </div>
</div>

<div class="expanded-request-info" *ngIf="isExpandedRequestInfo">
  <div class="columns">
    <div class="col" style="width: 50%;">
      <div class="title">Route of Transportation</div>
      <div class="item w1">
        <div class="field">Dispatch</div>
        <div class="info">
          {{currentRequest?.departure_text}}
          <!-- {{currentRequest?.departure_country_name}}, {{currentRequest?.departure_city_name}}, {{currentRequest?.departure_address}} -->
          <!-- <span class="comm">{{currentRequest?.departure_point_name}}</span> -->
        </div>
      </div>
      <div class="item w1">
        <div class="field">Destination</div>
        <div class="info">
          {{currentRequest?.arrival_text}}
          <!-- {{currentRequest?.arrival_country_name}}, {{currentRequest?.arrival_city_name}}, {{currentRequest?.arrival_address}}
          <span class="comm">{{currentRequest?.arrival_point_name}}</span> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="title w1">Cargo Details</div>

      <div class="item w4">
        <div class="field">Type of cargo:</div>
        <div class="info">{{currentRequest?.cargo_type_text}}</div>
      </div>

      <div class="item w4">
        <div class="field">Cargo name:</div>
        <div class="info">{{currentRequest?.cargo_description}}</div>
      </div>

      <div class="item w2">
        <div class="field">Details total:</div>
        <div class="info">
          {{currentRequest?.cargo_places_count}}<span> pcs </span>
          <span class="space">/</span>
          {{currentRequest?.cargo_places_volume}}<span> m<sup class="sup">3</sup></span>
          <span class="space">/</span>
          {{currentRequest?.cargo_places_weight}}<span> kg</span>
          <span class="space">/</span>
          {{currentRequest?.cargo_places_density  | number:'1.0-1'}}<span> kg/m<sup class="sup">3</sup></span>
        </div>
      </div>

      <div class="item w4">
        <div class="field">Cargo readiness:</div>
        <div class="info">{{currentRequest?.cargo_readiness}}</div>
      </div>
      <div class="item w4">
        <div class="field">Incoterms</div>
        <div class="info">{{currentRequest?.incoterms_name}} {{currentRequest?.incoterms_city_name}}</div>
      </div>
      <!-- <div class="item w4">
        <div class="field">Details total:</div>
        <div class="info">
          {{currentRequest?.cargo_places_count}}<span> pcs </span>
          <span class="space">/</span>
          {{currentRequest?.cargo_places_volume}}<span> m<sup class="sup">3</sup></span>
          <span class="space">/</span>
          {{currentRequest?.cargo_places_weight}}<span> kg</span>
          <span class="space">/</span>
          {{currentRequest?.cargo_places_density  | number:'1.0-1'}}<span> kg/m<sup class="sup">3</sup></span>
        </div>
      </div> -->
      <div class="item w2">
        <div class="field">Conditions of carriage:</div>
        <div class="info">?????????????????</div>
      </div>
    </div>
    <div class="col">
      <div class="w1 title">Dimensions</div>
      <div class="w1 dime">{{currentRequest?.cargo_dimensions}}</div>
      <div class="w1 dime">????????????????? (1200 x 20 x 20, 110 kg) x 11 Wooden pallets - Stackable</div>
      <div class="w1 dime">????????????????? (1200 x 20 x 20, 110 kg) x 11 Wooden pallets - Stackable</div>
      <div class="w1 dime">????????????????? (1200 x 20 x 20, 110 kg) x 11 Wooden pallets - Stackable</div>
    </div>
  </div>
  <div class="row">
    <div class="title">Comment</div>
    <div>{{currentRequest.comment}}</div>
  </div>
  <div class="row">
    <div class="title">Attached Files</div>
    <div *ngFor="let file of currentRequest.documents_file" class="file-box" (click)="getRequestFile(file.id)">{{file.file_name}}</div>
    <div *ngFor="let file of currentRequest.cargo_file" class="file-box" (click)="getRequestFile(file.id)">{{file.file_name}}</div>
  </div>
</div>

<!-- <ng-container *ngIf="!isOfferListShow">
  <div class="subtitle">Коммерческие предложения: 0</div>
  <div class="kp-none">Коммерческих предложений нет</div>
</ng-container> -->

<ng-container *ngIf="isOfferListShow">
  <div class="subtitle">Коммерческие предложения: {{offerList.total}}</div>
  <div class="table-list kp">
    <table mat-table [dataSource]="offerList?.items" multiTemplateDataRows>
      <ng-container
        *ngFor="let col of offerList.columns"
        [matColumnDef]="col.column"
        [ngSwitch]="col.column"
      >
        <ng-template [ngSwitchDefault]>
          <th mat-header-cell *matHeaderCellDef  [style.width]="col.width" [class]="col.class">
            <div class="td-block">
              <div class="column" [style.width]="miniCol.width" [class]="miniCol.class"
                *ngFor="let miniCol of col.items"
              >
                {{miniCol.title}}
              </div>
            </div>
          </th>

          <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
            <div class="td-block" >
              <div class="column"
                [style.width]="miniCol.width"
                [class]="miniCol.class"
                *ngFor="let miniCol of col.items"
              >
                {{ getVal(item,miniCol.field) }}
              </div>
            </div>
          </td>
        </ng-template>

        <ng-template [ngSwitchCase]="'checked'">
          <th mat-header-cell *matHeaderCellDef [style.width]="'64px'">
            <div class="td-block">
              <mat-checkbox class="testclass"
                [checked]="isKpCheckboxHeaderTableChecked()"
                (change)="onKpCheckboxHeaderTableChange($event)"
                [indeterminate]="isKpCheckboxHeaderTableIndeterminate()"
                >
                </mat-checkbox>
            </div>
          </th>

          <td mat-cell *matCellDef="let item" [style.width]="'64px'">
            <div class="td-block">
              <mat-checkbox class="testclass"
                [checked]="isKpCheckboxBodyTableChecked(item.id)"
                (change)="onKpCheckboxBodyTableChange(item.id,$event)"
              >
              </mat-checkbox>
            </div>
          </td>
        </ng-template>

        <ng-template [ngSwitchCase]="'functions'">

          <th mat-header-cell *matHeaderCellDef [style.width]="'240px'">
            <div class="td-block">
              <button (click)="onSendKpBtnClick()" class="btn-send">ОТПРАВИТЬ</button>
            </div>
          </th>

          <td mat-cell *matCellDef="let item" [style.width]="'240px'">
            <div class="td-block">
              <div class="column">
                <div class="kp-btns">
                  <button class="edi" (click)="onEditKpBtnClick(item.id)"></button>
                  <button class="dub" (click)="onDubKpBtnClick(item.id)"></button>
                  <button class="cop" (click)="onCopyKpBtnClick(item.id)"></button>
                  <button class="pdf" (click)="onPdfKpBtnClick(item.id)"></button>
                  <button class="txt" (click)="onTxtKpBtnClick(item.id)"></button>
                  <button class="del" (click)="onDelKpBtnClick(item.id)"></button>
                </div>
              </div>
            </div>
          </td>

        </ng-template>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="offerList.colList"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: offerList.colList"></tr>
    </table>
  </div>

</ng-container>


<div style="display: flex; align-items: center;">
  <div class="subtitle">Ставки: {{currentRequest.count_rate_send}}/{{currentRequest.count_rate_answer}}</div>
  <div class="rate-links">
    <div (click)="onTableMethodChange('final')" [ngClass]="detailsMethod==='final'? 'table-active':'' ">Итоговые</div>
    <div (click)="onTableMethodChange('customs')" [ngClass]="detailsMethod==='customs'? 'table-active':'' ">До границы</div>
    <div (click)="onTableMethodChange('point')" [ngClass]="detailsMethod==='point'? 'table-active':'' ">Склад (СВХ)</div>
    <div (click)="onTableMethodChange('transporter')" [ngClass]="detailsMethod==='transporter'? 'table-active':'' ">Вывоз</div>
  </div>
</div>

<app-table-filter
  class="table-filter"
  [isBiddingMode]="isBiddingMode"
  [isRateDetailsMode]="isRateDetailsMode"
  [quantityContractors]="quantityContractors"
  (saveBidding)="saveContractorSelectRequest()"
  >
    <div class="detail-btn" *ngIf="isRateDetailsMode">
      <button *ngIf="detailsMethod!=='final'" class="add rate" (click)="onAddRateBtnClick(detailsMethod)">
        <span style="text-wrap: nowrap" >+ СТАВКА</span>
      </button>
      <button *ngIf="detailsMethod==='final'" class="add kp" (click)="onAddKpBtnClick()" [disabled]="arrDetailsCheckedCheck.length==0">
        <span style="text-wrap: nowrap" >+ КП</span>
      </button>
      <button *ngIf="detailsMethod!=='final'" class="dub" (click)="onDubSelectRateBtnClick()" [disabled]="arrDetailsCheckedCheck.length==0">ДУБЛЬ</button>
      <button *ngIf="detailsMethod !== 'final' && detailsMethod !== 'point'" class="bid" (click)="onBidSelectRateBtnClick()">ТОРГИ</button>
      <button class="del" (click)="onDelSelectRateBtnClick()" [disabled]="arrDetailsCheckedCheck.length==0">УДАЛИТЬ</button>
    </div>
</app-table-filter>

<div class="table-list rate">
  <table mat-table [dataSource]="rows" multiTemplateDataRows>
    <ng-container *ngFor="let col of columnsData"
      [matColumnDef]="col.column"
      [ngSwitch]="col.column"
    >
      <!-- обычные элементы табл -->
      <ng-template [ngSwitchDefault]>
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <div class="td-block" *ngIf="!col.title">
            <div class="column"
              *ngFor="let miniCol of col.items"
              [style.width]="miniCol.width"
              [class]="miniCol.class"
            >
              {{miniCol.title}}
            </div>
          </div>

          <div class="td-block-column" *ngIf="col.title">
            <div class="td-block-title">{{col.title}}</div>
            <div class="td-block-line">
              <div class="column" *ngFor="let miniCol of col.items" [style.width]="miniCol.width" [class]="miniCol.class">
                {{miniCol.title}}
              </div>
            </div>
          </div>
        </th>

        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block" *ngIf="!col.title">
            <div class="column"
              *ngFor="let miniCol of col.items"
              [style.width]="miniCol.width"
              [class]="miniCol.class"
            >
              {{ getVal(item,miniCol.field) }}
            </div>
          </div>

          <div class="td-block-line" *ngIf="col.title">
            <div class="column" *ngFor="let miniCol of col.items" [style.width]="miniCol.width" [class]="miniCol.class">
              {{ getVal(item,miniCol.field) }}
            </div>
          </div>
        </td>
      </ng-template>
      <!-- select столбец -->
      <ng-template [ngSwitchCase]="'select'">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <label class="checkbox-label">
            <mat-checkbox class="testclass"
              [indeterminate]="isCheckboxHeaderTableIndeterminate()"
              [checked]="isCheckboxHeaderTableChecked()"
              (change)="onCheckboxHeaderTableChange($event)"
            >
            </mat-checkbox>
          </label>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block">
            <label class="checkbox-label" *ngIf="col.column==='select'">
              <mat-checkbox class="testclass"
                [checked]="isCheckboxBodyTableChecked(item.id)"
                (change)="onCheckboxBodyTableChange(item.id,$event)"
              >
              </mat-checkbox>
            </label>
          </div>
        </td>
      </ng-template>
      <!-- checked столбец -->
      <ng-template [ngSwitchCase]="'checked'">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <div class="td-block">КП</div>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <div class="td-block">
            <label class="switch outer" *ngIf="col.column==='checked'">
              <input type="checkbox"  [checked]="item.selected" (change)="onCommercialOfferChange(item)" >
              <div class="switcher">
                <span class="bg"></span>
                <span class="thumb"></span>
              </div>
            </label>
          </div>
        </td>
      </ng-template>
      <!-- details столбец -->
      <ng-template [ngSwitchCase]="'details'">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" [class]="col.class">
          <div class="setting-link"></div>
        </th>
        <td mat-cell *matCellDef="let item" [style.width]="col.width" [class]="col.class">
          <!-- <div class="td-block" style="cursor: pointer;" (click)="expandedElement = expandedElement === item ? null : item;" > -->
          <div class="td-block" style="cursor: pointer;" (click)="onOpenDetailsRateBtnClick(item);" >
            <!-- (click)="$event.stopPropagation()" -->
            <div class="column">
              <div [ngClass]="expandedElement===item?'arrow-close':'arrow-open'"></div>
            </div>
          </div>
        </td>
      </ng-template>

    </ng-container>

    <!-- РАСШИРЕННАЯ СТРОКА -->
    <ng-container matColumnDef="expandedDetail" >
      <td mat-cell *matCellDef="let element" [attr.colspan]='column?.length'>
        <div class="example-element-detail" *ngIf="element==expandedElement">

          <ng-container *ngIf="detailsMethod!=='final'">
            <app-rate-info-row
              [rate]="expandedElement"
              [detailsMethod]="detailsMethod"
            >
              <ng-container test2 *ngTemplateOutlet="rateActions; context: { mode: detailsMethod, data: expandedElement }"></ng-container>
            </app-rate-info-row>
          </ng-container>

          <ng-container *ngIf="detailsMethod==='final'">

            <div class="costs">
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'Итоговая ставка:', sum:expandedElement.total_cost_text }">
              </ng-container>
              ≈
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'До границы:', sum: expandedElement.custom?.total_cost_text }">
              </ng-container>
              +
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'Склад (СВХ):', sum: expandedElement.storage.total_cost_text }">
              </ng-container>
              +
              <ng-container *ngTemplateOutlet="costRateBox; context: { label: 'Вывоз:', sum: expandedElement.delivery.total_cost_text }">
              </ng-container>
            </div>

            <app-rate-info-row
              [rate]="expandedElement.custom"
              [detailsMethod]="'customs'"
              [costClass]="'final'"
              [percent]="getRatesPercent(expandedElement.custom?.total_cost,expandedElement.total_cost)"
            >
              <ng-container test2
                *ngTemplateOutlet="rateActions; context: { mode: 'customs', data: expandedElement.custom }">
              </ng-container>
            </app-rate-info-row>

            <app-rate-info-row
              [rate]="expandedElement.storage"
              [detailsMethod]="'point'"
              [costClass]="'final'"
              [percent]="getRatesPercent(expandedElement.storage?.total_cost,expandedElement.total_cost)"
            >
              <ng-container test2
                *ngTemplateOutlet="rateActions;context: { mode: 'point', data: expandedElement.storage }">
              </ng-container>
            </app-rate-info-row>

            <app-rate-info-row
              [rate]="expandedElement.delivery"
              [detailsMethod]="'transporter'"
              [costClass]="'final'"
              [percent]="getRatesPercent(expandedElement.delivery?.total_cost,expandedElement.total_cost)"
            >
              <ng-container test2
                *ngTemplateOutlet="rateActions; context: { mode: 'transporter', data: expandedElement.delivery }">
              </ng-container>
            </app-rate-info-row>
          <!-- </ng-template> -->
          </ng-container>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="column"></tr>
    <tr mat-row *matRowDef="let element; columns: column;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  </table>
</div>

<app-paginator
  [total]="total"
  [count]="count"
  [start]="start"
  [limits]="limits"
  (startChange)="onStartChange($event)"
  (countChange)="onCountChange($event)">
</app-paginator>

<ng-template #rateСustomsDialogRef let-data>
  <app-rate-add-customs
    [rate]="data"

    [weight]="currentRequest.cargo_places_paid_weight"
    [requestId]="currentRequest.id"
    [transportKindId]="currentRequest.transport_kind_id"
    [cityId]="currentRequest.arrival_city_id"
    [cityIdDep]="currentRequest.departure_city_id"
    (closeDialog)="closeAllDialogs()">
  </app-rate-add-customs>
</ng-template>

<ng-template #ratePointDialogRef let-data>
  <app-rate-add-point
    [rate]="data"

    [weight]="currentRequest.cargo_places_paid_weight"
    [requestId]="currentRequest.id"
    [transportKindId]="currentRequest.transport_kind_id"
    [cityId]="currentRequest.arrival_city_id"
    (closeDialog)="closeAllDialogs()">
  </app-rate-add-point>
</ng-template>

<ng-template #rateTransporterDialogRef let-data>
  <app-rate-add-transporter
  [requestId]="currentRequest.id"
    [rate]="data"

    [weight]="currentRequest.cargo_places_paid_weight"

    [transportKindId]="currentRequest.transport_kind_id"
    [cityId]="currentRequest.arrival_city_id"
    (closeDialog)="closeAllDialogs()">
  </app-rate-add-transporter>
</ng-template>

<ng-template #dialogRef let-data>
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>{{data.message}}</div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Да</button>
    <button mat-button mat-dialog-close>Нет</button>
  </div>
</ng-template>

<ng-template #costRateBox let-label="label" let-sum="sum">
  <div class="cost">
    <div class="label">{{label}}</div>
    <div class="sum">{{sum}}</div>
  </div>
</ng-template>

<ng-template #rateActions let-mode="mode" let-data="data">
  <div class="action-bar" >
    <button class="edit" (click)="onEditRateBtnClick(mode,data)"></button>
    <button class="dub" (click)="onDubSingleRateBtnClick(data)"></button>
    <button class="del" (click)="onDelSingleRateBtnClick()"></button>
  </div>
</ng-template>
