.table-list.kp table td {
  background: white;
}
.mat-mdc-table thead, .mat-mdc-table tbody, .mat-mdc-table tfoot, mat-header-row, mat-row, mat-footer-row, [mat-header-row], [mat-row], [mat-footer-row], .mat-table-sticky {
  max-height: 100px;
}


.expanded-request-info, .example-element-detail{

  min-height: 0;
  margin: 0;
  padding: 0 20px;
  border: none;


  visibility: hidden;   /* Скрывает элемент изначально */
  opacity: 0;           /* Элемент скрыт */
  max-height: 0;         /* Начальная ширина 0 */
  overflow: hidden;     /* Обрезает все, что выходит за пределы */
  transition: opacity 2s ease, max-height 1s ease, visibility 0s 1s, padding 1s ease;

}

.expanded-request-info.visible, .example-element-detail.visible {
  min-height: 100px;
  margin: 0;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  visibility: visible;  /* Элемент становится видимым */
  opacity: 1;           /* Элемент становится прозрачным */
  max-height: 3000px;     /* Ширина становится 200px */
  transition: opacity 2s ease, max-height 1s ease, visibility 0s 0s;
}

.expanded-request-info{
  padding: 0px 12px 0px 24px;
  background: #fff;
  display: flex; flex-direction: column;
  border-bottom: 1px #C3CCD6 solid;

  .columns{
    gap:40px;
    display: flex;
    padding: 40px 0;
    .col{
      display: flex; flex-wrap: wrap;
      width: 100%; height: fit-content;
      .title{
        color: #4B66AD;
        font-weight: bold; font-size: 20px; line-height: 20px;
        margin-bottom: 25px;
      }
      .dime{
        line-height: 30px;
      }
      .item{
        display: flex; flex-direction: column;
        .info{
          font-weight: bold;
          color: #2C3640;
        }
        .field{
          text-transform: none;
          font-size: 12px; line-height: 12px; font-weight: normal;
          margin-bottom: 15px;
          color: #606A74;
        }
      }
      .item:nth-child(n+5) { margin-top: 40px; }
    }
    .col:first-child{
      .item{ margin-bottom: 0; }
      .item:last-child{ margin-top: 40px; }
    }
    .w1{ width: 100%; }
    .w2{ width: 50%; }
    .w4{ width: 25%; }
  }

  .row{
    padding: 40px 0;
    border-top: 1px #C3CCD6 solid;
    .title{
      color: #2C3640;
      font-weight: bold; font-size: 20px; line-height: 20px;
      padding-bottom: 25px;
    }
    .file-box {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      height: 15px; width: fit-content;
      padding: 10px 10px 10px 35px; margin: 0 5px 15px 0;
      color: #DB563B;
      text-wrap: nowrap;
      background: url(../../../../assets/pic-btn-download.svg) no-repeat;
      background-position: 10px;
      cursor: pointer;
    }
    .file-box:last-child{ margin-bottom: 0; }
  }


}

.table-filter {
  margin: 0 20px;
  height: 82px;
  display: block;
  border: 1px solid #E0E5EB;
  border-bottom: 0;
}

.arrow-open{
  width: 10px;
  height: 6px;
  background-image:url(../../../../assets/pic-select-arrow.svg);
  margin: 0 auto;
}
.arrow-close{
  width: 10px;
  height: 6px;
  background-image:url(../../../../assets/pic-filter-arrow.svg);
  margin: 0 auto;
}

.switch{
  width: 40px;
  display: block;
  margin: 0 auto;
}
.checkbox-label{
  margin: 0 auto;
  display: block;
  width: 20px;
}

.pic-i{
  display: block;
  background-image:url(../../../../assets/pic-i-in-ring.svg);
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.table-list{
  // margin: 0 20px;
  .transport-type{
    width: 20px;
    height: 20px;
    background-position: center;
    margin: 0 auto;
  }
  .avia_direct{
    background-image: url(../../../../assets/pic-transport-type-air.svg);
  }
  .avia_transit{
    background-image: url(../../../../assets/pic-transport-type-air2.svg);
  }
  .w64px{
    width: 64px;
    max-width: 64px;
  }
  .transport_type{
    div{
      width: 14px;
      height: 14px;
      background-position: center;
      margin: 0 auto;
    }
    .avia{
      background-image: url(../../../../assets/pic-transport-type-air.svg);
    }
  }
}
// расшир табл
tr{
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.table-list.rate table tr:nth-child(even) td {
  background: #EDF2F7;

}
.table-list table tr:nth-child(odd) td {
  background: white;
}
.table-list table tr.example-expanded-row td {
  background: #EDF2F7;
}
tr.example-detail-row {
  height: 0;
}
.example-element-detail {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // padding: 0 20px;
  // padding-bottom: 20px;
  gap: 20px;
  .costs{
    width: 100%;
    height: 84px;
    display: flex;
    gap: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #83909E;
    align-items: center;
    .cost{
      padding: 20px;
      background-color: #FFFFFF;
      border: 1px solid #E0E5EB;
      height: 100%;
      box-sizing: border-box;
      .label{
        font-size: 13px;
        font-weight: 400;
        line-height: 12px;
        color: #DB563B;
        margin-bottom: 5px;
      }
      .sum{
        // font-size: 32px;
        // font-weight: 700;
        // line-height: 32px;
        // text-align: left;
        color:#2C3640;
      }

    }
    .cost:first-child{
      .label{color: #2C3640;}
      .sum{color: #DB563B;}
    }
  }
}
.example-element-detail:first-child{
  // border-top: 1px solid rgba(0, 0, 0, 0.12);
  // padding: 20px;
}
.example-element-row td {
  border-bottom-width: 0;
}
// сабхеадер
.subheader{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #C3CCD6 solid;
}

.request-actions{
  display: flex;
  gap: 10px;
}
.request-actions button{
  display: block;
  padding: 9px 8px 7px;
  min-width: 64px;
  min-height: 56px;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 6px;
  border: 0;
}
.request-actions button:before {
  content: "";
  display: block;
  height: 20px;
  background: no-repeat 50% 50%;
  margin: 0;
  margin-bottom: 10px;
}
.request-actions button.del{
  background: #606A74;
  color: white;
}

.request-actions button.tor:before{
  background-image: url(../../../../assets/pic-btn-trade-red.svg);
}
.request-actions button.det:before{
  background-image: url(../../../../assets/pic-btn-detail.svg);
}
.request-actions button.edi:before{
  background-image: url(../../../../assets/pic-btn-edit.svg);
}
.request-actions button.dub:before{
  background-image: url(../../../../assets/pic-btn-double.svg);
}
.request-actions button.del:before{
  background-image: url(../../../../assets/pic-btn-del.svg);
}

.subtitle{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px;
}

.kp-none{
  background-color: white;
  color: black;
  margin: 0 20px;
  text-align: center;
  padding: 40px 0 40px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.rate-links{
  display: flex;
  gap: 10px;
}
.rate-links div{
  padding: 10px;

  color: #83909E;
  font-size: 15px;
  line-height: 14px;
  font-weight: 700;
  cursor: pointer;
}
.rate-links .table-active{
  color: black;
  background-color: white;
  border-bottom: 1px solid #DB563B;
}

.table-list .td-block {
  padding: 9px 10px 7px;
}
.table-list .td-block .column {
  padding: 0 10px 0 ;
}

.action-bar{
  position: absolute;
  top: 30px;
  right: -10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  button{
    height: 40px;
    width: 40px;
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border: 0;
  }
  button::before{
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background: no-repeat 50% 50%;
    margin: 11px auto;
  }
  .edit::before{
    background-image:url(../../../../assets/pic-btn-edit-w.svg);
  }
  button.edit{
    background-color: #DB563B;
  }
  .dub::before{
    background-image:url(../../../../assets/pic-btn-double.svg);
  }
  .del::before{
    background-image:url(../../../../assets/pic-btn-del.svg);
  }
  button.del{
    background-color: #606A74;
  }
}


.cost_block{
  border-bottom: #E0E5EB 1px solid;
  padding: 40px;
  .cost{
    color: #DB563B;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
  }
}

.kp-btns{
  display: flex;
  gap:20px;
  button{
    cursor: pointer;
    border: none;
    background-color: transparent ;
    padding: 0;
    margin: 0;
  }
  button::before{
    content: "";
    display: block;
    background: no-repeat 50% 50%;
    width: 16px;
    height: 16px;
  }
  .del::before{
    background-image:url(../../../../assets/pic-btn-del-gray.svg);
  }
  .txt::before{
    width: 21px;
    height: 10px;
    background-image:url(../../../../assets/pic-btn-txt-no-row.svg);
  }
  .pdf::before{
    width: 22px;
    height: 10px;
    background-image:url(../../../../assets/pic-btn-pdf.svg);
  }
  .cop::before{
    background-image:url(../../../../assets/pic-btn-copy.svg);
  }
  .dub::before{
    background-image:url(../../../../assets/pic-btn-double.svg);
  }
  .edi::before{
    background-image:url(../../../../assets/pic-btn-edit.svg);
  }
}

.btn-send{
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: right;
  display: flex;
  align-items: center;



  border: none;
  width: 94px;
  height: 24px;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #2C3640;
}
.btn-send::before{
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image:url(../../../../assets/pic-btn-send.svg);
  margin-right: auto;
}

mat-checkbox{
  margin: 0 auto;
}
