<app-editor-header [title]="title" (save)="save()" (remove)="remove()" [isEditMode]="isEditMode" ></app-editor-header>

<div class="edit-form">
  <form class="form" [formGroup]="requestForm" (ngSubmit)="save()">

    <div class="form-block">
      <div class="form-row">
        <div class="form-item-layout">

          <!-- <div class="form-item">
            <div class="form-label">КОНТРАГЕНТ: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="contractor_id">
                 <mat-option *ngFor="let contractor of contractors;" [value]="contractor.id">{{ contractor.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['contractor_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div> -->

          <div class="form-item">
            <div class="form-label">КОНТРАГЕНТ: <span class="req">•</span></div>
            <input appearance="outline" class="ui-select"
              type="text"
              name="contractor_id"
              formControlName="contractor_id"
              [matAutocomplete]="auto"
              (keyup)="getContractorsByName($event)" placeholder="—">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
              <mat-option *ngFor="let contractor of contractors;" [value]="contractor">{{ contractor.name }}</mat-option>
            </mat-autocomplete>
          </div>


          <div class="form-item">
            <div class="form-label">Вид запроса: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="request_format_id" (valueChange)="onRequestFormatsChange($event)">
                 <mat-option *ngFor="let requestFormat of requestFormats;" [value]="requestFormat.id">{{ requestFormat.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['request_format_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

          <div class="form-item">
            <div class="form-label">Вид перевозки: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="transportation_format_id" (valueChange)="onTransportationFormatsChange($event)">
                 <mat-option *ngFor="let transportationFormat of transportationFormats;" [value]="transportationFormat.id">{{ transportationFormat.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['transportation_format_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

          <div class="form-item">
            <div class="form-label">Вид транспорта: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="transportation_format_id">
                 <mat-option *ngFor="let transportFormat of transportFormats;" [value]="transportFormat.id">{{ transportFormat.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['transportation_format_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Блок ОПИСАНИЕ ГРУЗА меняется в зависимости от вида запроса -->
    <div formArrayName="cargos_places">
      <app-cargo-editor [currentRequestFormat]="currentRequestFormat" [parentForm]="requestForm"></app-cargo-editor>
    </div>


    <div class="form-block-title">Направления</div>
    <div class="form-block">
      <!-- ОТКУДА -->
      <div class="form-row">
        <div class="form-item-layout">

          <div class="form-item">
            <div class="form-label">Страна отправления: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="departure_country_id" (valueChange)="onCountryChange($event)">
                 <mat-option *ngFor="let departureCountry of departureCountrys;" [value]="departureCountry.id">{{ departureCountry.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['departure_country_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

          <div class="form-item">
           <div class="form-label">Город отправления: <span class="req">•</span></div>
            <mat-form-field appearance="outline" class="ui-select">
              <mat-select formControlName="departure_city_id" (valueChange)="onCityChange($event)">
                <mat-option *ngFor="let departureCity of departureCitys;" [value]="departureCity.id">{{ departureCity.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="requestForm.controls['departure_city_id'].hasError('required')">
                Это поле обязательно
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-item" *ngIf="currentTransportationFormat==='avia'">
            <div class="form-label">Аэропорт вылета: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="departure_point_id" >
                 <mat-option *ngFor="let departurePoint of departurePoint;" [value]="departurePoint.id">{{ departurePoint.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['departure_point_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

        </div>
      </div>
      <!-- КУДА -->
      <div class="form-row">
        <div class="form-item-layout">

          <div class="form-item">
            <div class="form-label">Страна прибытия: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="arrival_country_id" (valueChange)="onCountryChange($event)">
                 <mat-option *ngFor="let departureCountry of departureCountrys;" [value]="departureCountry.id">{{ departureCountry.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['arrival_country_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

          <div class="form-item">
            <div class="form-label">Город назначения: <span class="req">•</span></div>
             <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="arrival_city_id" (valueChange)="onCityChange($event)">
                 <mat-option *ngFor="let departureCity of departureCitys;" [value]="departureCity.id">{{ departureCity.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['arrival_city_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
           </div>

           <div class="form-item" *ngIf="currentTransportationFormat==='avia'">
             <div class="form-label">Аэропорт прибытия: <span class="req">•</span></div>
             <div class="form-data">
               <mat-form-field appearance="outline" class="ui-select">
                <mat-select formControlName="arrival_point_id" >
                  <mat-option *ngFor="let departurePoint of departurePoint;" [value]="departurePoint.id">{{ departurePoint.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="requestForm.controls['arrival_point_id'].hasError('required')">
                  Это поле обязательно
                </mat-error>
              </mat-form-field>
             </div>
           </div>

           <div class="form-item">
            <div class="form-label">Адрес доставки груза: <span class="req">•</span></div>
            <div class="form-data"><input type="text" name="arrival_address" formControlName="arrival_address" placeholder="—"></div>
          </div>

        </div>
      </div>
      <!-- РЕЙСЫ -->
      <div class="form-row">
        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">Рейсы: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="direction_flight">
                 <mat-option *ngFor="let directionFlight of directionFlights;" [value]="directionFlight.id">{{ directionFlight.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['direction_flight'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-block-title">Требуемые услуги</div>
    <div class="form-block">

      <div class="form-row">
        <div class="form-item-layout">

          <div class="form-item">
            <div class="form-label">УСЛОВИЕ ПОСТАВКИ (INCOTERMS): <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select" >
               <mat-select formControlName="incoterms_id">
                 <mat-option *ngFor="let incoterm of incoterms;" [value]="incoterm.id" >{{ incoterm.name }}</mat-option>
               </mat-select>
               <mat-error *ngIf="requestForm.controls['incoterms_id'].hasError('required')">
                 Это поле обязательно
               </mat-error>
             </mat-form-field>
            </div>
          </div>

        </div>
      </div>

      <div class="form-row">

        <div class="form-item-layout">
          <div class="form-item">
            <div class="form-label">В ставку ДОЛЖНО быть включено: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="request_services_id" multiple="">
                 <mat-option *ngFor="let service of services;" [value]="service.id">{{ service.name }}</mat-option>
               </mat-select>
             </mat-form-field>
            </div>
          </div>

          <div class="form-item">
            <div class="form-label">Дополнительные услуги: <span class="req">•</span></div>
            <div class="form-data">
              <mat-form-field appearance="outline" class="ui-select">
               <mat-select formControlName="request_services_additional_id" multiple="" >
                 <mat-option *ngFor="let servicesAdditional of servicesAdditionals;" [value]="servicesAdditional.id">{{ servicesAdditional.name }}</mat-option>
               </mat-select>
             </mat-form-field>
            </div>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>
