input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
::-webkit-calendar-picker-indicator{
  background-image: url('../../../../assets/pic-btn-calendar.svg');
}
button{
  border: none;
}

.form-block .form-item {
  box-sizing: border-box;
}

.max-w-fc{
  max-width: fit-content;
}

.place input[type="number"] {
//   font-family: 'regular', 'arial', 'sans-serif';
//   background: #F7F9FC;
//   border: 1px solid #E0E5EB;
//   color: #2C3640;
//   font-size: 15px;
//   line-height: 15px;
//   border-radius: 6px;
//   width: 100%;
//   box-sizing: border-box;
//   height: 39.88px;
  text-align: right;
  padding: 11px 5px 9px;
}
// .edit-form.request input[type="text"] {
//   height: 39.88px;
// }
input[type="date"] {
  font-family: 'regular', 'arial', 'sans-serif';
  background: #F7F9FC;
  border: 1px solid #E0E5EB;
  color: #2C3640;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 8px 9px;

  height: 39.88px;
}

.form-block .form-row.bg input[type="number"] {
  background: #fff;
}
.form-block .form-row.bg input[type="date"] {
  background: #fff;
}
.bg mat-form-field.mat-form-field-appearance-outline .mat-form-field-outline > * {
  background: white;
}



.form-item-layout + .form-item-table {
  margin-top: 25px;
}

.form-item-table .place:first-child .form-item-table-row {
  position: relative;
  border-top: 1px solid #E0E5EB;
}


.form-item-table .form-item-table-row:first-child:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  left: 0;
  top: 39px;
  border-bottom: 1px solid #E0E5EB;
}

.form-item-table-row {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #E0E5EB;
  padding: 15px 0;
}
.btn-del-place {
  border-bottom: none;
  padding-bottom: 0;
}



.form-item-table .form-item-table-row:first-child .form-label {
  padding-bottom: 23px;
  box-sizing: border-box;
  min-height: 33px;
}

.form-item-table-row .form-data.nm {
  font-weight: bold;
  color: #2C3640;
  padding-top: 13px;
}

.form-block .stretch {
  flex-grow: 1;
}
.form-item-block {
  display: flex;
  gap: 6px;
}
.request .form-item {
  flex-grow: 0;
}


.r{
  text-align: right;
}


.form-block .w72 {
  width: 72px;
  flex-shrink: 0;
  flex-grow: 0;
}
.form-block .w96 {
  width: 96px;
  flex-shrink: 0;
  flex-grow: 0;
}
.form-block .w100 {
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
}
.form-block .w156 {
  width: 156px;
  flex-shrink: 0;
  flex-grow: 0;
}
.form-block .w232 {
  width: 232px;
  flex-shrink: 0;
  flex-grow: 0;
}


.request .form-block .w70 {
  width: 70px;
  flex-shrink: 0;
  flex-grow: 0;
}
.request .form-block .w90 {
  width: 90px;
  flex-shrink: 0;
  flex-grow: 0;
}
.request .form-block .w112 {
  width: 112px;
  flex-shrink: 0;
  flex-grow: 0;
}
.request .form-block .w124 {
  width: 124px;
  flex-shrink: 0;
  flex-grow: 0;
}
.request .form-block .w138 {
  width: 138px;
  flex-shrink: 0;
  flex-grow: 0;
}
.request .form-block .w142 {
  width: 142px;
  flex-shrink: 0;
  flex-grow: 0;
}
.request .form-block .w172 {
  width: 172px;
  flex-shrink: 0;
  flex-grow: 0;
}



.form-block .form-item-layout {
  display: flex;
  gap: 24px;
}
.form-block .form-item-layout .form-item + .form-item {
  margin-left: 0px;
}



.bg .stacking-label{
  color: #F7F9FC;
}


.form-item .staking-true .mat-mdc-select-value{

  background:  url("../../../../assets/pic-btn-stacking-true.svg")  left / contain no-repeat;
  white-space: nowrap;
}
.form-item  .staking-false .mat-mdc-select-value{
  background:  url("../../../../assets/pic-btn-stacking-false.svg")  left / contain no-repeat;
  white-space: nowrap;
  display:inline
}
.form-item  .stacking-div{
  width: 16px;
  height: 16px;
  width: 20px;
  margin: 10px auto 0;
}


.request .bg .form-item-layout input[readonly]{
  border: 1px dashed #C3CCD6;
  color: #2C3640;
  background: #EDF2F7;
}
.request .place input[readonly]{
  border: 1px dashed #C3CCD6;
  color: #2C3640;
  background: white;
}



.form-item-table .del {
  display: inline-block;
  margin-top: 10px;
  width: 16px;
  height: 40px;
  background: url(../../../../assets/pic-btn-del-gray.svg) no-repeat 50% 50%;
  cursor: pointer;
  margin: 0;
}


.form-block .temperature .t {
  margin-left: 5px;
}

.datepiker{
  height: 40px;
  background-color: white;
  padding: 11px 2px 13px 9px;
  box-sizing: border-box;

  border: 1px solid #E0E5EB;
  color: #2C3640;
  font-size: 15px;
  line-height: 15px;
  border-radius: 6px;
  div{
    width: 76px;
  }
}

// kind_id: 1
// city_id_departure: 1345
// city_id_arrival: 1

