<form [formGroup]="rateForm" >

  <div class="form-row bg ">

    <div class=" rate-block-title">
      <div class="form-row-title color-blue">Rates</div>

      <label class="radio">
        <input type="radio" value="detail" formControlName="rate_type" (change)="onRateTypeChange()">
        <i></i>
        <span>With Details</span>
      </label>

      <label class="radio">
        <input type="radio" value="nodetail" formControlName="rate_type" (change)="onRateTypeChange()">
        <i></i>
        <span>With single Amount</span>
      </label>

    </div>

    <div class="rate_labels">
      <div *ngFor="let rate of rates; let i=index"
        [ngClass]="{'active-rate':i===currentRateNumber}"
        (click)="onChangeRate(i)"
        class="rate_label">
        Rate #{{i+1}} ({{returnAirlineIata(rate.carrier_id)}})
      </div>
      <button class="btn-add-rate rate_labels-btns" (click)="onAddRate()"><span class="icon-btn-plus"></span>Add Rate</button>
      <button class="btn-dup-rate rate_labels-btns" (click)="onDuplicateRate()"><span class="icon-btn-plus"></span>Duplicate Rate</button>
      <button class="btn-del-rate rate_labels-btns" (click)="onDeleteRate()"><span class="icon-btn-del"></span>Delete Rate</button>
    </div>

  </div>

  <div class="form-row rate">
    <div class="form-item-layout">

      <div class="form-item i10">
        <div class="form-label">Chargeable weight:</div>
        <div class="form-data">
          <span class="kg">
            <input type="text" readonly [value]="weight">kg
          </span>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Airline:</div>
        <div class="form-data">
          <input type="text"   readonly [value]="returnAirlineName(rateForm.value.carrier_id)">
        </div>
      </div>

      <div class="form-item i10">
        <div class="form-label">Airline (iata):</div>
        <div class="form-data">
          <mat-form-field appearance="outline" class="ui-select">
           <mat-select formControlName="carrier_id" >
            <mat-option
              *ngFor="let transportCarrierItem of transportCarrier;"
              [value]="transportCarrierItem.id"
              >
              {{ transportCarrierItem.iata }}
            </mat-option>
           </mat-select>
         </mat-form-field>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">Route:</div>
        <div class="form-data">
          <input
            type="text"
            style="text-transform: uppercase"
            formControlName="route_name"
            [matAutocomplete]="route"
          >
          <mat-autocomplete autoActiveFirstOption #route="matAutocomplete">
            <!-- <mat-option *ngIf="filterRote().length==0" style="text-transform: uppercase" [value]="rateForm.value.route_id">{{rateForm.value?.route_id}}</mat-option> -->
            <mat-option (onSelectionChange)="onRouteChange(route)" *ngFor="let route of filterRote()" [value]="route.name">{{route.name}}</mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <!-- <div class="form-item">
        <div class="form-label">Route:</div>
        <div class="form-data">
          <mat-form-field appearance="outline" class="ui-select">
            <mat-select formControlName="route_id">
             <mat-option
               *ngFor="let transportRoute of transportRoute;"
               [value]="transportRoute.id"
               >
               {{ transportRoute.name }}
             </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->

      <div class="form-item">
        <div class="form-label">The departure schedule:</div>
        <div class="form-data departure-schedule">
          <mat-form-field appearance="outline" class="ui-select">
            <mat-select formControlName="departure_schedule" multiple>
              <mat-option
                *ngFor="let day of daysOfTheWeek;"
                [value]="day.id"
                >
                {{ day.day }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-item">
        <div class="form-label">The nearest flight etd:</div>
        <div class="form-data">
          <button class="calendar" [matMenuTriggerFor]="menu">
            <div class="calendar-value">{{returnSelectDateText()}}</div>
            <div class="calendar-icon"></div>
          </button>
          <mat-menu #menu="matMenu">
            <div (click)="$event.stopPropagation()">
              <mat-calendar
                #calendar
                (selectedChange)="selectDate($event,calendar)"
                [dateClass]="isSelectedDate"
                >
              </mat-calendar>
            </div>
          </mat-menu>

        </div>
      </div>

    </div>

    <div class="form-item-layout" formGroupName="transit_time">
      <div class="form-item w110">
        <div class="form-label">Transit time from:</div>
        <div class="form-data">
          <input type="number" formControlName="transit_time_from" >
        </div>
      </div>

      <div class="form-item w110">
        <div class="form-label">Transit time to:</div>
        <div class="form-data">
          <input type="number" formControlName="transit_time_to" >
        </div>
      </div>
    </div>
    <!-- DETAIL MAKET -->
    <div class="charges" *ngIf="rateForm.value.rate_type==='detail'">

      <div style="width: 70%; margin-right: 120px;">
        <div class="form-block-sub-title">The rate includes following charges</div>
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;">
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field">
            <ng-template *ngFor="let chargeModel of chargeModel;let i = index;" [ngSwitchCase]="chargeModel.field_name">

              <div *ngIf="chargeValue.value.select" class="included-fees" >

                <label *ngIf="!chargeModel.requare">
                  <input  type="checkbox"  [checked]="chargeModel.requare===true" formControlName="select">
                  <i></i>
                  <span class="charges-title">{{chargeModel.name}}</span>
                </label>

                <label *ngIf="chargeModel.requare">
                  <input  type="checkbox" [checked]="chargeModel.requare" [disabled]="chargeModel.requare">
                  <i style="cursor:auto;"></i>
                  <span class="charges-title" style="color: #83909E; cursor:auto;">{{chargeModel.name}}</span>
                </label>

                <!-- 1) standart inputs + min -->
                <div *ngIf="chargeModel.field_min && !chargeModel.field_comment" class="input-box">
                  <div class="form-item charges-values br">
                    <div class="form-data">
                      <span class="unit">Min $:</span>
                      <input type="number" class="values-input"  formControlName="min" (ngModelChange)="calck(chargeValue)">
                    </div>
                  </div>

                  <div class="form-item charges-values">
                    <div class="form-data">
                      <input type="number" class="values-input" (ngModelChange)="calck(chargeValue)" formControlName="price"><span class="unit">$/{{chargeModel.unit}}</span>
                    </div>
                  </div>

                  <div class="cross"></div>

                  <div class="form-item charges-values" *ngIf="chargeModel.unit!=='kg'">
                    <div class="form-data">
                      <input type="number" class="values-input" (ngModelChange)="calck(chargeValue)" formControlName="value"><span class="unit">{{chargeModel.unit}}</span>
                    </div>
                  </div>

                  <div class="form-item charges-values" *ngIf="chargeModel.unit==='kg'">
                    <div class="form-data">
                      <input type="number" class="values-input" readonly formControlName="value"><span class="unit">{{chargeModel.unit}}</span>
                    </div>
                  </div>

                  <div class="equal">═</div>

                  <div class="form-item charges-values">
                    <div class="form-data">
                      <input type="number" class="values-input" readonly formControlName="cost"><span class="unit">$</span>
                    </div>
                  </div>
                </div>

                <!-- 2) standart inputs -->
                <div *ngIf="!chargeModel.field_min && !chargeModel.field_comment && chargeModel.unit" class="input-box">
                  <div class="form-item charges-values">
                    <div class="form-data">
                      <input type="number" class="values-input" (ngModelChange)="calck(chargeValue)" formControlName="price"><span class="unit">$/{{chargeModel.unit}}</span>
                    </div>
                  </div>

                  <div class="cross"></div>

                  <div class="form-item charges-values" *ngIf="chargeModel.unit!=='kg'">
                    <div class="form-data">
                      <input type="number" class="values-input" (ngModelChange)="calck(chargeValue)" formControlName="value"><span class="unit">{{chargeModel.unit}}</span>
                    </div>
                  </div>

                  <div class="form-item charges-values" *ngIf="chargeModel.unit==='kg'">
                    <div class="form-data">
                      <input type="number" class="values-input" readonly formControlName="value"><span class="unit">{{chargeModel.unit}}</span>
                    </div>
                  </div>

                  <div class="equal">═</div>

                  <div class="form-item charges-values">
                    <div class="form-data">
                      <input type="number" class="values-input" readonly formControlName="cost"><span class="unit">$</span>
                    </div>
                  </div>
                </div>

                <!-- 3) cost + comment -->
                <div *ngIf="!chargeModel.field_min && chargeModel.field_comment && !chargeModel.unit" class="input-box" style="width: 70%;">
                  <div class="form-item " style="margin-right: 10px;">
                    <div class="form-data">
                      <input type="text"  formControlName="comment">
                    </div>
                  </div>

                  <div class="form-item charges-values">
                    <div class="form-data">
                      <input type="number" class="values-input" (change)="calckCost(chargeValue)" formControlName="cost"><span class="unit">$</span>
                    </div>
                  </div>
                </div>

                <!-- 4) only cost-->
                <div *ngIf="!chargeModel.field_min && !chargeModel.field_comment && !chargeModel.unit" class="input-box">
                  <div class="form-item charges-values">
                    <div class="form-data">
                      <input type="number" class="values-input" (change)="calckCost(chargeValue)" formControlName="cost"><span class="unit">$</span>
                    </div>
                  </div>
                </div>

              </div>

            </ng-template>
          </div>
        </div>
      </div>

      <div style="width: 30%;">
        <div class="form-block-sub-title">List of Charges</div>
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;" >
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field">
            <ng-template *ngFor="let chargeModel of chargeModel;let i = index;" [ngSwitchCase]="chargeModel.field_name">
              <div *ngIf="!chargeValue.value.select" class="list-charges">

                <label class="">
                  <input  type="checkbox" formControlName="select" >
                  <i></i>
                  <span class="charges-title">{{chargeModel.name}}</span>
                </label>

                <div class="form-item charges-values">
                  <div class="form-data">
                    <!-- <span class="kg">
                      <input type="number" class="values-input" formControlName="cost">
                      $
                    </span> -->

                    <input type="number" class="values-input" formControlName="cost"><span class="unit">$</span>

                  </div>
                </div>

              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
    <!-- NO DETAIL MAKET -->
    <div class="charges" *ngIf="rateForm.value.rate_type==='nodetail'">

      <div style="width: 50%;">
        <div class="form-block-sub-title">The rate includes following charges</div>
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;">
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field">
            <ng-template *ngFor="let chargeModel of chargeModel;let i = index;" [ngSwitchCase]="chargeModel.field_name">
              <div *ngIf="chargeValue.value.select" class="included-fees">

                <label *ngIf="!chargeModel.requare">
                  <input  type="checkbox" [checked]="chargeModel.requare===true" formControlName="select">
                  <i></i>
                  <span class="charges-title">{{chargeModel.name}}</span>
                </label>

                <label *ngIf="chargeModel.requare">
                  <input  type="checkbox" [checked]="chargeModel.requare" [disabled]="chargeModel.requare">
                  <i style="color: #83909E; cursor:auto;"></i>
                  <span class="charges-title" style="color: #83909E; cursor:auto;">{{chargeModel.name}}</span>
                </label>

              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div style="width: 50;">
        <div class="form-block-sub-title">List of Charges</div>
        <div formArrayName="values" *ngFor="let chargeValue of charges.controls; let i = index;" >
          <div [formGroupName]="i" [ngSwitch]="chargeValue.value.field">
            <ng-template *ngFor="let chargeModel of chargeModel;let i = index;" [ngSwitchCase]="chargeModel.field_name">
              <div *ngIf="!chargeValue.value.select" class="list-charges">

                <label>
                  <input  type="checkbox" formControlName="select" >
                  <i></i>
                  <span class="charges-title">{{chargeModel.name}}</span>
                </label>

              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>

    <div class="total">
      <div class="total-detail" *ngIf="rateForm.value.rate_type==='detail'">
        <div class="">Total:</div>
        <div class="color-red">{{rateForm.value.total_cost}}</div>
        <div class="color-red">$</div>
      </div>

      <div class="total-nodetail" *ngIf="rateForm.value.rate_type==='nodetail'">
        <div>Total, USD:</div>
        <input type="number" class="total-cost" formControlName="total_cost">
      </div>

      <label>
        <input  type="checkbox" formControlName="profit_include" >
        <i></i>
        <span class="charges-title">Profit is included</span>
      </label>
    </div>

    <div class="form-item-layout" style="margin-top: 40px; width: 100%;">
      <div class="form-item charges-values" style="width: 100%;">
        <div class="form-data" style="width: 100%;">
          <input type="text" class="values-input" formControlName="comment" placeholder="Your Comment..." style="max-width: 100%;">
        </div>
      </div>
    </div>

    <!-- <button (click)="addCharge()">addCharge</button> -->

  </div>

</form>

<ng-template #deleteRateDialogRef let-data>
  <h1 mat-dialog-title>Delete rate?</h1>
  <div mat-dialog-content>After deletion, restoration will not be possible</div>
  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</ng-template>








