<div class="content">
  <div class="user-module">
    <div class="auth-bg">
      <div class="auth-form">
        <div class="hdr">
          <span class="logo"></span>
        </div>
        <div class="fm-body">

          <form *ngIf="!resetPasswordForm.value.uid" autocomplete="off" [formGroup]="getCodeForm" (ngSubmit)="getCode()">
            <div class="form-row inline">
              <div class="form-item">
                <div class="form-label">Логин:</div>
                <div class="form-input">
                  <input formControlName="login"
                    type="text"
                    name="login"
                    placeholder="—"
                    autocomplete="off"
                  >
                </div>
              </div>
            </div>
            <div class="form-row inline">
              <div class="form-item">
                <span class="btn" (click)="getCode()">Получить код для сменны пароля</span>
              </div>
            </div>
            <button type="submit" style="display: none;">Submit</button>
          </form>

          <form *ngIf="resetPasswordForm.value.uid" autocomplete="off" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
            <div class="form-row inline">
              <div class="form-item">
                <div class="form-label">Логин:</div>
                <div class="form-input">
                  <input formControlName="login"
                    type="text"
                    name="login"
                    placeholder="—"
                    autocomplete="off"
                    readonly
                  >

                </div>
              </div>
              <div class="form-item">
                <div class="form-label">Код:</div>
                <div class="form-input">
                  <input formControlName="code"
                    type="text"
                    name="login"
                    placeholder="—"
                    autocomplete="off"
                  >

                </div>
              </div>
            </div>
            <div class="form-row inline sp">
              <div class="form-item">
                <div class="form-label">Введите новый пароль:</div>
                <div class="form-input">
                  <input [type]="passwordVisible ? 'text' : 'password'" autocomplete="off" formControlName="password" placeholder="">
                  <button type="button" (click)="togglePasswordVisibility()" [class]="passwordVisible? 'btn-password password-visible':' btn-password toggle-password'"></button>
                </div>
              </div>
              <div class="form-item">
                <div class="form-label">Подтвердите пароль:</div>
                <div class="form-input">
                  <input [type]="passwordVisible ? 'text' : 'password'" autocomplete="off" formControlName="confirm_password" placeholder="">
                  <button type="button" (click)="togglePasswordVisibility()" [class]="passwordVisible? 'btn-password password-visible':' btn-password toggle-password'"></button>
                </div>
              </div>
              <!-- <div class="form-item">
                <div class="form-label">Введите новый пароль:</div>
                <div class="form-input">
                  <input [type]="passwordVisible ? 'text' : 'password'" autocomplete="off" formControlName="password" value="" placeholder="">
                  <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
                    {{ passwordVisible ? 'Скрыть' : 'Показать' }}
                  </button>
                </div>
              </div>
              <div class="form-item">
                <div class="form-label">Подтвердите пароль:</div>
                <div class="form-input">
                  <input [type]="passwordVisible ? 'text' : 'password'"autocomplete="off" formControlName="confirm_password" value="" placeholder="">
                  <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
                    {{ passwordVisible ? 'Скрыть' : 'Показать' }}
                  </button>
                </div>
              </div> -->
            </div>
            <div class="form-row inline">
              <div class="form-item">
                <span class="btn" (click)="onResetPassword()">Изменить пароль</span>
              </div>
            </div>
            <button type="submit" style="display: none;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
