.currencys-popap {
  display: flex;
  gap: 15px;
  flex-direction: column;
  .title {
    background-color: #4b66ad;
    color: white;
    padding: 5px 15px;
  }
  .currencys {
    margin: 0 15px;
    .subtitle {
      display: flex;
      margin-bottom: 5px;
      border-bottom: 1px solid #4b66ad;
      font-weight: bold;
      .text {
        margin-right: auto;
      }
      .link {
        pointer-events: all;
        color: #4b66ad;
        text-decoration: none;
        width: 45px;
        display: flex;
        align-items: center;
      }
      .link::after {
        content: "";
        margin-left: auto;
        width: 20px;
        height: 20px;
        background-image: url("../../../../assets/globe.svg");
      }
    }
    .currencys-list {
      display: flex;
      gap: 15px;
      .currency {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .name {
          font-size: 10px;
          color: #606a74;
        }
        .value {
          color: #2c3640;
        }
      }
    }
  }
  .currencys:last-child {
    margin-bottom: 15px;
  }
}
