@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.core();

// Определение палитр
$cargodrom-frontend-primary: mat.define-palette(mat.$indigo-palette);
$cargodrom-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$cargodrom-frontend-warn: mat.define-palette(mat.$red-palette);

// Определение темы
$cargodrom-frontend-theme: mat.define-light-theme((
  color: (
    primary: $cargodrom-frontend-primary,
    accent: $cargodrom-frontend-accent,
    warn: $cargodrom-frontend-warn,
  )
));

// Применение всех компонентов с новой темой
@include mat.all-component-themes($cargodrom-frontend-theme);

// Импорт других стилей
@import url('./app/cargodrom.css');

html, body { height: 100%; }
body {
  margin: 0;
}




// @use '@angular/material' as mat;

// @include mat.core();
// @include mat.strong-focus-indicators((
//   border-style: dotted,
//   border-width: 4px,
//   border-radius: 2px,
// ));

// $cargodrom-frontend-primary: mat.define-palette(mat.$indigo-palette, 500);
// $cargodrom-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $cargodrom-frontend-warn: mat.define-palette(mat.$red-palette);

// $cargodrom-frontend-theme: mat.define-light-theme((
//   color: (
//     primary: $cargodrom-frontend-primary,
//     accent: $cargodrom-frontend-accent,
//     warn: $cargodrom-frontend-warn,
//   )
// ));

// @include mat.all-component-themes($cargodrom-frontend-theme);
// // @include mat.strong-focus-indicators-theme(purple);

// @import url('./app/cargodrom.css');
// html, body { height: 100%; }
// body {
//   margin: 0;

// }


// до обновы
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;

// @include mat.all-legacy-component-typographies();
// @include mat.legacy-core();

// $cargodrom-frontend-primary: mat.define-palette(mat.$indigo-palette);
// $cargodrom-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


// $cargodrom-frontend-warn: mat.define-palette(mat.$red-palette);

// $cargodrom-frontend-theme: mat.define-light-theme((
//   color: (
//     primary: $cargodrom-frontend-primary,
//     accent: $cargodrom-frontend-accent,
//     warn: $cargodrom-frontend-warn,
//   )
// ));


// @include mat.all-legacy-component-themes($cargodrom-frontend-theme);

// @import url('./app/cargodrom.css');
// html, body { height: 100%; }
// body {
//   margin: 0;

// }
