@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.core();

// Определение палитр
$cargodrom-frontend-primary: mat.define-palette(mat.$indigo-palette);
$cargodrom-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$cargodrom-frontend-warn: mat.define-palette(mat.$red-palette);

// Определение темы
$cargodrom-frontend-theme: mat.define-light-theme((
  color: (
    primary: $cargodrom-frontend-primary,
    accent: $cargodrom-frontend-accent,
    warn: $cargodrom-frontend-warn,
  )
));

// Применение всех компонентов с новой темой
@include mat.all-component-themes($cargodrom-frontend-theme);

// Импорт других стилей
@import url('./app/styles/cargodrom.css');
@import url('./app/styles/material.css');
@import url('./app/styles/btn.css');
@import url('./app/styles/table.css');
@import url('./app/styles/input.css');
@import url('./app/styles/form.css');


html, body { height: 100%; }
body {
  margin: 0;
}



/* Убирает стрелочки в Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; margin: 0;
}
/* Убирает стрелочки в Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Стили только для Firefox */
@-moz-document url-prefix() {
}




// /* Стилизованный скроллбар */
// ::-webkit-scrollbar {
//   width: 14px;
//   margin: 20px;
//   padding: 20px;
// }

// ::-webkit-scrollbar-track {
//   background: linear-gradient(to bottom, #ff7eb3, #ff758c);
//   border-radius: 10px;

// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(255, 255, 255, 0.7);
//   border-radius: 10px;
//   border: 3px solid transparent;
//   background-clip: content-box;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: rgba(255, 255, 255, 0.9);
//   background-clip: content-box;
// }

// html {
//   scrollbar-color: rgba(255, 255, 255, 0.7) #ff758c;
//   scrollbar-width: thin;
//   scroll-margin-left: 10px;
// }

// @use '@angular/material' as mat;

// @include mat.core();
// @include mat.strong-focus-indicators((
//   border-style: dotted,
//   border-width: 4px,
//   border-radius: 2px,
// ));

// $cargodrom-frontend-primary: mat.define-palette(mat.$indigo-palette, 500);
// $cargodrom-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $cargodrom-frontend-warn: mat.define-palette(mat.$red-palette);

// $cargodrom-frontend-theme: mat.define-light-theme((
//   color: (
//     primary: $cargodrom-frontend-primary,
//     accent: $cargodrom-frontend-accent,
//     warn: $cargodrom-frontend-warn,
//   )
// ));

// @include mat.all-component-themes($cargodrom-frontend-theme);
// // @include mat.strong-focus-indicators-theme(purple);

// @import url('./app/cargodrom.css');
// html, body { height: 100%; }
// body {
//   margin: 0;

// }


// до обновы
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;

// @include mat.all-legacy-component-typographies();
// @include mat.legacy-core();

// $cargodrom-frontend-primary: mat.define-palette(mat.$indigo-palette);
// $cargodrom-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


// $cargodrom-frontend-warn: mat.define-palette(mat.$red-palette);

// $cargodrom-frontend-theme: mat.define-light-theme((
//   color: (
//     primary: $cargodrom-frontend-primary,
//     accent: $cargodrom-frontend-accent,
//     warn: $cargodrom-frontend-warn,
//   )
// ));


// @include mat.all-legacy-component-themes($cargodrom-frontend-theme);

// @import url('./app/cargodrom.css');
// html, body { height: 100%; }
// body {
//   margin: 0;

// }
