.table-list{
  margin: 0 20px;
}
tr{
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.table-list table tr:nth-child(even) td {
  background: #F7F9FC;
}
.table-list table tr:nth-child(odd) td {
  background: white;
}
.table-list table tr.example-expanded-row td {
  background: #F7F9FC;
}

tr.example-detail-row {
  height: 0;
  // border: 0;
}
// tr.example-element-row:not(.example-expanded-row):hover {
//   background: whitesmoke;
// }

// tr.example-element-row:not(.example-expanded-row):active {
//   background: #efefef;
// }






.example-element-detail {
  overflow: hidden;
  display: flex;
  // background: red;
  border-top: 1px solid rgba(0, 0, 0, 0.12);


}

// .expand{
//   border: none;


// }

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

